<html>
<head>
    <title>Smashable Christmas Lights</title>
    <link rel="stylesheet" media="screen" href="christmaslights.css"/>
    <script type="text/javascript" src="soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript"
            src="http://yui.yahooapis.com/combo?2.6.0/build/yahoo-dom-event/yahoo-dom-event.js&2.6.0/build/animation/animation-min.js"></script>
    <script type="text/javascript" src="christmaslights.js"></script>
    <script type="text/javascript">
        var urlBase = './';
        soundManager.url = './';
    </script>
</head>

<body>

<div id="lights">
    <!-- lights go here -->
</div>


</body>
</html>
