{% load i18n static core_tags legends_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {# open graph: http://ogp.me/ #}
    <meta property="og:image"
          content="{% block og_image %}{% static 'images/coLegend_screenshot_small.png' %}{% endblock %}"/>
    <meta property="og:site_name" content="coLegend' %}"/>
    <meta property="og:description"
          content="A Person Development Platform built around the values of 'conscious' 'connected' and 'continuous'."/>
    <!-- Add Your favicon here -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <title>coLegend - About</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}">


    <!-- Animation CSS -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">

    <!-- Fontawesome CSS -->
    <link href="{% static 'components/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'coicons/css/index.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'about/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'about/css/about.css' %}" rel="stylesheet">
    <link href="{% static 'css/colegend.css' %}" rel="stylesheet">
</head>
<body id="page-top" class="bg-main-superlight">
<div class="navbar-wrapper">
    <nav class="navbar navbar-default bg-faded navbar-fixed-top" role="navigation" style="padding: 0;">
        <div class="container" style="padding: 0">
            <a class="navbar-brand" href="#page-top">
                <img id="logo" class="img-responsive" src="{% static 'images/coLegendLogo_86x18.png' %}">
            </a>
            <button type="button" class="navbar-toggler hidden-md-up pull-right" data-toggle="collapse"
                    data-target="#navbar">
                &#9776;
            </button>

            <div id="navbar" class="navbar-collapse collapse navbar-toggleable-sm">
                <ul class="nav navbar-nav navbar-right pull-right">
                    {% if request.user.is_authenticated %}
                        <a id="login" href="{% url "home" %}" class="btn btn-success pull-right">Home</a>
                    {% else %}
                        <div class="btn-group pull-right" role="group">
                            <a id="join" href="{% url "join" %}?next=/" class="btn btn-success">Join</a>
                            <a id="login" href="{% url "account_login" %}?next=/" class="btn btn-secondary">Login</a>
                        </div>
                    {% endif %}
                    <li class="nav-item active" style=""><a class="page-scroll" href="#page-top">About</a></li>
                    <li class="nav-item"><a class="page-scroll" href="#features">Features</a></li>
                    <li class="nav-item"><a class="page-scroll" href="#pricing">Pricing</a></li>
                    <li class="nav-item"><a class="page-scroll" href="#team">Team</a></li>
                    <li class="nav-item"><a class="page-scroll" href="#contact">Contact</a></li>

                </ul>
            </div>
        </div>
    </nav>

</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div id="indicator-box">
        <ol class="carousel-indicators">
            <li data-target="#inSlider" data-slide-to="0" class="active"></li>
            <li data-target="#inSlider" data-slide-to="1"></li>
            <li data-target="#inSlider" data-slide-to="2"></li>
            <li data-target="#inSlider" data-slide-to="3"></li>
        </ol>
    </div>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item item active">
            <div class="container">
                <div class="carousel-caption tilted">
                    <h1>
                        Personal Development
                    </h1>

                    <p class=""><i>Socially Intelligent Platform</i></p>

                    <p>
                        Once upon a time.. is now!
                    </p>

                    <p><a class="btn btn-lg btn-success page-scroll" href="#" onclick="playintro();" role="button">Start
                        Video</a></p>
                </div>
                <div class="carousel-image wow zoomIn back-tilted">
                    <a href="#">
                        <img src="{% static 'images/coLegendLogo.png' %}" alt="logo"/>
                    </a>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back zero"></div>
        </div>
        <div class="carousel-item item">
            <div class="container">
                <div class="carousel-caption blank tilted">
                    <h1>
                        become Conscious
                    </h1>

                    <p> of what you truly want</p>

                    <p><a class="btn btn-lg btn-success page-scroll" href="#" onclick="playintro();" role="button">Start
                        Video</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
        <div class="carousel-item item">
            <div class="container">
                <div class="carousel-caption blank tilted">
                    <h1>
                        be Connected
                    </h1>

                    <p> with fellows who support you along the way</p>

                    <p><a class="btn btn-lg btn-success page-scroll" href="#" onclick="playintro();" role="button">Start
                        Video</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
        <div class="carousel-item item">
            <div class="container">
                <div class="carousel-caption blank tilted">
                    <h1>
                        Continuously enjoy
                    </h1>

                    <p> a legendary life =]</p>

                    <p><a class="btn btn-lg btn-success page-scroll" href="#" onclick="playintro();" role="button">Start
                        Video</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back three"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section id="intro" class="container services">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <div id="intro-video-container" class="embed-responsive embed-responsive-16by9 col-xs-12">
                <div style="padding-top: 10px; color: white">..video is loading..</div>
                <iframe id="intro-video" class="embed-responsive-item" allowfullscreen
                        src="//www.youtube.com/embed/AtHZT-YwLss?rel=0&amp;?enablejsapi&amp;showinfo=0"></iframe>
                <script>
                    function playintro() {
                        document.getElementById("intro-video").src += '&amp;autoplay=1';
                    }
                </script>
            </div>
        </div>
    </div>

</section>

<section id="services" class="container services">
    <p id="vision" class="lead text-center text-main-dark">{% icon 'quote-left' color='grey' %} A world where people get
        support from structure, technology and each other to live a fully conscious life worthy of continuously sharing
        their personal story and fusing individual potentials to transform history into an ongoing
        legend. {% icon 'quote-right' color='grey' %}</p>
    <div class="row text-center">
        <div class="col-sm-4">
            {#            <img class="img-circle" src="{% static 'website/images/mentor_140x140.jpg' %}" alt="Mentor"/>#}
            {% icon 'apps' classes='fa-4x text-category-6' %}
            <h2>Conscious Apps<br/>
                {#                <small>Visioning Planing Managing</small>#}
            </h2>

            <p class="text-left">
                Uncover your <u>deep desires</u> and explore your legendary <b style="display:inline-block;">life
                vision</b>. Benefit from online <u>interactive
                visioning tools</u> and use a management system to make sure you always know your <u>next
                steps</u>.
            </p>

            {#            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>#}
        </div>
        <div class="col-sm-4">
            {#            <img class="img-circle" src="{% static 'website/images/manager_140x140.jpg' %}" alt="Manager"/>#}
            {% icon 'community' classes='fa-4x text-category-4' %}
            <h2>Connected Community<br/>
                {#                <small>Community Sharing Groups</small>#}
            </h2>

            <p class="text-left">
                Feel connected and get <u>active support</u> by being part of a larger <b>community</b> of benevolent
                fellows called "<i>legends</i>" who share the journey of living up to your <u>full potential</u> and
                making <u>dreams come true</u>.

            </p>

            {#            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>#}
        </div>
        <div class="col-sm-4">
            {#            <img class="img-circle" src="{% static 'website/images/motivator_140x140.jpg' %}" alt="Motivator"/>#}
            {% icon 'process' classes='fa-4x text-category-2' %}
            <h2>Continuous Process<br/>
                {#                <small>Story Challenge Support</small>#}
            </h2>

            <p class="text-left">
                Stay motivated by enjoying creative methods like <b style="display: inline-block">storytelling</b>.
                Let new perspectives <u>challenge and surprise</u> you.
                Overcome obstacles by the support of lasting relationships and <u>personal coaching</u>.
            </p>

            {#            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>#}
        </div>
    </div>
</section>

<section id="features" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>
                <span class="text-category-6"> A collection of useful apps</span><br/>
                <small>+</small>
                <br/>
                <span class="text-category-4">A community of awesome people</span><br/>
                <small>+</small>
                <br/>
                <span class="text-category-2">A tested personal development process</span><br/>
            </h1>
            <h1>
                <small>=</small>
                <br>
                L E G E N D A R Y
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                {% icon 'gatherings' classes='features-icon text-main' %}

                <h2>Social Gatherings</h2>

                <p>A space to make room for your biggest challenges, strongest feelings and emotions.</p>
            </div>
            <div class="m-t-lg">
                {% icon 'vision' classes='features-icon text-main' %}

                <h2>Personal Vision</h2>

                <p>Envision a blueprint of what you really want so that your true desires don’t get out of your
                    sight.</p>
                {#                {% icon 'challenges' classes='features-icon' %}#}
                {##}
                {#                <h2>Comfort Challenges</h2>#}
                {##}
                {#                <p>Take on challenges that help you expand your comfort zone and bring adventures to your everyday#}
                {#                    life.</p>#}
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="{% static 'about/img/gatherings.png' %}" alt="gatherings" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                {% icon 'manager' classes='features-icon text-main' %}

                <h2>Organised Manager</h2>

                <p>Organic Outcome Management. Keep track of what you want and know your next steps to get there.</p>
            </div>
            <div class="m-t-lg">
                {% icon 'journal' classes='features-icon text-main' %}

                <h2>Smart Journal</h2>

                <p>Become more aware of your current life by reflecting on it in a smart and personalized way.</p>

            </div>
        </div>
    </div>
    <div class="text-center" style="margin-bottom: 2em">
        <a href="{% url "join" %}?next=/" class="btn btn-success btn-lg wow tada"
           style="font-size: xx-large">Join</a><br/>
    </div>
</section>

<section id="reasons" class="reasons bg-main-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>7 reasons to join coLegend</h1>
                <br>
                {% for reason in reasons %}
                    <div class="wow zoomIn">
                        <span style="display: none;">{% cycle 'left' 'right' as direction %}</span>
                        <div class="row">
                            {% if direction == 'left' %}
                                <div class="col-lg-8">
                                    {% statement reason.npc reason.text direction=direction %}
                                </div>
                            {% elif direction == 'right' %}
                                <div class="col-lg-8 col-lg-offset-4">
                                    {% statement reason.npc reason.text direction=direction %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center" style="margin: 2rem">
            <a href="{% url "join" %}?next=/" class="btn btn-success btn-lg wow tada"
               style="font-size: xx-large">Join</a><br/>
        </div>
    </div>
</section>


{#<section id="explore" class="container explore">#}
{#    <div class="row">#}
{#        <div class="col-lg-12 text-center">#}
{#            <div class="navy-line"></div>#}
{#            <h1>Explore your own personal legend</h1>#}
{##}
{#            <p>#}
{#                According to an old legend, some people choose to live an awesome life.#}
{#                They break out of the typical#}
{#                life and transform into ..well.. legends - unleashing their full potential - feeling vibrant, charged#}
{#                and#}
{#                energetic.#}
{#                The interesting question here is:#}
{#                Are you one of them?#}
{#                - Well, let us find out..#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row features-block">#}
{#        <div class="col-xs-12 col-md-5 text-right wow fadeInLeft">#}
{#            <img src="{% static 'img/seminar.png' %}" alt="agenda" class="img-responsive center-block">#}
{#        </div>#}
{#        <div class="col-md-2 features-text text-center wow zoomInDown">#}
{#            <small>coLegend</small>#}
{#            <h2>Once upon a time.. is now!</h2>#}
{##}
{#            <p>#}
{#                <a id="join-quick" href="{% url "join" %}?next=/" class="btn btn-info btn-lg">Join</a><br/>#}
{#                <i>the circle of real life legends!</i>#}
{#            </p>#}
{#        </div>#}
{#        <div class="col-md-5 text-right wow fadeInRight">#}
{#            <img src="{% static 'img/agenda.png' %}" alt="agenda" class="img-responsive center-block">#}
{#        </div>#}
{#    </div>#}
{#</section>#}

{#<section class="features">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 text-center">#}
{#                <div class="navy-line"></div>#}
{#                <h1>Even more great feautres</h1>#}
{#                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row features-block">#}
{#            <div class="col-lg-3 features-text wow fadeInLeft">#}
{#                <small>INSPINIA</small>#}
{#                <h2>Perfectly designed </h2>#}
{#                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>#}
{#                <a href="" class="btn btn-primary">Learn more</a>#}
{#            </div>#}
{#            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">#}
{#                <img src="{% static 'img/iphone.jpg' %}" class="img-responsive" alt="dashboard">#}
{#            </div>#}
{#            <div class="col-lg-3 features-text text-right wow fadeInRight">#}
{#                <small>INSPINIA</small>#}
{#                <h2>Perfectly designed </h2>#}
{#                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>#}
{#                <a href="" class="btn btn-primary">Learn more</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</section>#}
{#<section class="timeline gray-section">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 text-center">#}
{#                <div class="navy-line"></div>#}
{#                <h1>Our workflow</h1>#}
{#                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row features-block">#}
{##}
{#            <div class="col-lg-12">#}
{#                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">#}
{#                    <div class="vertical-timeline-block">#}
{#                        <div class="vertical-timeline-icon navy-bg">#}
{#                            {% icon 'briefcase' %}#}
{#                        </div>#}
{##}
{#                        <div class="vertical-timeline-content">#}
{#                            <h2>Meeting</h2>#}
{#                            <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.#}
{#                            </p>#}
{#                            <a href="#" class="btn btn-xs btn-primary"> More info</a>#}
{#                            <span class="vertical-date"> Today <br/> <small>Dec 24</small> </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="vertical-timeline-block">#}
{#                        <div class="vertical-timeline-icon navy-bg">#}
{#                            {% icon 'file-text' %}#}
{#                        </div>#}
{##}
{#                        <div class="vertical-timeline-content">#}
{#                            <h2>Decision</h2>#}
{#                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>#}
{#                            <a href="#" class="btn btn-xs btn-primary"> More info</a>#}
{#                            <span class="vertical-date"> Tomorrow <br/> <small>Dec 26</small> </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="vertical-timeline-block">#}
{#                        <div class="vertical-timeline-icon navy-bg">#}
{#                            {% npc 'Coralina' %}#}
{#                            {% icon 'cogs' %}#}
{#                        </div>#}
{##}
{#                        <div class="vertical-timeline-content">#}
{#                            <h2>Implementation</h2>#}
{#                            <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>#}
{#                            <a href="#" class="btn btn-xs btn-primary"> More info</a>#}
{#                            <span class="vertical-date"> Monday <br/> <small>Jan 02</small> </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#</section>#}

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow zoomIn">
                <h1 class="text-center" style="margin-bottom: 2em">
                    What our legends say ...
                </h1>
                {% statement 'coralina' content="Being part of coLegend has changed my life!<br>I am slowly and surely living up to my dreams and it feels great to have a constant circle of awesome people to explore and share my journey with.</br><span class='small text-muted pull-right'>Coralina, 2015-10-04</small>" show_link=False %}
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Pricing</h1>

                <p>A man who dares to waste one hour of time has not discovered the value of life.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Pricing - Pay as YOU wish
                    </li>
                    <li class="pricing-desc">
                        <div class="text-left">
                            {% trans "I LOVE win-win-situations – and right now I’m confident you can get one: coLegend supports you to figure out what you truly want, how you can get it and accompanies you along the way. And YOU can help coLegend by contributing your energy." as support_text %}
                            {% statement 'tiger' content=support_text %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card text-xs-center">
                                        <h6 class="card-header bg-main"
                                            style="margin: 0;">
                                            Transparent expenses
                                        </h6>
                                        <div class="card-block bg-content">
                                            <h4 class="card-title">{% icon 'money' %}</h4>
                                            <p class="card-text">
                                                {% icon 'check' color='#1ab394' %} Website hosting<br>
                                                {% icon 'check' color='#1ab394' %} coWorker compensation<br>
                                            </p>
                                            <a href="mailto:connect@colegend.org" target="_blank" class="">More
                                                details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card text-xs-center">
                                        <h6 class="card-header bg-main"
                                            style="margin: 0;">
                                            Your support for us
                                        </h6>
                                        <div class="card-block bg-content">
                                            <h4 class="card-title">{% icon 'clock-o' %} and {% icon 'eur' %}</h4>
                                            <p>
                                                You can support us with your time/energy and with a financial donation.
                                            </p>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <a href="mailto:connect@colegend.org" class="btn btn-success"
                                                       target="_blank">Contribute<br>energy</a>
                                                </div>
                                                <div class="col-xs-6">
                                                    {% include 'widgets/donate.html' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center" style="margin-top: 4em">
            <a href="{% url "join" %}?next=/" class="btn btn-success btn-lg wow tada"
               style="font-size: xx-large">Join</a><br/>
        </div>
    </div>
</section>


<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Core Team</h1>

                <p>Feel free to contact us.</p>
            </div>
        </div>
        <div class="row">
            {% for member in team_members %}
                <div class="col-md-3 wow fadeInLeft">
                    {% include 'about/widgets/team_member.html' with image=member.image name=member.name roles=member.roles social_accounts=member.social_accounts url=member.url %}
                </div>
            {% endfor %}

        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p class="lead">{% link 'Let us know' url='mailto:connect@colegend.org' external=True %} if you want to
                    join our team. At coLegend you can chose from a buffet of roles - I am
                    quite sure there is something that matches your taste. ;)</p>
                {% button "Roles page" pattern='roles:index' classes='btn-info' size='small' icon='roles' external=True %}
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-sm-4 text-center">
                {% icon 'smile-o' classes='fa-4x text-main' %}
                <h2>Personal Contact</h2>
                <p class="text-color">We are humans here at coLegend. As such you can <a href="#team">reach the team</a>
                    in person. Via phone or by arranging a meetup face to face.</p>
            </div>
            <div class="col-sm-4 text-center">
                {% icon 'project' classes='fa-4x text-main' %}
                <h2>coLegend</h2>
                <p class="text-center">
                    {% icon 'address' fixed=True %} Berlin, Germany<br>
                    {% icon 'phone' fixed=True %} +49 (176) 979944 80<br>
                    {% icon 'phone' fixed=True %} +49 (178) 3472667
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <span class="fa-stack fa-lg fa-3x">
                {% icon 'thumbs-o-down' classes='text-main' %}
                {% icon 'thumbs-o-up' classes='text-main' %}
                </span>
                <h2>We {% icon 'heart' classes='text-category-1' %} Feedback</h2>
                <p class="text-color">
                    We really do! ;)<br/>
                    Feel free to share your feelings and whatever it is, that is on your mind.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                {% button "Send us mail" url='mailto:connect@colegend.org' classes='btn-success' size='large' icon='send' external=True %}
                {#                <a href="" class="btn btn-primary">Send us mail</a>#}

                <p class="m-t-sm">
                    And follow us on social platforms ...
                </p>
                <ul class="list-inline social-icon">
                    <li>
                        <a href="https://plus.google.com/+ColegendOrgPage" target="_blank">
                        <span class="fa-stack fa-lg">
                            {% icon 'circle' classes='fa-stack-2x text-main' %}
                            {% icon 'google-plus' classes='fa-stack-1x fa-inverse' %}
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/colegend.org" target="_blank">
                            <span class="fa-stack fa-lg">
                                {% icon 'circle' classes='fa-stack-2x text-main' %}
                                {% icon 'facebook' classes='fa-stack-1x fa-inverse' %}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2014 - {% now "Y" %} coLegend</strong><br/>
                    <a href="mailto:connect@colegend.org" class="text-muted" target="_blank">Impressum</a> | Designed by
                    <a
                            href="http://www.eraldo.org" class="text-muted" target="_blank">Eraldo Webdesign</a> |
                    Crafted with <span style="color: red">♥</span>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="hidden-xs" id="audio-box" style="position: fixed; bottom: -0; right: 0; z-index: 10000">
    <audio id="audioplayer" src="{% static 'audio/colegend_song.mp3' %}" controls loop></audio>
</div>

<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/pace.min.js' %}"></script>
<script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/inspinia.js' %}"></script>
{% wagtailuserbar %}
</body>
</html>
