{% load icons %}
{% load avatar_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Add Your favicon here -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

    <title>CoLegend - About</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="{{ STATIC_URL }}css/animate.min.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

</head>
<body id="page-top">
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <img id="logo" class="img-responsive" src="{{ STATIC_URL }}img/CoLegendLogo_86x18.png">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <a id="login" href="{% url "account_login" %}?next=/" class="btn btn-info pull-right">Login</a>
                    <li><a class="page-scroll" href="#page-top">Home</a></li>
                    <li><a class="page-scroll" href="#features">Features</a></li>
                    <li><a class="page-scroll" href="#team">Team</a></li>
{#                    <li><a class="page-scroll" href="#testimonials">Testimonials</a></li>#}
                    <li><a class="page-scroll" href="#pricing">Pricing</a></li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div id="indicator-box">
        <ol class="carousel-indicators">
            <li data-target="#inSlider" data-slide-to="0" class="active"></li>
            <li data-target="#inSlider" data-slide-to="1"></li>
            <li data-target="#inSlider" data-slide-to="2"></li>
            <li data-target="#inSlider" data-slide-to="3"></li>
        </ol>
    </div>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption tilted">
                    <h1>
                        Personal Development
{#                        <img src="{{ STATIC_URL }}img/CoLegendLogo-white.png" class="img-responsive" alt="logo" style="max-height: 100px;"/>#}
                    </h1>

                    <p class=""><i>Socially Intelligent Platform</i></p>

                    <p>Once upon a time.. is now!<br/>join the circle of real life legends!</p>

                    <p><a class="btn btn-lg btn-primary page-scroll" href="#" onclick="playintro();" role="button">Start
                        Video</a></p>
                </div>
                <div class="carousel-image wow zoomIn back-tilted">
                    <a href="#">
                        <img src="{{ STATIC_URL }}website/images/CoLegendLogo.png" alt="logo"/>
                    </a>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back zero"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank tilted">
                    <h1>
                        become Conscious
                    </h1>

                    <p> of what you truly want</p>

                    <p><a class="btn btn-lg btn-primary page-scroll" href="#" onclick="playintro();" role="button">Start
                        Video</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank tilted">
                    <h1>
                        be Connected
                    </h1>

                    <p> with fellows who support you along the way</p>

                    <p><a class="btn btn-lg btn-primary page-scroll" href="#" onclick="playintro();" role="button">Start
                        Video</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank tilted">
                    <h1>
                        Continuously enjoy
                    </h1>

                    <p> a legendary life =]</p>

                    <p><a class="btn btn-lg btn-primary page-scroll" href="#" onclick="playintro();" role="button">Start
                        Video</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back three"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section id="intro" class="container services">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">
            <div id="intro-video-container" class="embed-responsive embed-responsive-16by9 col-xs-12">
                <div style="padding-top: 10px; color: white">..video is loading..</div>
                <iframe id="intro-video" class="embed-responsive-item" allowfullscreen
                        src="//www.youtube.com/embed/7TDC3y010eA?rel=0&amp;?enablejsapi&amp;showinfo=0"></iframe>
                <script>
                    function playintro() {
                        document.getElementById("intro-video").src += '&amp;autoplay=1';
                    }
                </script>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

</section>
<section id="features" class="container services">
    <div class="row text-center">
        <div class="col-sm-4">
            {#            <img class="img-circle" src="{{ STATIC_URL }}website/images/mentor_140x140.jpg" alt="Mentor"/>#}

            <h2>Conscious<br/>
                <small>Coaching Mentoring Visioning</small>
            </h2>

            <p class="text-left">
                Uncover your <u>deep desires</u> and explore your legendary <b style="display:inline-block;">life
                vision</b> by being part of a small success team "<i>your tribe</i>". Together you can use online <u>interactive
                visioning</u> tools. A management system makes sure you always know your <u>next
                steps</u>.
            </p>

            {#            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>#}
        </div>
        <div class="col-sm-4">
            {#            <img class="img-circle" src="{{ STATIC_URL }}website/images/manager_140x140.jpg" alt="Manager"/>#}

            <h2>Connected<br/>
                <small>Community Sharing Groups</small>
            </h2>

            <p class="text-left">
                Feel connected and get <u>active support</u> by being part of a larger <b>community</b> of benevolent
                fellows called "<i>legends</i>" who share the journey of living up to your <u>full potential</u> and
                making <u>dreams come true</u>.

            </p>

            {#            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>#}
        </div>
        <div class="col-sm-4">
            {#            <img class="img-circle" src="{{ STATIC_URL }}website/images/motivator_140x140.jpg" alt="Motivator"/>#}

            <h2>Continuous<br/>
                <small>Challenges Habits Play</small>
            </h2>

            <p class="text-left">
                We know how to <u>challenge and surprise</u> you while keeping a fun <b style="display: inline-block">playful
                attitude</b>. Build <u>lasting relationships</u> and prevent being stuck by getting <u>personal coaching
                sessions</u>.

            </p>

            {#            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>#}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>A community of awesome people<br/>
                <small>+</small>
                <br/>
                <span class="navy"> A collection of useful tools</span></h1>
            <p style="position: relative; top: -10px; height: 0px;">for your personal development</p>

            <h1>
                <small>=</small>
                <br>
                L E G E N D A R Y
            </h1>
        </div>
    </div>
</section>

<section class="container features">
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-comments-o features-icon"></i>

                <h2>Social Gatherings</h2>

                <p>A space to make room for your biggest challenges and strongest feelings and emotions.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-star features-icon"></i>

                <h2>Comfort Challenges</h2>

                <p>Take on challenges that help you expand your comfort zone and bring adventures to your everyday
                    life.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="{{ STATIC_URL }}img/gatherings.png" alt="gatherings" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-book features-icon"></i>

                <h2>Smart Journal</h2>

                <p>Become more aware of your current life by reflecting on it in a smart and personalized way.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-check features-icon"></i>

                <h2>Self-Management System</h2>

                <p>Organic Project Management. Projects start small and may grow bigger with time.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Explore your own personal legend</h1>

            <p>
                According to an old legend, some people choose to live an awesome life.
                They break out of the typical
                life and transform into ..well.. legends - unleashing their full potential - feeling vibrant charged and
                energetic.
                The interesting question here is:
                Are you one of them?
                - Well, let us find it out..
            </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-4 text-right wow fadeInRight">
            <img src="{{ STATIC_URL }}img/seminar.png" alt="agenda" class="img-responsive pull-left">
        </div>
        <div class="col-lg-4 features-text text-center wow fadeInLeft">
            <small>CoLegend</small>
            <h2>Once upon a time.. is now!</h2>

            <p>
                <a href="{% url "account_login" %}?next=/" class="btn btn-primary">join the circle</a><br/>
                <i>of real life legends!</i>
            </p>
        </div>
        <div class="col-lg-4 text-right wow fadeInRight">
            <img src="{{ STATIC_URL }}img/agenda.png" alt="agenda" class="img-responsive pull-right">
        </div>
    </div>
</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Team</h1>

                <p>Feel free to contact us.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="https://www.colegend.org/media/avatars/Corinna_Curiosa/resized/80/Schaukel%20Co.jpg"
                         class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Corinna</span> Curiosa</h4>

                    <p>Happiness Manager. Right Hand. Guide. Support Fairy. </p>
                    <ul class="list-inline social-icon">
                        <li><a href="http://www.google.com/profiles/107120626707532567348" target="_blank"><i
                                class="fa fa-google-plus"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/CorinnaS91" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="https://www.colegend.org/media/avatars/Eraldo/resized/200/Avatar-2014_BcCMVCZ.jpg"
                         class="img-responsive img-circle" alt="" style="max-height: 88px;">
                    <h4><span class="navy">Eraldo</span> Energy</h4>

                    <p>Left Hand. Meeting Master. Gamification Guru. Resource Juggler. Coin Master. Presenter. Champion.
                        Webster. CoNerd. Styler. Robot. John Doe.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="http://www.google.com/profiles/108330741006963499878" target="_blank"><i
                                class="fa fa-google-plus"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/Eraldo" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="https://www.colegend.org/media/avatars/WaKaSaWaKaSa/resized/80/tumblr_nc572v1cqw1sz5crno1_1280.jpg"
                         class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Peter</span> Ahlhorn</h4>

                    <p>Gatherer. Right Hand. Meeting Master.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="http://www.google.com/profiles/115716934713164087185" target="_blank"><i
                                class="fa fa-google-plus"></i></a>
                        </li>
                        {#                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>#}
                        {#                        </li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Let us know if you want to join our team. At CoLegend you can chose from a buffet of roles - I am
                    quite sure there is something that matches your taste. ;)</p>
            </div>
        </div>
    </div>
</section>

{#<section class="features">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 text-center">#}
{#                <div class="navy-line"></div>#}
{#                <h1>Even more great feautres</h1>#}
{#                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row features-block">#}
{#            <div class="col-lg-3 features-text wow fadeInLeft">#}
{#                <small>INSPINIA</small>#}
{#                <h2>Perfectly designed </h2>#}
{#                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>#}
{#                <a href="" class="btn btn-primary">Learn more</a>#}
{#            </div>#}
{#            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">#}
{#                <img src="{{ STATIC_URL }}img/iphone.jpg" class="img-responsive" alt="dashboard">#}
{#            </div>#}
{#            <div class="col-lg-3 features-text text-right wow fadeInRight">#}
{#                <small>INSPINIA</small>#}
{#                <h2>Perfectly designed </h2>#}
{#                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>#}
{#                <a href="" class="btn btn-primary">Learn more</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</section>#}
{#<section class="timeline gray-section">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 text-center">#}
{#                <div class="navy-line"></div>#}
{#                <h1>Our workflow</h1>#}
{#                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row features-block">#}
{##}
{#            <div class="col-lg-12">#}
{#                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">#}
{#                    <div class="vertical-timeline-block">#}
{#                        <div class="vertical-timeline-icon navy-bg">#}
{#                            <i class="fa fa-briefcase"></i>#}
{#                        </div>#}
{##}
{#                        <div class="vertical-timeline-content">#}
{#                            <h2>Meeting</h2>#}
{#                            <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.#}
{#                            </p>#}
{#                            <a href="#" class="btn btn-xs btn-primary"> More info</a>#}
{#                            <span class="vertical-date"> Today <br/> <small>Dec 24</small> </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="vertical-timeline-block">#}
{#                        <div class="vertical-timeline-icon navy-bg">#}
{#                            <i class="fa fa-file-text"></i>#}
{#                        </div>#}
{##}
{#                        <div class="vertical-timeline-content">#}
{#                            <h2>Decision</h2>#}
{#                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>#}
{#                            <a href="#" class="btn btn-xs btn-primary"> More info</a>#}
{#                            <span class="vertical-date"> Tomorrow <br/> <small>Dec 26</small> </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="vertical-timeline-block">#}
{#                        <div class="vertical-timeline-icon navy-bg">#}
{#                            <i class="fa fa-cogs"></i>#}
{#                        </div>#}
{##}
{#                        <div class="vertical-timeline-content">#}
{#                            <h2>Implementation</h2>#}
{#                            <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>#}
{#                            <a href="#" class="btn btn-xs btn-primary"> More info</a>#}
{#                            <span class="vertical-date"> Monday <br/> <small>Jan 02</small> </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#</section>#}

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>

                <h1>
                    What our users say
                </h1>

                <div class="testimonials-text">
                    <i>"Being part of CoLegend has changed my life!<br>I am slowly and surely living up to my dreams and
                        it feels great to have a constant circle of awesome people to explore and share my journey
                        with."</i>
                </div>
                <small>
                    <strong>2015-10-04 - Coralina</strong>
                </small>
            </div>
        </div>
    </div>

</section>
{#<section class="comments gray-section" style="margin-top: 0">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 text-center">#}
{#                <div class="navy-line"></div>#}
{#                <h1>What our partners say</h1>#}
{#                <p>Donec sed odio dui. Etiam porta sem malesuada. </p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row features-block">#}
{#            <div class="col-lg-4">#}
{#                <div class="bubble">#}
{#                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."#}
{#                </div>#}
{#                <div class="comments-avatar">#}
{#                    <a href="" class="pull-left">#}
{#                        <img alt="image" src="{{ STATIC_URL }}img/avatar3.jpg">#}
{#                    </a>#}
{#                    <div class="media-body">#}
{#                        <div class="commens-name">#}
{#                            Andrew Williams#}
{#                        </div>#}
{#                        <small class="text-muted">Company X from California</small>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4">#}
{#                <div class="bubble">#}
{#                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."#}
{#                </div>#}
{#                <div class="comments-avatar">#}
{#                    <a href="" class="pull-left">#}
{#                        <img alt="image" src="{{ STATIC_URL }}img/avatar1.jpg">#}
{#                    </a>#}
{#                    <div class="media-body">#}
{#                        <div class="commens-name">#}
{#                            Andrew Williams#}
{#                        </div>#}
{#                        <small class="text-muted">Company X from California</small>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4">#}
{#                <div class="bubble">#}
{#                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."#}
{#                </div>#}
{#                <div class="comments-avatar">#}
{#                    <a href="" class="pull-left">#}
{#                        <img alt="image" src="{{ STATIC_URL }}img/avatar2.jpg">#}
{#                    </a>#}
{#                    <div class="media-body">#}
{#                        <div class="commens-name">#}
{#                            Andrew Williams#}
{#                        </div>#}
{#                        <small class="text-muted">Company X from California</small>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#</section>#}
{#    #}
{#<section class="features">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 text-center">#}
{#                <div class="navy-line"></div>#}
{#                <h1>More and more extra great feautres</h1>#}
{#                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-lg-5 col-lg-offset-1 features-text">#}
{#                <small>INSPINIA</small>#}
{#                <h2>Perfectly designed </h2>#}
{#                <i class="fa fa-bar-chart big-icon pull-right"></i>#}
{#                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>#}
{#            </div>#}
{#            <div class="col-lg-5 features-text">#}
{#                <small>INSPINIA</small>#}
{#                <h2>Perfectly designed </h2>#}
{#                <i class="fa fa-bolt big-icon pull-right"></i>#}
{#                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-lg-5 col-lg-offset-1 features-text">#}
{#                <small>INSPINIA</small>#}
{#                <h2>Perfectly designed </h2>#}
{#                <i class="fa fa-clock-o big-icon pull-right"></i>#}
{#                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>#}
{#            </div>#}
{#            <div class="col-lg-5 features-text">#}
{#                <small>INSPINIA</small>#}
{#                <h2>Perfectly designed </h2>#}
{#                <i class="fa fa-users big-icon pull-right"></i>#}
{#                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</section>#}
<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Pricing</h1>

                <p>A man who dares to waste one hour of time has not discovered the value of life.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Explorer
                    </li>
                    <li class="pricing-desc">
                        Explore all the legendary features.<br/>
                        Your first month is free of charge.
                    </li>
                    <li class="pricing-price">
                        <span>free!</span>
                    </li>
                    <li>
                        {% icon 'check' %} All "<b>Legend</b>" features
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="{% url "account_login" %}?next=/">Signup</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Legend
                    </li>
                    <li class="pricing-desc">
                        Access to the community and all the features and resources.
                    </li>
                    <li class="pricing-price">
                        <span>4€</span> / month
                    </li>
                    <li>
                        {% icon 'check' %} Social Gatherings
                    </li>
                    <li>
                        {% icon 'check' %} Comfort Challenges
                    </li>
                    <li>
                        {% icon 'check' %} Smart Journal
                    </li>
                    <li>
                        {% icon 'check' %} Self-Management System
                    </li>
                    <li>
                        {% icon 'check' %} Support
                    </li>
                    <li>
                        {% icon 'check' %} ...more!
                    </li>
                    <li class="plan-action">
                        <a class="btn btn-primary btn-xs" href="{% url "account_login" %}?next=/">Signup</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Premium Legend
                    </li>
                    <li class="pricing-desc">
                        As a premium member you will get personal special coaching and support on top of all the other
                        features.
                    </li>
                    <li class="pricing-price">
                        <span>42€</span> / month
                    </li>
                    <li>
                        {% icon 'check' %} All "<b>Legend</b>" features
                    </li>
                    <li>
                        {% icon 'check' %} <strong>Personal Coaching</strong>
                    </li>
                    <li>
                        {% icon 'check' %} <strong>Priority Support</strong>
                    </li>
                    <li class="plan-action">
                        <a class="btn btn-primary btn-xs" href="{% url "account_login" %}?next=/">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                <p>* If you can't afford 4€ / month then your account is <span class="navy">free</span> - period.</p>
            </div>
        </div>
    </div>

</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>

                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-2 text-left">
                <p class="text-color"><span style="color: blue;">{% icon 'user' %}</span> Personal contact..</p>

                <p class="text-color">We are humans here at CoLegend. As such you can <a href="#team">reach the team</a>
                    in person. Via phone or by arranging a meetup face to face.</p>
            </div>
            <div class="col-lg-2 text-center">
                <address>
                    <strong><span class="navy">CoLegend</span></strong><br/>
                    Berlin<br/>
                    Germany<br/>
                    <abbr title="Phone">P:</abbr> +49 (176) 97 99 44 80
                </address>
            </div>
            <div class="col-lg-3 text-right">
                <p class="text-color">We love feedback! <span style="color: red;">{% icon 'heart' %}</span></p>

                <p class="text-color">We really do! ;)<br/>
                    Feel free to share your feelings and whatever it is, that is on your mind.</p>
            </div>
            {#            <div class="col-lg-4">#}
            {#                <p class="text-color">#}
            {#                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis,#}
            {#                    totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis,#}
            {#                    totam corporis ea,#}
            {#                </p>#}
            {#            </div>#}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:connect@colegend.org" class="btn btn-primary">Send us mail</a>

                <p class="m-t-sm">
                    Or follow us on social platforms
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="https://www.facebook.com/colegend.org" target="_blank"><i
                            class="fa fa-google-plus"></i></a>
                    </li>
                    <li><a href="https://plus.google.com/+ColegendOrgPage" target="_blank"><i
                            class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2014 - {% now "Y" %} CoLegend</strong><br/>
                    <a href="{% url "contact" %}" class="text-muted" target="_blank">Impressum</a> | Designed by <a
                            href="http://www.eraldo.org" class="text-muted" target="_blank">Eraldo Webdesign</a> |
                    Crafted with <span style="color: red">♥</span>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="hidden-xs" id="audio-box" style="position: fixed; bottom: -0; right: 0; z-index: 10000">
    <audio id="audioplayer" src="{{ STATIC_URL }}website/audio/colegend_song.mp3" controls loop></audio>
</div>

<script src="{{ STATIC_URL }}js/jquery-2.1.1.js"></script>
<script src="{{ STATIC_URL }}js/pace.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/classie.js"></script>
<script src="{{ STATIC_URL }}js/cbpAnimatedHeader.js"></script>
<script src="{{ STATIC_URL }}js/wow.min.js"></script>
<script src="{{ STATIC_URL }}js/inspinia.js"></script>
</body>
</html>
