<!-- STYLES -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/css/base.css"/>
<link rel="shortcut icon" href="{{ STATIC_URL }}website/images/favicon.ico">


{# bootstrap #}

{% if offline %}
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}local/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ STATIC_URL }}local/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" rel="stylesheet">
{% else %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% endif %}



