{% extends 'guides/base.html' %}

{% load static %}

{% block title %}My Guidees{% endblock %}

{% block content %}
    <h4>Active Guidees</h4>
    <ul class="list-group">
        {% for relation in active_relations %}
            <a href="{% url 'guides:manage' relation.owner.username %}"
               class="list-group-item">{{ relation.owner.username }}</a>
            {% empty %}
            You do not have guidees yet.
        {% endfor %}
    </ul>
    <p></p>
    <h4>Guidees</h4>
    <ul class="list-group">
        {% for relation in passive_relations %}
            <a href="{% url 'guides:manage' relation.owner.username %}"
               class="list-group-item">{{ relation.owner.username }}</a>
            {% empty %}
            You do not have guidees yet.
        {% endfor %}
    </ul>
{% endblock %}
