{% extends 'guides/base.html' %}

{% load static %}

{% block title %}Cloud Guide{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive center-block"
                 src="{% static 'connected/images/guide.png' %}"
                 alt="Cloud Guide">
        </div>
        <div class="col-sm-8">
            {% if user.connected.guide %}
                <p>
                    Your cloud guide was: {{ user.guiderelation.guide }}
                </p>
            {% elif user.guiderelation.guide %}
                <p>
                    Your cloud guide: {{ user.guiderelation.guide }}
                </p>
                <p>
                    You will meet on the: {{ guide_date }}
                </p>
            {% else %}
                <p>
                    Looks like your Cloud Guide is still on the lookout for you… <br>
                    Don’t worry - he or she will find you soon enough! :)
                </p>
            {% endif %}
        </div>
    </div>
    <p></p>
    {% if user.guiderelation.guide %}
        <h5>Checklist for you and your Cloud Guide</h5>
        <ul class="list-group">
            <li class="list-group-item">
                {% if user.guiderelation.outer_call_checked %}
                    <i class="fa fa-check-square-o"></i>
                {% else %}
                    <i class="fa fa-square-o"></i>
                {% endif %}
                Talked about outer call
            </li>
            <li class="list-group-item">
                {% if user.guiderelation.inner_call_checked %}
                    <i class="fa fa-check-square-o"></i>
                {% else %}
                    <i class="fa fa-square-o"></i>
                {% endif %}
                Talked about inner call
            </li>
            <li class="list-group-item">
                {% if user.guiderelation.coLegend_checked %}
                    <i class="fa fa-check-square-o"></i>
                {% else %}
                    <i class="fa fa-square-o"></i>
                {% endif %}
                Answered any questions about coLegend
            </li>
            <li class="list-group-item">
                {% if user.guiderelation.guiding_checked %}
                    <i class="fa fa-check-square-o"></i>
                {% else %}
                    <i class="fa fa-square-o"></i>
                {% endif %}
                Talked about becoming a Guide
            </li>
        </ul>
    {% endif %}
{% endblock %}
