{% extends 'connected/base.html' %}

{% load static %}

{% block title %}Cloud Guides{% endblock %}

{% block page_links %}
    <a href="{% url 'guides:guide' %}" class="btn btn-link btn-sm">My Guide</a>
    {% if user.connected.guide %}
        <a href="{% url 'guides:guidees' %}" class="btn btn-link btn-sm">My Guidees</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.connected.guide %}
        <h4>Searching for a Guide</h4>
        <ul class="list-group">
            {% for relation in searching_relations %}
                <li class="list-group-item">
                    {% include 'users/widgets/legend.html' with legend=relation.owner %}
                    <form action="{% url 'guides:guide-action' owner=relation.owner.username %}" method="post"
                          style="display: inline-block">{% csrf_token %}
                        <button id="guidee-guide-action" name="guide-action" type="submit"
                                class="btn btn-primary btn-sm">
                            Guide
                        </button>
                    </form>
                </li>
                {% empty %}
                All legends have a guide. :)
            {% endfor %}
        </ul>
        <p></p>
    {% endif %}

    {% if active_relations %}
        <h4>Active Guide Pairs</h4>
        <ul class="list-group">
            {% for relation in active_relations %}
                <li class="list-group-item">
                    {% include 'guides/widgets/relation.html' with guidee=relation.owner guide=relation.guide url=relation.get_absolute_url %}
                </li>
            {% endfor %}
        </ul>
        <p></p>
    {% endif %}

    <h4>Guided Pairs</h4>
    <ul class="list-group">
        {% for relation in passive_relations %}
            <li class="list-group-item">
                {% include 'guides/widgets/relation.html' with guidee=relation.owner guide=relation.guide url=relation.get_absolute_url %}
            </li>
        {% endfor %}
    </ul>
    <p></p>
{% endblock %}
