{% extends 'guides/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Cloud Guide{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive center-block"
                 src="{% static 'connected/images/guide.png' %}"
                 alt="Cloud Guide">
        </div>
        <div class="col-sm-8">
            {% if guiderelation.owner.connected.guide %}
                <p>
                    I was cloud guide for: {{ guiderelation.owner }}
                </p>
            {% else %}
                <p>
                    Your guidee: {{ guiderelation.owner }}
                </p>
            {% endif %}
        </div>
    </div>
    <p></p>
    {% crispy form %}
{% endblock %}
