{% extends 'journals/base.html' %}
{% load core_tags buttons dayentries_tags crispy_forms_tags outcomes_tags %}

{% block title %}Day{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {{ datepickerform.media.css }}
{% endblock %}

{% block page_controls %}
    <div class="btn-group" role="group" aria-label="Basic example">
        {% button 'previous' url=previous_url kind='secondary btn-sm' icon='previous' %}
        {% button 'next' url=next_url kind='secondary btn-sm' icon='next' %}
    </div>
    <div class="btn-group" role="group">
        <button id="date-dropdown" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {% icon 'date' %} Date
        </button>
        <div class="dropdown-menu widget-datepicker" aria-labelledby="date-dropdown">
            {% crispy datepickerform %}
        </div>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {% icon 'scope' %} Scope
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item disabled" href="#">Day</a>
            <a class="dropdown-item" href="{% url 'journals:week' date %}">Week</a>
            <a class="dropdown-item" href="{% url 'journals:month' date %}">Month</a>
            <a class="dropdown-item disabled" href="#">Quarter</a>
            <a class="dropdown-item disabled" href="#">Year</a>
        </div>
    </div>

    <form class="form-inline" action="{% url 'journals:search' %}" method="get" style="display: inline">
        <div class="input-group">
            <input type="text" name="text" class="form-control form-control-sm" placeholder="Search..">
            <span class="input-group-btn">
                <button class="btn btn-sm btn-secondary" type="submit">{% icon 'search' %}</button>
            </span>
        </div>
    </form>

    <div class="pull-right">
        {% button 'import' url='#' kind='secondary btn-sm' icon='import' %}
        {% button 'settings' url=settings_url kind='secondary btn-sm' icon='gear' %}
    </div>
{% endblock %}

{% block content_container %}
    <div class="row">
        <div class="col-md-8">
            {% dayentry_card %}
        </div>
        <div class="col-md-4">
            {#            <div class="content card bg-content">#}
            {#                <div class="card-header">#}
            {#                    Focus Outcomes#}
            {#                </div>#}
            {#                <div class="card-block">#}
            {#                    {% for outcome in outcomes %}#}
            {#                        {% outcome_link %}<br>#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}
            <div class="content card bg-content">
                <div class="card-header">
                    Scheduled
                </div>
                <div class="card-block">
                    {% for outcome in scheduled_outcomes %}
                        {% outcome %}
                    {% empty %}
                        Nothing scheduled.
                    {% endfor %}
                </div>
            </div>
            <div class="content card bg-content">
                <div class="card-header">
                    Deadlines
                </div>
                <div class="card-block">
                    {% for outcome in deadlined_outcomes %}
                        {% outcome %}
                    {% empty %}
                        No deadlines - Yeah!
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {{ datepickerform.media.js }}
    <script type="text/javascript">
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });
    </script>
{% endblock %}
