{% extends 'page.html' %}
{% load icons %}

{% block page_title %}{{ dayentry.date }}{% endblock %}

{% block page_title_extras %}
    <span class="label bg-category-{{ dayentry.date|date:"w" }}">{{ dayentry.date|date:"D" }}</span>
    <small>{% icon "location" %} {{ dayentry.location|default:"?" }}</small>
{% endblock %}

{% block up_url %}{% url "journals:dayentry_list" %}{% endblock %}

{% block page_controls %}
    <a href="{{ dayentry.get_edit_url }}" class="btn btn-primary" role="button">{% icon "edit" %}</a>
    <a href="{{ dayentry.get_delete_url }}" class="btn btn-danger" role="button">{% icon "delete" %}</a>
    {% if dayentry.get_previous %}
        <a href="{{ dayentry.get_previous.get_show_url }}" class="btn btn-default"
           data-toggle="tooltip" title="{{ dayentry.get_previous }}"
           role="button">{% icon "chevron-left" %}</a>
    {% endif %}
    {% if missing %}
    <a href="{% url "journals:dayentry_new" %}?date={{ missing|date:"c" }}" class="new-button btn btn-default" role="button" data-toggle="tooltip" title="New Entry: {{ missing }}">
        {% icon "new" %}
    </a>
    {% endif %}

    {% if dayentry.get_next %}
        <a href="{{ dayentry.get_next.get_show_url }}" class="btn btn-default"
           data-toggle="tooltip" title="{{ dayentry.get_next }}"
           role="button">{% icon "chevron-right" %}</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-{% if day_tasks or trackers_to_track or trackers_tracked %}8{% else %}12{% endif %}">
            <div class="well">
                <div class="pull-right">
                    {% for tag in dayentry.tags.all %}
                        {% include "tags/_tag.html" %}
                    {% endfor %}
                </div>
                <h4>{{ dayentry.focus }}</h4>
                {{ dayentry.content }}
            </div>
        </div>
        {% if day_tasks or trackers_to_track or trackers_tracked %}
            <div class="col-md-4">
                <div class="well well-sm">
                    {% if trackers_to_track or trackers_tracked %}
                        <h4>Trackers</h4>
                        {% if trackers_to_track %}
                            To track<br>
                            {% include "trackers/_daily_trackers.html" with trackers=trackers_to_track %}
                        {% endif %}
                        {% if trackers_tracked %}
                            Tracked<br/>
                            {% include "trackers/_daily_trackers.html" with trackers=trackers_tracked %}
                        {% endif %}
                    {% endif %}
                    {% if scheduled_tasks %}
                        <h4>Scheduled</h4>
                        {% for task in scheduled_tasks %}
                            {% include "tasks/_task_link.html" %}<br/>
                        {% endfor %}
                    {% endif %}
                    {% if deadline_projects or deadline_tasks %}
                        <h4>Deadlined</h4>
                        {% for project in deadline_projects %}
                            {% include "projects/_project_link.html" %}<br/>
                        {% endfor %}
                        {% for task in deadline_tasks %}
                            {% include "tasks/_task_link.html" %}<br/>
                        {% endfor %}
                    {% endif %}
                    {% if done_projects or done_tasks %}
                        <h4>Done</h4>
                        {% for project in done_projects %}
                            {% include "projects/_project_link.html" %}<br/>
                        {% endfor %}
                        {% for task in done_tasks %}
                            {% include "tasks/_task_link.html" %}<br/>
                        {% endfor %}
                    {% endif %}
                    {% if created_projects or created_tasks %}
                        <h4>Created</h4>
                        {% for project in created_projects %}
                            {% include "projects/_project_link.html" %}<br/>
                        {% endfor %}
                        {% for task in created_tasks %}
                            {% include "tasks/_task_link.html" %}<br/>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
