{% extends 'page.html' %}

{% block page_title %}
    Journal Entries
{% endblock %}

{% block up_url %}{% url "journals:dayentry_list" %}{% endblock %}
{% block up_icon %}book{% endblock %}

{% block page_title_extras %}
    <span class="badge">{{ latest.count }}</span>
    <span class="streak badge"><i class="fa fa-link"></i> {{ streak }}</span>
{% endblock %}

{% block page_controls %}
    <a href="{% url "journals:dayentry_new" %}" class="btn btn-default" role="button">New</a>
{% endblock %}

{% block page_content %}
    <div class="dayentry-list">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Location(s)</th>
                <th>Focus</th>
            </tr>
            </thead>
            <tbody>
            {% for dayentry in latest %}
                <tr>
                    <td>
                        <a href="{{ dayentry.get_show_url }}">{{ dayentry.date }}</a><br>
                    </td>
                    <td>
                        {{ dayentry.location }}
                    </td>
                    <td>{{ dayentry.focus }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
