{% extends 'page.html' %}
{% load icons %}

{% block page_title %}{{ dayentry.date }}{% endblock %}

{% block page_title_extras %}
    <small>{% icon "location" %} {{ dayentry.location|default:"?" }}</small>
{% endblock %}

{% block up_url %}{% url "journals:dayentry_list" %}{% endblock %}

{% block page_controls %}
    <a href="{{ dayentry.get_edit_url }}" class="btn btn-primary" role="button">{% icon "edit" %}</a>
    <a href="{{ dayentry.get_delete_url }}" class="btn btn-danger" role="button">{% icon "delete" %}</a>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-{% if day_tasks %}8{% else %}12{% endif %}">
            <div class="well">
                <div class="pull-right">
                    {% for tag in dayentry.tags.all %}
                        {% include "tags/_tag.html" %}
                    {% endfor %}
                </div>
                <h4>{{ dayentry.focus }}</h4>
                {{ dayentry.content }}
            </div>
        </div>
        {% if day_tasks %}
            <div class="col-md-4">
                <div class="well">
                    {% if scheduled_tasks %}
                        <h4>Scheduled</h4>
                        {% for task in scheduled_tasks %}
                            {% include "tasks/_task_link.html" %}<br/>
                        {% endfor %}
                    {% endif %}
                    {% if deadline_projects or deadline_tasks %}
                        <h4>Deadlined</h4>
                        {% for project in deadline_projects %}
                            {% include "projects/_project_link.html" %}<br/>
                        {% endfor %}
                        {% for task in deadline_tasks %}
                            {% include "tasks/_task_link.html" %}<br/>
                        {% endfor %}
                    {% endif %}
                    {% if done_projects or done_tasks %}
                        <h4>Done</h4>
                        {% for project in done_projects %}
                            {% include "projects/_project_link.html" %}<br/>
                        {% endfor %}
                        {% for task in done_tasks %}
                            {% include "tasks/_task_link.html" %}<br/>
                        {% endfor %}
                    {% endif %}
                    {% if created_projects or created_tasks %}
                        <h4>Created</h4>
                        {% for project in created_projects %}
                            {% include "projects/_project_link.html" %}<br/>
                        {% endfor %}
                        {% for task in created_tasks %}
                            {% include "tasks/_task_link.html" %}<br/>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
