{% extends 'page.html' %}

{% load icons %}

{% block page_title %}
    Journal Entries
{% endblock %}

{% block up_url %}{% url "journals:dayentry_list" %}{% endblock %}

{% block page_title_extras %}
    {% include "lib/_total_counter.html" %}
    <span data-toggle="tooltip" title="Streak">
        <span class="streak badge">{% icon "streak" %} {{ streak }}</span>
    </span>
{% endblock %}

{% block page_controls %}
    <a href="{% url "journals:dayentry_continue" %}" class="open-button btn btn-default" role="button">Today</a>
    <a href="{% url "journals:dayentry_new" %}" class="new-button btn btn-default" role="button">{% icon "new" %}</a>
{% endblock %}

{% block page_content %}
    <div class="dayentry-list">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Location(s)</th>
                <th>Focus</th>
            </tr>
            </thead>
            <tbody>
            {% for dayentry in latest %}
                <tr>
                    <td>
                        <a href="{{ dayentry.get_show_url }}">{{ dayentry.date }}</a><br>
                    </td>
                    <td>
                        {{ dayentry.location }}
                    </td>
                    <td>{{ dayentry.focus }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% include "lib/_pager.html" %}
    </div>
{% endblock %}
