{% extends 'base.html' %}

{% block content %}
    <h1>Journal Entries <span class="badge">{{ latest.count }}</span></h1>

    <div class="dayentry-list">
        <div class="list-controls container-fluid well well-sm">
            <a href="{% url "journals:dayentry_new" %}" class="btn btn-default" role="button">New</a>
        </div>
        {% for dayentry in latest %}
            <a href="{{ dayentry.get_show_url }}">{{ dayentry.date }} - {{ dayentry.location }}</a><br>
        {% endfor %}
    </div>

{% endblock %}
