{% extends 'journals/index.html' %}
{% load dayentries_tags weekentries_tags outcomes_tags %}

{% block content_container %}
   <div class="row">
        <div class="col-md-12">
            {% weekentry_line %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% for day in days %}
                {% dayentry_line day.entry date=day.date %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="content card bg-content">
                <div class="card-header">
                    Scheduled
                </div>
                <div class="card-block">
                    {% for outcome in scheduled_outcomes %}
                        {% outcome %}
                    {% empty %}
                        Nothing scheduled.
                    {% endfor %}
                </div>
            </div>
            <div class="content card bg-content">
                <div class="card-header">
                    Deadlines
                </div>
                <div class="card-block">
                    {% for outcome in deadlined_outcomes %}
                        {% outcome %}
                    {% empty %}
                        No deadlines - Yeah!
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
