{% extends 'journals/base.html' %}
{% load icons buttons dayentries_tags tags_tags crispy_forms_tags %}

{% block title %}Week{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {{ datepickerform.media.css }}
{% endblock %}

{% block page_controls %}
    <div class="btn-group" role="group" aria-label="Basic example">
        {% button 'previous' url=previous_url kind='secondary btn-sm' icon='previous' %}
        {% button 'next' url=next_url kind='secondary btn-sm' icon='next' %}
    </div>
    <div class="btn-group" role="group">
        <button id="date-dropdown" type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {% icon 'date' %} Date
        </button>
        <div class="dropdown-menu widget-datepicker" aria-labelledby="date-dropdown">
            {% crispy datepickerform %}
        </div>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {% icon 'scope' %} Scope
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="{% url 'journals:day' date %}">Day</a>
            <a class="dropdown-item disabled" href="#">Week</a>
            <a class="dropdown-item disabled" href="#">Month</a>
            <a class="dropdown-item disabled" href="#">Quarter</a>
            <a class="dropdown-item disabled" href="#">Year</a>
        </div>
    </div>

    <div class="pull-right">
        {% button 'settings' url=settings_url kind='secondary btn-sm' icon='gear' %}
    </div>
{% endblock %}

{% block content_container %}
    <div class="row">
        <div class="col-md-8">
            {% for day in days %}
                {% dayentry_line day.entry date=day.date %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="content card bg-content">
                <div class="card-header">
                    Focus
                </div>
                <div class="card-block">
                    1. OUTCOME: Outcome 1<br>
                    2. OUTCOME: Outcome 1
                </div>
            </div>
            <div class="content card bg-content">
                <div class="card-header">
                    Scheduled
                </div>
                <div class="card-block">
                    2016-04-01 OUTCOME: Outcome 1<br>
                    2016-04-04 OUTCOME: Outcome 1
                </div>
            </div>
            <div class="content card bg-content">
                <div class="card-header">
                    Deadlines
                </div>
                <div class="card-block">
                    2016-06-01 OUTCOME: Outcome 1<br>
                    2016-06-04 OUTCOME: Outcome 1
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {{ datepickerform.media.js }}
    <script type="text/javascript">
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });
    </script>
{% endblock %}
