{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Notifications
{% endblock %}

{% block up_url %}{% url "notifications:notification_list" %}{% endblock %}

{% block page_title_extras %}
    {% include "lib/_total_counter.html" with total_counter=total_counter %}
{% endblock %}

{% block page_controls %}
    {% if user.is_superuser %}
        <a href="{% url "notifications:notification_new" %}" class="btn btn-danger pull-right">{% icon "new" %}</a>
    {% endif %}
    <form method="POST" role="form" class="inline">{% csrf_token %}
        <input type="hidden" name="action" value="mark_all_as_read"/>
        <button class="btn btn-default" role="submit" data-toggle="tooltip" title="Mark all as read">{% icon "mark_read" %}</button>
    </form>
{% endblock %}

{% block page_content %}
    <div class="notification-list">
        {% for notification in notification_list %}
            {% include "notifications/_notification.html" %}
        {% endfor %}
        {% include "lib/_pager.html" %}
    </div>
{% endblock %}
