{% load staticfiles i18n %}

<nav id="site-menu" class="navbar navbar-static-top navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img id="navbar-brand-logo" src="{% static 'images/coLegendLogo_86x18.png' %}" alt="coLegend logo">
        </a>
        <button type="button" class="navbar-toggler hidden-sm-up pull-right" data-toggle="collapse"
                data-target="#bs-navbar-collapse-1">
            &#9776;
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'join' %}">{% trans "Join" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
