{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    {{ card }}
{% endblock %}

{% block up_url %}{% url "cards:picker" %}{% endblock %}

{% block page_content %}
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ MEDIA_URL }}{{ card.image }}" alt="{{ card }}" class="img-responsive center-block"/>
            </div>
            <div class="col-md-6">
                {{ card.text|linebreaksbr }}
            </div>
        </div>
    </div>
{% endblock %}
