{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Cards
{% endblock %}

{% block up_url %}{% url "home" %}{% endblock %}

{% block page_content %}
    <div class="well">
        {% for deck in object_list %}
            <h4>{{ deck }}</h4>
            {% for card in deck.shuffled_cards %}
            <a href="{{ card.get_show_url }}">
                <img src="{{ MEDIA_URL }}{{ deck.image }}" alt=""/>
            </a>
            {% endfor %}
        {% endfor %}
        <br/>
        <small>Pick a card..</small>
    </div>
{% endblock %}
