{% extends 'games/base.html' %}
{% load cards_tags icons buttons %}

{% block content_class %}
{% endblock %}

{% block title %}Cards{% endblock %}

{% block page_controls %}
    {% create_button pattern='cards:create' %}
{% endblock %}


{% block content %}
    <div class="row">
        {% for card in cards %}
            <div class="col-lg-3 col-sm-6">
                {% detail_button url=card.get_absolute_url %}
                {% update_button url=card.get_update_url %}
                {% delete_button url=card.get_delete_url %}
                {% card %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
