{% extends 'games/base.html' %}
{% load cards_tags buttons %}

{% block content_class %}
{% endblock %}

{% block title %}Cards{% endblock %}

{% block page_controls %}
    {% button 'create' pattern='cards:create' %}
{% endblock %}


{% block content %}
    <div class="row">
        {% for card in cards %}
            <div class="col-lg-3 col-sm-6">
                {% button 'detail' url=card.get_absolute_url %}
                {% button 'update' url=card.update_url %}
                {% button 'delete' url=card.delete_url %}
                {% card %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
