{% extends 'base/chat.html' %}

{% block chat_title %}
    Supporting each other
{% endblock %}

{% block chat_content %}
    <p>
        Welcome to the support page! <br>
        Here you can find out more about some practical issues concerning coLegend. In the FAQ you can read the answers
        to the most frequently asked questions. In the Documentation you can read through detailed explanations how to
        do what on the platform.
    </p>
    <p>
        And if you don’t find what you’re looking for - <br>
        simply <a href="mailto:connect@coLegend.org" target="_blank">contact us</a> personally and we’ll get back to you
        as soon
        as we can. <br>
        You can also write us on the Support Channel in Slack.
    </p>
{% endblock %}

{% block chat_response %}
{% endblock %}
