{% load icons %}

{% if task.open %}
    <form method="POST" action="{% url "tasks:task_complete" task.pk %}" role="form" class="inline">{% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
        <button class="btn btn-{{ button_size|default:"xs" }} btn-default" role="submit" data-toggle="tooltip" title="Complete">{% icon "task" %}</button>
    </form>
{% elif task.closed %}
    <button class="btn btn-{{ button_size|default:"xs" }} btn-success" role="button" data-toggle="tooltip" title="Completed">{% icon "task" %}</button>
{% endif %}
