<div class="task well well-sm">
    <b>{% include "tasks/_task_link.html" %}</b>
    <br/>
    {% include "status/_status_field.html" with status=task.status %}
    {% include "lib/_priority_field.html" with priority=task.priority %}
    {% include "tags/_tags_field.html" with tags=task.tags.all %}
    <br/>
    {% include "projects/_project_field.html" with project=task.project %}
    <br/>
    {% include "lib/_description_field.html" with description=task.description %}
    <br/>
    {% include "lib/_date_field.html" with date=task.date %}
    {% include "lib/_deadline_field.html" with deadline=task.deadline %}
    <br/>
    <a href="{{ task.get_edit_url }}" class="btn btn-default btn-sm" role="button">Edit</a>
    <a href="{{ task.get_delete_url }}" class="btn btn-default btn-sm" role="button">Delete</a>
</div>
