{% load icons %}

<form method="GET" action="{% url "tasks:task_new" %}" role="form" class="inline">
    {% if project %}
        <input type="hidden" name="project" value="{{ project.pk }}">
    {% endif %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    <button class="new-button btn btn-default" role="submit" data-toggle="tooltip"
            title="New Task">{% icon "new" %}</button>
</form>
{% if not no_filters %}
    {% include 'status/_status_filter_form.html' %}
{% endif %}
