{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Tasks
{% endblock %}

{% block up_url %}{% url "tasks:task_list" %}{% endblock %}

{% block page_title_extras %}
    {% include "lib/_total_counter.html" %}
    {% include "status/_next_counter.html" with count_next=count_next count_next_max=8 %}
{% endblock %}

{% block page_controls %}
    <a href="{% url 'tasks:task_kanban' %}" class="new-button btn btn-default pull-right" data-toggle="tooltip"
            title="Statuses Overview">{% icon "eye" %}</a>
    {% include "tasks/_task_list_controls.html" %}
{% endblock %}

{% block page_content %}
    <div class="well well-sm">
        {% include 'tasks/_task_list.html' with tasks=task_list next=task.get_list_view %}
    </div>
{% endblock %}
