{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    {{ task }}
{% endblock %}

{% block up_url %}{% url "tasks:task_list" %}{% endblock %}

{% block page_title_extras %}
    {% include "categories/_category_field.html" with category=task.category %}
{% endblock %}

{% block page_controls %}
    {% include "tasks/_task_complete_button.html" with button_size="md" %}
    <a href="{{ task.get_edit_url }}" class="edit-button btn btn-primary" role="button">{% icon "edit" %}</a>
    <a href="{{ task.get_delete_url }}" class="delete-button btn btn-danger" role="button">{% icon "delete" %}</a>
{% endblock %}

{% block page_content %}
    <div class="task-details well">
        {% include "status/_status_field.html" with status=task.status %}
        {% include "tags/_tags_field.html" with tags=task.tags.all %}
        <div class="task-context pull-right">
            {% include "projects/_project_field.html" with project=task.project %}
            {% include "lib/_date_field.html" with date=task.date %}
            {% include "lib/_time_estimate_field.html" with time_estimate=task.time_estimate %}
            {% include "lib/_deadline_field.html" with deadline=task.deadline %}
        </div>
        {{ task.description }}
    </div>
{% endblock %}
