{% extends "office/base.html" %}
{% load wagtailcore_tags cms_tags core_tags outcomes_tags crispy_forms_tags office_tags %}

{% block title %}{{ scope.name | title }} {{ page.title }}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {{ datepickerform.media.css }}
    {{ focus_outcomes_form.media.css }}
{% endblock %}


{% block page_controls %}
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {% icon 'scope' %} {{ scope.name | title }}
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            {% for filter_scope in scopes %}
                <a class="dropdown-item {% if filter_scope.name == scope.name %}disabled{% endif %}"
                   href="{% if filter_scope == scope %}#{% else %}?scope={{ filter_scope.name }}{% endif %}">{{ filter_scope.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group" role="group">
        <button id="date-dropdown" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {% icon 'calendar' %} {{ scope.display }}
        </button>
        <div class="dropdown-menu widget-datepicker" aria-labelledby="date-dropdown">
            {% crispy datepickerform %}
        </div>
    </div>

{% endblock %}

{% block content %}
    {{ page.content|richtext }}
    <div class="card bg-content">
        <div class="card-header">
            Focus
            {% if not show_update_form %}
                <form action="form" method="get" class="pull-right">
                    <button class="btn btn-sm btn-secondary">Update</button>
                </form>
            {% endif %}
        </div>
        <div class="card-block">
            {% if show_update_form %}
                {% crispy focus_outcomes_form %}
            {% else %}
                {% focus scope=scope %}
            {% endif %}
        </div>
    </div>

    <div class="card bg-content">
        <div class="card-header">
            Schedule
        </div>
        <div class="card-block">
            {% for outcome in scheduled_outcomes %}
                {% outcome %}
                {% empty %}
                No fixed appointments. :D
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {{ datepickerform.media.js }}
    <script type="text/javascript">
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });
    </script>
    {{ focus_outcomes_form.media.js }}
{% endblock %}
