{% extends 'resources/base.html' %}
{% load i18n core_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}{% include 'widgets/breadcrumb.html' with url=page.get_parent.url title=page.get_parent icon='resource' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <p>
                {{ page.lead }}
            </p>
            <div class="widget-resource-detail">
                {{ page.content }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="resource-tags">
                <p>Tags:
                    {% for tag in page.tags.all %}
                        <span class="label label-default">{{ tag }}</span>
                    {% endfor %}
                </p>
            </div>
            <span class="text-category-1">{% icon 'area-1' %}</span> {% trans 'health' %}
            <progress class="progress progress-success" value="{{ page.area_1 }}" max="100"></progress>
            <span class="text-category-2">{% icon 'area-2' %}</span> {% trans 'joy' %}
            <progress class="progress progress-success" value="{{ page.area_2 }}" max="100"></progress>
            <span class="text-category-3">{% icon 'area-3' %}</span> {% trans 'power' %}
            <progress class="progress progress-success" value="{{ page.area_3 }}" max="100"></progress>
            <span class="text-category-4">{% icon 'area-4' %}</span> {% trans 'connection' %}
            <progress class="progress progress-success" value="{{ page.area_4 }}" max="100"></progress>
            <span class="text-category-5">{% icon 'area-5' %}</span> {% trans 'expression' %}
            <progress class="progress progress-success" value="{{ page.area_5 }}" max="100"></progress>
            <span class="text-category-6">{% icon 'area-6' %}</span> {% trans 'mind' %}
            <progress class="progress progress-success" value="{{ page.area_6 }}" max="100"></progress>
            <span class="text-category-7">{% icon 'area-7' %}</span> {% trans 'spirit' %}
            <progress class="progress progress-success" value="{{ page.area_7 }}" max="100"></progress>
        </div>
    </div>
{% endblock %}
