.main-headline
  margin: 1em 0em
  background-color: #f5f5f5

.atom-styleguide-meta
  .headline
    border-bottom: solid lightgrey
    border-width: thin
    display: block
    margin: 1em 0em
    color: darkgray
    text-decoration: none

  pre
    background-color: #f5f5f5

// Atoms

.atom-styleguide-color
  text-align: center

.atom-avatar
  a
    display: inline-block
  .avatar-image
    width: 8em
    height: 8em
    background-size: cover
    border-radius: 50%
  .avatar-label
    text-align: center
    display: none
  a:hover
    .avatar-label
      display: block

// Molecules

.molecule-atoms
  margin: 0 1em
