{% extends "base.html" %}

{% load static legends_tags core_tags %}

{% block extra_head %}
    {{ block.super }}
    <link href="{% static 'story/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Test{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include 'widgets/breadcrumb.html' with pattern='test' icon='eye' title='test' %}
{% endblock %}

{% block content %}
    {% speech_bubble 'foo' %}
    {% speech_bubble 'foo' direction='right' %}
    {% speech_bubble 'foo' direction='right' responsive=True %}
    {% statement user 'Hello world' %}
    {% statement user 'Hello world' direction='right' %}
    {% statement 'tiger' 'Hello world' direction='right' %}
    {% include 'widgets/navbar.html' with class='bg-main-dark' id='legend-bar' menu_id='home' profile_id='profile' %}
    <hr>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div class="g-hangout"
         data-render="createhangout"
         data-widget_size="72">
    </div>

    {% legend request.user size='medium' %}

    <div id="typed-strings" class="invisible">
        <p>
            Hello..^3000 dear stranger, I am <strong>the coLegend spirit</strong>.
        </p>

        <p>I <em>type</em> the story.</p>
    </div>
    <span id="typed"></span>

{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script src="{% static 'components/typed.js/dist/typed.min.js' %}"></script>
    <script>
        $(function () {
            $("#typed").typed({
                stringsElement: $('#typed-strings')
            });
        });
    </script>
    <script>
        $("#testLoad").load("https://colegend.slack.com/messages/general/");
    </script>
{% endblock %}
