{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content_class %}{% endblock %}

{% block page_links %}
    <a href="#" class="btn btn-default btn-sm disabled">News</a>
    <a href="#" class="btn btn-default btn-sm disabled">Events</a>
    <a href="#" class="btn btn-default btn-sm disabled">Story</a>
    <a href="#" class="btn btn-default btn-sm disabled">Quotes</a>
    <a href="#" class="btn btn-default btn-sm disabled">Features</a>
    <a href="#" class="btn btn-default btn-sm disabled">Tools</a>
    <a href="#" class="btn btn-default btn-sm disabled">Legends</a>
    <a href="#" class="btn btn-default btn-sm disabled">FAQ</a>
    <a href="#" class="btn btn-default btn-sm disabled">Documentation</a>
    <a href="{% url 'about' %}" class="btn btn-default btn-sm">About</a>
{% endblock %}


{% block content %}

    <div class="row">

        <div id="conscious-update" class="col-lg-4">

            {% include "home/cards/_news_card.html" %}
            {% include "home/cards/_tool_card.html" %}
            {% include "home/cards/_feature_card.html" %}

        </div>

        <div id="connected-updates" class="col-lg-4">

            {% include "home/cards/_legend_card.html" %}
            {% include "home/cards/_event_card.html" %}
            {% include "home/cards/_role_card.html" %}

        </div>

        <div id="continuous-updates" class="col-lg-4">

            {% include "home/cards/_quote_card.html" %}
            {% include "home/cards/_story_card.html" %}

        </div>

    </div>

{% endblock %}
