{% extends "base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Join" %}{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-lg-8">

            <div class="row">

                <div class="col-sm-4">
                    <div>
                        <img class="img-responsive center-block" src="{% static 'images/coralina.png' %}"
                             alt="Coralina avatar">

                        <div class="text-center bg-success">
                            <strong>Coralina</strong>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">
                                Welcome Adventurer!
                            </h4>

                            <div class="card-text">
                                <p><i>The first step to getting anywhere is deciding you’re not going to stay where
                                    you are.
                                </i></p>

                                <p>I am happy to see that you’re already on your way.</p>

                                <p>I am Coralina by the way.</p>

                                <p>
                                    Okay, let's talk details... <br>
                                    How do you want to join?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-4">

            <div class="row">

                <div class="col-sm-4 col-sm-push-8">
                    <div class="">
                        <img class="img-responsive center-block" src="{% static 'images/anonymous.png' %}"
                             alt="Your avatar">

                        <div class="text-center bg-inverse">
                            <strong>You</strong>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8  col-sm-pull-4">
                    <div class="card">
                        <div class="card-header">
                            Choose your answer:
                        </div>
                        <ul class="list-group list-group-flush">
                            <a href="{% url 'account_signup' %}">
                                <li class="list-group-item">
                                    <i class="fa fa-key fa-fw"></i>
                                    I want a regular signup form.
                                </li>
                            </a>
                            <a href="{% provider_login_url "google" %}">
                                <li class="list-group-item">
                                    <i class="fa fa-google-plus fa-fw"></i>
                                    I love my big brother Google, he will help me join.
                                </li>
                            </a>
                            <a href="{% provider_login_url "facebook" method="oauth2" %}">
                                <li class="list-group-item">
                                    <i class="fa fa-facebook fa-fw"></i>
                                    I like to collect friends, I choose facebook.
                                </li>
                            </a>
                            <a href="{% url 'account_login' %}">
                                <li class="list-group-item">
                                    <i class="fa fa-sign-in fa-fw"></i>
                                    I forgot.. I already have an account
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock content %}



