# ignore databases
*.db
*.sqlite3

# ignore compiled files
*.pyc

# ignore local files
local
local.*
local_*.*

# ignore virtual environment
env

# ignore changing media
media

# ignore IDE config
.idea

# documentation
docs/_build
docs/_static
docs/_templates

# browser components
bower_components

# ignore log files
*.log
