{% extends 'base/chat.html' %}

{% block chat_title %}
    Hello fellow..
{% endblock %}

{% block chat_content %}
    <p>
        The <strong class="text-conscious">conscious</strong> page brings together several tools that help you become
        conscious about what you want to do, what goals you have, of what you want to accomplish. It’s for you to have a
        <strong>good overview</strong>.
    </p>
    <p>
        With the <strong>journal</strong> you can reflect on the things you’ve done during the day - and on top of that
        I really like to
        be able to look back and read through old entries to see what advances I’ve made personally.
    </p>
    <p>
        The <strong>manager</strong> is great for planning your outcomes and next steps throughout the day, the week,
        the month and
        so on. It supports you in organizing your life in an easy way.
    </p>
    <p>
        So give it a go and see how good it feels to be conscious about your life!
    </p>
{% endblock %}

{% block chat_response %}{% endblock %}
