<div class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            <i class="fa fa-lock"></i>
            Dream Team
        </a>
    </div>
    <img class="card-img-top img-responsive center-block"
         src="https://klebeheld.de/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/w/a/wandtattoo_dream_team.png"
         alt="Dream Team"
         style="max-height: 6rem;">

    <div class="card-block">
        <p class="card-text">
            (this feature is still waiting on your Legend Profile to be filled and for you and your Cloud guide to meet)
        </p>
    </div>
</div>
