{% load icons %}
<div class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            {% icon 'locked' %}
            Tribe
        </a>
    </div>
    <img class="card-img-top img-responsive center-block"
         src="http://payload.cargocollective.com/1/0/8590/423705/Tribe-Logo.gif"
         alt="Tribe"
         style="max-height: 6rem;">

    <div class="card-block">
        <p class="card-text">
            (this feature is still waiting for you finding your Dream Team Partner)
        </p>
    </div>
</div>
