{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    The Dojo
{% endblock %}

{% block up_url %}{% url "dojo:home" %}{% endblock %}

{% block page_title_extras %}
    {% include "lib/_total_counter.html" %}
    {% include "lib/_share_counter.html" %}
{% endblock %}

{% block page_controls %}
    <span data-toggle="tooltip" title="New Module">
        <a href="{% url "dojo:module_new" %}" class="btn btn-default">{% icon "new" %}</a>
    </span>
{% endblock %}

{% block page_content %}
    <div class="well">
        {% for module in modules %}
            <a href="{{ module.get_show_url }}" class="btn btn-category bg-category-{{ module.category.pk }}">{{ module }}</a>
        {% empty %}
            No modules here yet.
        {% endfor %}
    </div>

    <div class="well">
        <h3>Share your module</h3>

        {% if share_counter %}
            You have contributed <span class="badge">{{ share_counter }}</span>
            module{{ share_counter|pluralize }}!
        {% else %}
            Time to share your <span class="badge">first</span> module.
        {% endif %}

        <p>Can you think of another module that you could share? Awesome!</p>
        <a href="{% url "dojo:module_new" %}" class="btn btn-primary"><i class="fa fa-share"></i> Share a
            Module</a>
    </div>


    </div>
{% endblock %}
