{% extends 'page.html' %}

{% block page_title %}
    {{ module }}
{% endblock %}

{% block up_url %}{% url "dojo:home" %}{% endblock %}
{% block up_icon %}university{% endblock %}

{% block page_controls %}
    {% if user.is_superuser or user == module.provider %}
        <a href="{{ module.get_edit_url }}" class="btn btn-primary" role="button">edit</a>
        <a href="{{ module.get_delete_url }}" class="btn btn-danger" role="button">delete</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="well">
        <p class="lead">{{ module.description|linebreaksbr }}</p>
        {{ module.content }}
        <footer><cite class="small pull-right">— shared
            by {% include "users/_user_link.html" with user=module.provider %}</cite></footer>
    </div>
{% endblock %}
