{% extends 'profiles/base.html' %}
{% load static icons legends_tags %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    {% include '_breadcrumb.html' with pattern='profiles:list' icon='users' title='profiles' %}
{% endblock %}

{% block page_links %}
    {% if user == profile.owner %}
        {% url 'outer-call:create' as url %}
        {% include 'widgets/button.html' with name='Outer Call' url=url kind='link btn-sm' condition=outercall %}

        {% url 'inner-call:create' as url %}
        {% include 'widgets/button.html' with name='Inner Call' url=url kind='link btn-sm' condition=innercall %}

        {% url 'profiles:biography' as url %}
        {% include 'widgets/button.html' with name='Biography' url=url kind='link btn-sm' condition=biography %}

        {% include 'widgets/button.html' with name='Hero' kind='link btn-sm' locked=True %}

        {% include 'widgets/button.html' with name='Demon' kind='link btn-sm' locked=True %}

        <div class="clearfix"></div>
    {% endif %}
{% endblock %}

{% block content_container %}
    {% include 'widgets/quote.html' with author='Harvey Fierstein' sharer='Millionaire Tiger Entrepreneur' text="Accept no one's definition of your life, but define yourself." %}

    <p>
        {% include 'profiles/chats/introduction.html' %}
    </p>
    <div class="row">
        <div class="col-md-3 text-center">
            {% static 'profiles/images/coLegend-hero.png' as hero_avatar_url %}
            {% include 'legends/widgets/legend.html' with source=hero_avatar_url name='Hero' size='medium' %}
        </div>
        <div class="col-md-6 text-center">
            {% legend profile.owner size='large' %}
        </div>
        <div class="col-md-3 text-center">
            {% static 'profiles/images/coLegend-demon.png' as demon_avatar_url %}
            {% include 'legends/widgets/legend.html' with source=demon_avatar_url name='Demon' size='medium' %}
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-content">
                <div class="card-header">
                    About
                    {% if can_edit_about %}
                        <a id="profile-about-edit" href="{% url 'profiles:update' owner=profile.owner.username %}"
                           class="pull-right">
                            {% icon 'edit' %}
                        </a>
                    {% endif %}
                </div>
                <div class="card-block">
                    {% if profile.owner.name %}
                        <p>
                            {% icon 'legend' fixed=True %}
                            {{ profile.owner.name }}
                        </p>
                    {% endif %}
                    {% if profile.owner.birthday %}
                        <p>
                            {% icon 'birthday-cake' fixed=True %} {{ profile.owner.birthday }}
                        </p>
                    {% endif %}
                    {% if profile.owner.city %}
                        <p>
                            {% icon 'map-marker' fixed=True %}
                            {{ profile.owner.city }}
                        </p>
                    {% endif %}
                    {% if profile.owner != user %}
                        <a href="mailto:{{ profile.owner.email }}" target="_blank" class="btn btn-primary btn-sm">
                            {% icon 'send' %} Send Message
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="card bg-content">
                <div class="card-header">
                    Relations
                </div>
                <div class="card-block">
                    {% if profile.owner.guiderelation.guide %}
                        <p>
                            Cloud guide:
                            {% legend profile.owner.guiderelation.guide 'small' %}
                        </p>
                    {% else %}
                        No relations yet.
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="legend-badges" class="card bg-content">
                <div class="card-header">
                    Badges
                </div>
                <div class="card-block">
                    <img src="{% static 'legends/images/badges/Core_Team_Badge.png' %}" class="badge team"
                         alt="badge team">
                    <img src="{% static 'legends/images/badges/Cloud_Guide_Badge.png' %}" class="badge guide"
                         alt="badge guide">
                </div>
            </div>

            <div class="card bg-content">
                <div class="card-header">
                    Story Update
                </div>
                <div class="card-block">
                    ...
                </div>
            </div>

            <div class="card bg-content">
                <div class="card-header">
                    Latest Activities
                </div>
                <div class="card-block">
                    ...
                </div>
            </div>


        </div>
        <div class="col-md-3">
            <div class="card bg-content">
                <div class="card-header">
                    Status
                </div>
                <div class="card-block">
                    <p id="legend-day">{{ profile.owner.legend_day|default:"first" }} legend
                        day{{ profile.owner.legend_day|default:1|pluralize }}</p>

                    <p>Chapter {{ profile.owner.continuous.chapter }}</p>

                    <p class="text-muted">Animal</p>
                </div>
            </div>

            <div class="card bg-content">
                <div class="card-header">
                    Biography
                </div>
                <div class="card-block">
                    {{ profile.biography }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
