.grass.grass1 {
  top: -94px;
  background: url(images/floral-vector-swirls.png) no-repeat -15px -10px;
  height: 95px;
  width: 80px;
}

.grass.grass2 {
  top: -94px;
  background: url(images/floral-vector-swirls.png) no-repeat -133px -10px;
  height: 95px;
  width: 110px;
}

.grass.grass3 {
  top: -94px;
  background: url(images/floral-vector-swirls.png) no-repeat -280px -8px;
  height: 95px;
  width: 75px;
}

.grass.grass4 {
  top: -84px;
  background: url(images/floral-vector-swirls.png) no-repeat -405px -10px;
  height: 85px;
  width: 70px;
}

.grass.grass5 {
  top: -119px;
  background: url(images/floral-vector-swirls.png) no-repeat -10px -160px;
  height: 120px;
  width: 90px;
}

.grass.grass6 {
  top: -124px;
  background: url(images/floral-vector-swirls.png) no-repeat -130px -150px;
  height: 125px;
  width: 120px;
}

.grass.grass7 {
  top: -109px;
  background: url(images/floral-vector-swirls.png) no-repeat -260px -150px;
  height: 110px;
  width: 115px;
}

.grass.grass8 {
  top: -79px;
  background: url(images/floral-vector-swirls.png) no-repeat -390px -170px;
  height: 80px;
  width: 115px;
}

.grass.grass9 {
  top: -89px;
  background: url(images/floral-vector-swirls.png) no-repeat -5px -355px;
  height: 90px;
  width: 100px;
}

.grass.grass10 {
  top: -99px;
  background: url(images/floral-vector-swirls.png) no-repeat -135px -345px;
  height: 100px;
  width: 105px;
}

.grass.grass11 {
  top: -100px;
  background: url(images/floral-vector-swirls.png) no-repeat -255px -345px;
  height: 105px;
  width: 125px;
}

.grass.grass12 {
  top: -99px;
  background: url(images/floral-vector-swirls.png) no-repeat -405px -345px;
  height: 100px;
  width: 75px;
}

.grass.grass13 {
  top: -152px;
  background: url(http://lh3.ggpht.com/_bazwyKf2FDM/S0DiwCKOfrI/AAAAAAAACUg/0o08kkXDjDE/more-vector-swirls.png) no-repeat -10px 0px;
  height: 155px;
  width: 100px;
}

.grass.grass14 {
  top: -154px;
  background: url(http://lh3.ggpht.com/_bazwyKf2FDM/S0DiwCKOfrI/AAAAAAAACUg/0o08kkXDjDE/more-vector-swirls.png) no-repeat -170px 0px;
  height: 155px;
  width: 150px;
}

.grass.grass15 {
  top: -154px;
  background: url(http://lh3.ggpht.com/_bazwyKf2FDM/S0DiwCKOfrI/AAAAAAAACUg/0o08kkXDjDE/more-vector-swirls.png) no-repeat -360px 0px;
  height: 155px;
  width: 150px;
}

.grass.grass16 {
  top: -154px;
  background: url(http://lh3.ggpht.com/_bazwyKf2FDM/S0DiwCKOfrI/AAAAAAAACUg/0o08kkXDjDE/more-vector-swirls.png) no-repeat -265px -170px;
  height: 155px;
  width: 165px;
}

.grass {
  pointer-events: none;
  position: absolute;
}
