{% load icons %}

<div id="Project-{{ project.pk }}" class="project nav-item well well-sm" data-url="{{ project.get_show_url }}" tabindex="-1">
    <div class="item-controls pull-right">
        <a href="{{ project.get_edit_url }}" class="item-edit-button btn btn-primary btn-xs" role="button">{% icon "edit" %}<span class="sr-only"> Edit</span></a>
        <a href="{{ project.get_delete_url }}" class="item-delete-button btn btn-danger btn-xs" role="button">{% icon "delete" %}<span class="sr-only"> Delete</span></a>
    </div>
    <div class="task-line-1">
    <b><a href="{{ project.get_show_url }}">{% icon "project" %} {{ project }}</a></b>
    {% include "tags/_tags_field.html" with tags=project.tags.all %}
    </div>
    <div style="height: 5px;"></div>
    {% include "status/_status_field.html" with status=project.status %}
    {% include "lib/_priority_field.html" with priority=project.priority %}
    <div class="pull-right" style="margin-right: 2px;">
    {% include "lib/_deadline_field.html" with deadline=project.deadline %}
    </div>
    {% include "lib/_description_field.html" with description=project.description %}
</div>
