{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Projects
{% endblock %}

{% block up_url %}{% url "projects:project_list" %}{% endblock %}

{% block page_title_extras %}
    <span class="badge status">{{ project_list.count }}</span>
{% endblock %}

{#{% block page_controls_container %}{% endblock %}#}
{% block page_controls %}
    {% include "projects/_project_list_controls.html" %}

{% endblock %}

{% block page_content %}
    {% include "projects/_project_list.html" with projects=project_list %}
{% endblock %}
