{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    {{ project }}
{% endblock %}

{% block up_url %}{% url "projects:project_list" %}{% endblock %}

{% block page_title_extras %}
{% endblock %}

{% block page_controls %}
    <a href="{{ project.get_edit_url }}" class="edit-button btn btn-primary btn-sm" role="button">{% icon "edit" %}</a>
    <a href="{{ project.get_delete_url }}" class="delete-button btn btn-danger btn-sm" role="button">{% icon "delete" %}</a>
{% endblock %}

{% block page_content %}
    <div class="project-details well">
    {% include "status/_status_field.html" with status=project.status %}
    {% include "tags/_tags_field.html" with tags=project.tags.all %}
        {{ project.description }}
    </div>

    <div class="project-tasks">
        <h2>Tasks</h2>
        {% include 'tasks/_task_list.html' with menu="True" %}
    </div>
{% endblock %}
