{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    {{ project }}
{% endblock %}

{% block up_url %}{% url "projects:project_list" %}{% endblock %}

{% block page_title_extras %}
    {% include "categories/_category_field.html" with category=project.category %}
{% endblock %}

{% block page_controls %}
    <a href="{{ project.get_edit_url }}" class="edit-button btn btn-primary btn-sm" role="button">{% icon "edit" %}</a>
    <a href="{{ project.get_delete_url }}" class="delete-button btn btn-danger btn-sm"
       role="button">{% icon "delete" %}</a>
{% endblock %}

{% block page_content %}
    <div class="project-details well">
        {% include "status/_status_field.html" with status=project.status %}
        {% include "tags/_tags_field.html" with tags=project.tags.all %}
        <div class="task-context pull-right">
            {% include "lib/_date_field.html" with date=project.date %}
            {% include "lib/_deadline_field.html" with deadline=project.deadline %}
        </div>
        {{ project.description }}
    </div>

    <div class="project-tasks">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tasks
            </div>
            <div class="panel-body">
                {% include 'tasks/_task_list.html' with menu="True" %}
            </div>
        </div>
    </div>
{% endblock %}
