{% extends 'page.html' %}

{% block page_title %}
Project
{% endblock %}

{% block page_controls %}
    <a href="{{ project.get_edit_url }}" class="btn btn-primary btn-sm" role="button">Edit</a>
    <a href="{{ project.get_delete_url }}" class="btn btn-danger btn-sm" role="button">Delete</a>
{% endblock %}

{% block page_content %}
    {% include "projects/_project.html" %}

    <div class="project-tasks">
        <h2>Tasks</h2>
        {% include 'tasks/_task_list.html' %}
    </div>
{% endblock %}
