{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Projects
{% endblock %}

{% block up_url %}{% url "projects:project_list" %}{% endblock %}

{% block page_title_extras %}
    <span class="badge status">{{ project_list.count }}</span>
{% endblock %}

{#{% block page_controls_container %}{% endblock %}#}
{% block page_controls %}
    <a href="{% url "projects:project_new" %}" class="new-button btn btn-default" role="button">{% icon "new" %}</a>
    {% include 'status/_status_filter_form.html' %}
{% endblock %}

{% block page_content %}
    <div class="project-list">
        {% for project in project_list %}
            {% include 'projects/_project.html' %}
        {% endfor %}
    </div>
{% endblock %}
