.widget-blog-article-detail {
  .blog-article-meta {
    color: rgba(255, 255, 255, 0.5);
  }

  .blog-article-header {
    padding-top: 4em;
  }

  .blog-image {
    max-height: 20em;
    margin: 0 auto;
  }

  .blog-article-lead {
    font-size: 1.5em;
    margin-bottom: 2em;

    &:first-letter {
      float: left;
      font-size: 3em;
      font-weight: 700;
      margin-right: 0.1em;
      line-height: 1em;
    }
  }

  .blog-article-content {
    max-width: 60em;
    margin: 2em auto;
  }
}

.widget-blog-article {
  .widget-image {
    margin: auto;
  }
}
