{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}{% trans "Sign Up Application" %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <style>
        #div_id_username label {
            display: none;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="well">
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
            .{% endblocktrans %}</p>

        <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use
            your {{ provider_name }} account to login to
            {{ site_name }}. As a final step, please complete the following form:{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% crispy form %}
        </form>
    </div>
{% endblock %}


