<div class="atom-styleguide-meta">
    <a id="{{ name|slugify }}" class="headline" data-toggle="modal" data-target="#modal-{{ name|slugify }}">
        {{ name }}
    </a>

    <div class="modal fade" id="modal-{{ name|slugify }}" tabindex="-1" role="dialog"
         aria-labelledby="modal-{{ name|slugify }}-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-{{ name|slugify }}-label">{{ name }}</h4>
                </div>
                <div class="modal-body">
                    {% if tag %}
                        Tag:
                        <pre>{{ tag }}</pre>
                    {% endif %}
                    {% if template %}
                        Template:
                        <pre>{{ template }}</pre>
                    {% endif %}

                    {% if context %}
                        Context:
                        <pre>{{ context }}</pre>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
