{% load staticfiles i18n %}

<nav id="site-menu" class="navbar navbar-static-top navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img id="navbar-brand-logo" src="{% static 'img/CoLegendLogo_86x18.png' %}" alt="coLegend logo">
        </a>
        <button type="button" class="navbar-toggler hidden-sm-up pull-right" data-toggle="collapse"
                data-target="#bs-navbar-collapse-1">
            &#9776;
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">

                {# CONSCIOUS MENU #}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-link nav-link" type="button" id="menu-button-conscious"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-conscious">
                                <i class="fa fa-graduation-cap"></i> conscious
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="menu-button-conscious">
                            <a class="dropdown-item" href="{% url 'conscious:index' %}">
                                Dashboard
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                Journal
{#                                <small class="pull-right">level 2</small>#}
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                Manager
{#                                <small class="pull-right">level 3</small>#}
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                Tracker
{#                                <small class="pull-right">level 4</small>#}
                            </a>
                        </div>
                    </div>
                </li>

                {# CONNECTED MENU #}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-link nav-link" type="button" id="menu-button-connected"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-connected">
                                <i class="fa fa-heart"></i> connected
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="menu-button-connected">
                            <a class="dropdown-item" href="{% url 'connected:index' %}">
                                Dashboard
                            </a>
                            <a class="dropdown-item" href="{% url 'connected:index' %}">
                                Chat
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                Cloud Guide
{#                                <small class="pull-right">level 2</small>#}
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                Dream Team
{#                                <small class="pull-right">level 3</small>#}
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                Tribe
{#                                <small class="pull-right">level 4</small>#}
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                Circle
{#                                <small class="pull-right">level 5</small>#}
                            </a>
                        </div>
                    </div>
                </li>

                {# CONTINUOUS MENU #}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-link nav-link" type="button" id="menu-button-continuous"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-continuous">
                                <i class="fa fa-paw"></i> continuous
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="menu-button-continuous">
                            <a class="dropdown-item" href="{% url 'continuous:index' %}">
                                Dashboard
                            </a>
                            <a class="dropdown-item disabled" href="#" data-toggle="tooltip" title="Tooltip on top">
                                Success Stream
{#                                <small class="pull-right">level 2</small>#}
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                Personal Story
{#                                <small class="pull-right">level 3</small>#}
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                Tribe Story
{#                                <small class="pull-right">level 4</small>#}
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                coLegend Story
{#                                <small class="pull-right">level 5</small>#}
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                {% if request.user.is_authenticated %}


                    {# ACCOUNT MENU #}
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-link nav-link" type="button" id="menu-button-account"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-account">
                                <i class="fa fa-user"></i> {{ user.username|title|default:"Account" }}
                            </span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="menu-button-account">
                                <a class="dropdown-item" href="{% url 'users:profile' request.user.username %}">
                                    <i class="fa fa-user"></i> Profile
                                </a>
                                <a class="dropdown-item" href="{% url 'users:settings' %}">
                                    <i class="fa fa-wrench"></i> Settings
                                </a>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">
                                    <i class="fa fa-sign-out"></i> Logout
                                </a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
