{% load staticfiles i18n icons %}
<nav id="site-menu" class="navbar navbar-static-top navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img id="navbar-brand-logo" src="{% static 'images/coLegendLogo_86x18.png' %}" alt="coLegend logo">
        </a>
        <button type="button" class="navbar-toggler hidden-sm-up pull-right" data-toggle="collapse"
                data-target="#bs-navbar-collapse-1">
            &#9776;
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">

                {# CONSCIOUS MENU #}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-link nav-link" type="button" id="menu-button-conscious"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-conscious">
                                {% icon 'conscious' %} conscious
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="menu-button-conscious">
                            <a id="conscious-dashboard" class="dropdown-item" href="{% url 'conscious:index' %}">
                                Dashboard
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled" href="#">
                                {% icon 'locked' %}
                                Journal
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                {% icon 'locked' %}
                                Manager
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                {% icon 'locked' %}
                                Habits
                            </a>
                        </div>
                    </div>
                </li>

                {# CONNECTED MENU #}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-link nav-link" type="button" id="menu-button-connected"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-connected">
                                {% icon 'connected' %} connected
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="menu-button-connected">
                            <a class="dropdown-item" href="{% url 'connected:index' %}">
                                Dashboard
                            </a>

                            <div class="dropdown-divider"></div>

                            <a id="menu-button-legend" class="dropdown-item" href="{% url 'legends:legend' %}">
                                Legend
                            </a>

                            {% if cloud_guide %}
                                <a class="dropdown-item" href="{% url 'guides:guide' %}">
                                    Cloud Guide
                                </a>
                            {% else %}
                                <a class="dropdown-item disabled" href="#">
                                    {% icon 'locked' %}
                                    Cloud Guide
                                </a>
                            {% endif %}

                            {% if dream_team %}
                                <a class="dropdown-item" href="#">
                                    Dream Team
                                </a>
                            {% else %}
                                <a class="dropdown-item disabled" href="#">
                                    {% icon 'locked' %}
                                    Dream Team
                                </a>
                            {% endif %}

                            <a class="dropdown-item disabled" href="#">
                                {% icon 'locked' %}
                                Tribe
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                {% icon 'locked' %}
                                Circle
                            </a>

                            <div class="dropdown-divider"></div>

                            {% if chat %}
                                <a class="dropdown-item" href="{% url 'connected:chat' %}"{% if user.connected.chat %}
                                   target="_blank"{% endif %}>
                                    Chat
                                </a>
                            {% else %}
                                <a class="dropdown-item disabled" href="#">
                                    {% icon 'locked' %}
                                    Chat
                                </a>
                            {% endif %}

                            {% if virtual_room %}
                                <a class="dropdown-item" href="{% url 'connected:virtual-room' %}" target="_blank">
                                    Virtual Room
                                </a>
                            {% else %}
                                <a class="dropdown-item disabled" href="#">
                                    {% icon 'locked' %}
                                    Virtual Room
                                </a>
                            {% endif %}

                            {% if guidelines %}
                                <a class="dropdown-item" href="{% url 'connected:guidelines' %}">
                                    Guidelines
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </li>

                {# CONTINUOUS MENU #}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-link nav-link" type="button" id="menu-button-continuous"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-continuous">
                                {% icon 'continuous' %} continuous
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="menu-button-continuous">
                            <a class="dropdown-item" href="{% url 'continuous:index' %}">
                                Dashboard
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'games:index' %}">
                                Game
                            </a>
                            <a class="dropdown-item" href="{% url 'story:index' %}">
                                Story
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                {% icon 'locked' %}
                                Personal Story
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                {% icon 'locked' %}
                                Tribe Story
                            </a>
                            <a class="dropdown-item disabled" href="#">
                                {% icon 'locked' %}
                                coLegend Story
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                {# ACCOUNT MENU #}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-link nav-link" type="button" id="menu-button-account"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="padding: 0;">
                            {% if user.legend.avatar %}
                                <img src="{{ user.legend.avatar.small.url }}" class="avatar img-circle"
                                     height="38px" alt="avatar"/>
                            {% else %}
                                <img src="{% static 'images/anonymous.png' %}" class="avatar img-circle"
                                     height="38px" alt="avatar"/>
                            {% endif %}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menu-button-account">
                            <a class="dropdown-item" href="{% url 'legends:legend' %}">
                                {% icon 'legend' %} Legend
                            </a>
                            <a class="dropdown-item" href="{% url 'support:index' %}">
                                {% icon 'support' %} Support
                            </a>
                            <a class="dropdown-item" href="{% url 'users:settings' %}">
                                {% icon 'settings' %} Settings
                            </a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">
                                {% icon 'sign-out' %} Logout
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
