<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block head_meta %}
            {% include "website/_head_meta.html" %}
        {% endblock %}
        <title>
            {% block title %}CoLegend{% endblock %}
        </title>
        {% block head_links %}
            {% include "website/_head_links.html" %}
        {% endblock %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>
<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}body{% endblock %}">
{% block body %}
    {% block header %}{% endblock %}
    <div id="menu">
        {% block menu %}
            {% if user.is_authenticated %}
                {% include "website/_menu.html" %}
            {% endif %}
        {% endblock %}
    </div>
    <div id="messages">
        {% block messages %}
            {% include "website/_messages.html" %}
        {% endblock %}
    </div>
    <div id="content" class="container-fluid">
        {% block content %}
            No content.
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            <div id="footer-content">
                <small>Copyright © 2014 - {% now "Y" %} CoLegend | <a href="{% url "contact" %}" class="text-muted" target="_blank">Impressum</a> | Designed by <a href="http://www.eraldo.org" class="text-muted" target="_blank">Eraldo Webdesign</a></small>
            </div>
        {% endblock %}
    </div>
    {% block body_scripts %}
        {% include "website/_body_scripts.html" %}
    {% endblock %}
{% endblock %}
</body>
</html>
