{% load staticfiles i18n cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>

<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block meta_title %}coLegend{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {# open graph: http://ogp.me/ #}
    <meta property="og:image"
          content="{% block og_image %}{% static 'images/coLegend_screenshot_small.png' %}{% endblock %}"/>
    <meta property="og:site_name" content="coLegend' %}"/>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block page_css %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}">

        <!-- Your stuff: Third-party css libraries go here -->

        <!-- Fontawesome CSS -->
        <link href="{% static 'components/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">

        <!-- Jquery UI -->
        <link href="{% static 'components/jquery-ui/themes/smoothness/jquery-ui.min.css' %}" rel="stylesheet">

        <!-- This file store project specific CSS -->
        <link href="{% static 'css/colegend.css' %}" rel="stylesheet">

        {% block extra_head %}{% endblock %}

    {% endblock %}
    {% render_block "css" %}
</head>

<body id="body" class="{% block body_class %}{% endblock %}">
{% cms_toolbar %}

<div id="site-menu-container">
    {% block site_menu %}
        {% include 'organisms/navbar.html' with class='bg-main-dark' id='legend-bar' menu_id='home' profile_id='profile' %}
    {% endblock %}
</div>

{% block page_header %}
    <div class="widget-header bg-main">
        <div class="container">
            <ul class="breadcrumbs">
                {% block breadcrumbs %}
                    {% show_breadcrumb %}
                {% endblock %}
            </ul>
            <h1 id="page-title" class="card-title">{% block page_title %}{% endblock %}</h1>
        </div>
        <div class="bg-main-light" style="padding: 0;">
            <div class="container">
                <ul class="widget-subnavigation nav nav-pills">
                    {% block page_links %}
                    {% endblock %}
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="bg-main-superlight">
            <div class="container">
                {% block page_controls %}
                {% endblock %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

<div id="content-wrapper" class="{% block content_wrapper_class %}bg-main-superlight{% endblock %}">
    <div class="container">
        {% block site_messages %}
            {% if messages %}
                {% for message in messages %}
                    <div class="card alert{% if message.tags %} alert-{{ message.tags }} alert-dismissible fade in"{% endif %}
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}

        {% block pre_content %}{% endblock %}
        {% block content_container %}
            <div id="content" class="{% block content_class %}{% endblock %}">
                {% block content %}
                {% endblock content %}
            </div>
        {% endblock %}
    </div>
</div>
<!-- /container -->

<div id="footer" class="widget-footer bg-main-dark"></div>

<div class="feedback-button-container">
    <div class="hidden-xs">
        <a href="mailto:connect@colegend.org" target="_blank"><img id="feedback-button"
                                                                   src="{% static 'images/feedback.png' %}"
                                                                   alt="Feedback"/></a>
    </div>
    <div class="visible-xs-inline">
        <a href="mailto:connect@colegend.org" target="_blank"><img id="feedback-button-mobile"
                                                                   src="{% static 'images/feedback.png' %}"
                                                                   alt="Feedback"/></a>
    </div>

</div>
<a href="mailto:connect@colegend.org" target="_blank"><img id="feedback-button" src="{% static 'images/feedback.png' %}"
                                                           alt="Feedback"></a>

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
    <!-- Latest JQuery -->
    <script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>

    <!-- JQuery UI-->
    <script src="{% static 'components/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Your stuff: Third-party javascript libraries go here -->

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/colegend.js' %}"></script>

    {% block extra_script %}{% endblock %}

{% endblock javascript %}
{% render_block "js" %}
</body>
</html>

