{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Delete "{{ object }}"
{% endblock %}

{% block page_controls_container %}{% endblock %}

{% block page_content %}
    <div class="well">
        <form method="post">{% csrf_token %}
            <legend>Are you sure you want to delete "{{ object }}" ?</legend>
            <div class="controls">
                <button type="submit" class="btn btn-danger">{% icon "delete" %} Delete</button>
                <a href="javascript:history.go(-1)" class="btn btn-primary">{% icon "cancel" %} Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
