{% extends 'base.html' %}

{% block head_links %}{{ block.super }}{% endblock %}
{% block extra_head %}{{ block.super }}{% endblock %}
{% block menu %}{{ block.super }}{% endblock %}

{% block content %}
    <div class="page-head">
        <div class="tutorial pull-right">
            {% block page_tutorial %}
                {% if tutorial %}
                    <a href="{{ tutorial.get_show_url }}"><i class="fa fa-question-circle fa-3x"></i></a>
                {% endif %}
            {% endblock %}
        </div>
        <div class="page-navigation">
            <h1>
                {% block up_link %}
                    <a href="{% block up_url %}javascript:history.go(-1){% endblock %}" class="back-link">
                        <i class="fa fa-{% block up_icon %}arrow-left{% endblock %}"></i>
                    </a>
                {% endblock %}
                <div class="page-title">
                    {% block title %}{% block page_title %}Page{% endblock %}{% endblock %}
                </div>
            </h1>
            <div class="page-extras">
                {% block page_title_extras %}{% endblock %}
            </div>
        </div>
    </div>
    {% block page_controls_container %}
        <div class="list-controls container-fluid well well-sm">
            {% block page_controls %}{% endblock %}
        </div>
    {% endblock %}
    {% block page_content %}
    {% endblock %}
{% endblock %}

{% block body_scripts %}{{ block.super }}{% endblock %}
