{% extends 'base.html' %}
{% load icons %}
{% load tutorials %}

{% block head_links %}{{ block.super }}{% endblock %}
{% block extra_head %}{{ block.super }}{% endblock %}
{% block menu %}{{ block.super }}{% endblock %}

{% block content %}
    <div class="page-head well well-sm">
        <div class="tutorial pull-right">
            {% block page_tutorial %}
                {% if view.tutorial %}
                    {% tutorial_link view.tutorial %}
                {% endif %}
            {% endblock %}
        </div>
        <div class="page-navigation">
            <h1>
                {% block up_link %}
                    <a href="{% block up_url %}javascript:history.go(-1){% endblock %}" class="back-link">
                        {% block up_icon %}
                            {% if view.icon %}
                                {% icon view.icon %}
                            {% else %}
                                {% icon "back" %}
                            {% endif %}
                        {% endblock %}
                    </a>
                {% endblock %}
                <div class="page-title">
                    {% block title %}{% block page_title %}Page{% endblock %}{% endblock %}
                </div>
            </h1>
            <div class="page-extras">
                {% block page_title_extras %}{% endblock %}
            </div>
        </div>
        {% block page_controls_container %}
            <div class="clearfix"></div>
            <div id="page-menu" class="list-controls">
                {% block page_controls %}{% endblock %}
            </div>
        {% endblock %}
    </div>
    {% block page_content %}
    {% endblock %}
{% endblock %}

{% block body_scripts %}{{ block.super }}{% endblock %}
