<p>
    It’s time we get to know a litte. *cheer*
    I love meeting new people!<br/>
    <i>.oO( I guess that's why they call me “Willy Welcome” )</i>
</p>
<p>
    Please take your time to fill out and answer the following questions conscientiously. They are there to help explore
    and clarify your motivation.
</p>
<p>
    You are enough as you are!
    Do not worry about getting it “perfect” or “right”. I am not interested in hiring you.. this is _not_ a job
    application. What matters to me is your honesty and intent.. for that is the material from which Legends are fueled.
    Or at least that is my personal opinion. *smile*
</p>
<p>
    All information will be treated strictly confidential. Trust and security is very important to us at CoLegend. This
    is also
    why we use an encrypted connection only. You can read more on this and related topics over there:
    <a href="{% url "features:feature_list" %}" target="_blank">Features</a>
</p>
<p>
    So.. I think you the idea. *smirk*<br/>
    Feel free to take a look ahead or start right away.. it's up to you. *blink*
</p>
