{% extends 'page.html' %}

{% load icons %}

{% block page_title %}
    Member Map
{% endblock %}

{% block up_url %}{% url "gatherings:home" %}{% endblock %}

{% block page_title_extras %}
    {% include "lib/_total_counter.html" %}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1', { 'packages': ['map'] });
        google.setOnLoadCallback(drawMap);

        function drawMap() {
            var data = google.visualization.arrayToDataTable([
                ['Place', 'User'],
                {% for user, location in user_locations.items %}
                    ['{{ location }}', '{{ user }}'],
                {% endfor %}
            ]);

            var options = {
                showTip: true,
                mapType: 'normal',
                useMapTypeControl: true,
                icons: {
                    default: {
                        normal: '{{ STATIC_URL }}website/images/colegend-marker-red.png',
                        selected: '{{ STATIC_URL }}website/images/colegend-marker-blue.png'
                    }
                }
            };

            var map = new google.visualization.Map(document.getElementById('map_div'));

            map.draw(data, options);
        }
        ;
    </script>
{% endblock %}

{% block page_content %}
    <div id="map_div" style="height: 600px;"></div>
{% endblock %}
