{% extends "users/base.html" %}
{% load static %}

{% block breadcrumbs %}{% endblock %}

{% block title %}Profile{% endblock %}

{% block page_links %}
    {% if object == request.user %}
        <a href="{% url 'users:settings' %}" class="btn btn-default btn-sm">Settings</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="card">
            <img class="card-img-top" src="http://www.x4fleet.com/Content/images/icons/shadow_man_big.png"
                 alt="legend avatar">

            <div class="card-block">
                <h4 class="card-title">{{ object.username|title }}
                    {% if object.get_full_name %}
                        <small class="text-muted">({{ object.get_full_name|title }})</small>
                    {% endif %}
                </h4>

                <p>
                    <i class="fa fa-map-marker"></i> Berlin, Germany<br>
                    <i class="fa fa-external-link"></i> <a href="http://www.coLegend.org">www.coLegend.org</a>
                </p>

                <p class="card-text">
                <u>About me</u><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                </p>
                <a href="#" class="btn btn-primary"><i class="fa fa-send"></i> Send message</a>
            </div>
        </div>

    </div>
{% endblock content %}

