{% extends "users/base.html" %}
{% load static %}

{% block title %}Settings{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include 'widgets/breadcrumb.html' with pattern='settings:index' title='Settings' icon='settings' %}
{% endblock %}

{% block page_links %}
    <a href="{% url 'tags:index' %}" class="btn nav-item nav-link">Tags</a>
    <a href="#" class="nav-item nav-link disaabled">Locations</a>
    <a href="{% url 'account_email' %}" class="nav-item nav-link">Email</a>
    <a href="{% url 'socialaccount_connections' %}" class="nav-item nav-link">Social Accounts</a>
{% endblock %}

{% block content_container %}{% endblock %}
