{% extends "page.html" %}
{% load crispy_forms_tags %}
{% load icons %}

{% block page_title %} Settings{% endblock %}

{% block up_url %}{% url "users:settings" %}{% endblock %}

{% block page_controls %}
    <a class="btn btn-info" href="{% url 'users:update' %}">{% icon "info" %} My Info</a>
    <a class="btn btn-info" href="{% url 'avatar_change' %}">{% icon "avatar" %} Avatar</a>
    <a class="btn btn-info" href="{% url 'account_email' %}">{% icon "email" %} E-Mail</a>
    <a class="btn btn-info" href="{% url 'socialaccount_connections' %}">{% icon "social-accounts" %}
        Social Accounts</a>
    <a class="btn btn-info" href="{% url 'account_change_password' %}">{% icon "password" %}
        Password</a>
{% endblock %}

{% block page_content %}
    <div class="well">
        {{ form.media }}
        {% crispy form %}
    </div>
{% endblock %}
