{% extends "page.html" %}
{% load avatar_tags %}
{% load icons %}
{% load static %}

{% block page_title %}{{ object.username }}{% endblock %}

{% block up_url %}{% url "users:detail" object %}{% endblock %}

{% block page_controls %}
    {% if object == request.user %}
        <a class="btn btn-primary" href="{% url 'users:settings' %}">{% icon "setting" %} Settings</a>
    {% endif %}
    {% if user.is_superuser %}
        <a class="btn btn-danger pull-right"
           href="{% url 'users:admin_detail' username=object.username %}">{% icon "usermanager" %} Admin</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="well">
        {% avatar object 200 %}<br/>

        <h2>{{ object.get_name }}</h2>
        <a href="mailto:{{ object.email }}" class="btn btn-default">{% icon "contact" %} Contact</a>

    </div>

    {% if object == request.user %}
        <!-- Action buttons -->
        <div class="row">
            <div class="col-sm-12 ">
                <!-- Your Stuff: Custom user template urls -->
            </div>

        </div>
        <!-- End Action buttons -->
    {% endif %}

{% endblock %}
