{% extends "page.html" %}
{% load static %}{% load i18n %}
{% load avatar_tags %}

{% block page_title %}Users{% endblock %}

{% block up_url %}{% url "users:manage" %}{% endblock %}
{% block up_icon %}user-md{% endblock %}

{% block page_content %}
    <div class="well">
        <div class="list-group">
            {% for user in user_list %}
                <a href="{% url 'users:detail' user.username %}" class="list-group-item">
                    <h4 class="list-group-item-heading">{% avatar user %} {{ user.username }}</h4>

                    <p class="list-group-item-text">{{ maker.tagline }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
