{% extends "page.html" %}
{% load avatar_tags %}
{% load icons %}
{% load static %}

{% block page_title %}{{ object.username }}{% endblock %}

{% block up_url %}{% url "users:detail" object %}{% endblock %}

{% block page_controls %}
    {% if object == request.user %}
        <a class="btn btn-primary" href="{% url 'users:settings' %}">{% icon "setting" %} Settings</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="well">
        {% avatar object 200 %}<br/>
        {% if object == request.user %}
            <h2>{{ object.get_name }}</h2>
            <a href="mailto:{{ object.email }}">{{ object.email }}</a>
        {% endif %}

    </div>

    {% if object == request.user %}
        <!-- Action buttons -->
        <div class="row">
            <div class="col-sm-12 ">
                <!-- Your Stuff: Custom user template urls -->
            </div>

        </div>
        <!-- End Action buttons -->
    {% endif %}

{% endblock %}
