{% extends "page.html" %}

{% load static %}{% load i18n %}
{% load avatar_tags %}

{% block page_title %}Manage Users{% endblock %}

{% block up_url %}{% url "users:manage" %}{% endblock %}
{% block up_icon %}user-md{% endblock %}

{% block page_controls %}
        <a href="{% url "users:list" %}" class="btn btn-warning pull-right" role="button">All</a>
{% endblock %}

{% block page_content %}
    <div class="well">
        <h2>Pending Users</h2>

        <div class="list-group">
            {% for user in user_list %}
                <a id="pending-user-{{ user }}" href="{% url 'users:manage_detail' user.username %}" class="list-group-item">
                    <h4 class="list-group-item-heading">{% avatar user %} {{ user.username }}</h4>

                    <p class="list-group-item-text">{{ maker.tagline }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
