{% load core_tags %}
<div id="news-card" class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            {% icon 'news' %}
            News
        </a>
        {% include 'home/cards/_card_close_button.html' %}
    </div>
    <img class="card-img-top img-responsive center-block"
         src="http://onis.ro/images/blog/relaunch.png"
         alt="News"
         style="max-height: 6rem;">

    <div class="card-block">
        <h4 class="card-title">Relaunch!</h4>

        <p class="card-text">
            We decided to take what we learned and create a new experience.
            I am happy to share this journey with my team members and hope to get in touch with all of you
            soon.
            Take a look at the <a href="chat-index">chat page</a> and join our slack
            chat if
            you have not already done that. ;)
        </p>

        <p class="card-text">
            <small class="text-muted">
                <a href="#">Eraldo</a> - 1st November 2015 22:04
            </small>
        </p>
    </div>
</div>
