{% load core_tags %}
<div class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            {% icon 'quote' %}
            Quote
        </a>
        {% include 'home/cards/_card_close_button.html' %}
    </div>

    <div class="card-block">
        <h4 class="card-title">Present Perfect</h4>

        <blockquote class="card-blockquote">
            <p>Being present always beats being perfect.</p>

            <footer>
                <small class="text-muted pull-right">
                    shared by <a href="#">Eraldo</a>
                </small>
            </footer>
        </blockquote>

    </div>
</div>
