{% extends 'legends/base.html' %}
{% load static icons %}
{% load thumbnail %}

{% block title %}Legend{% endblock %}

{% block page_links %}
    <a href="#" class="btn btn-link btn-sm">Contact</a>
    <a href="#" class="btn btn-link btn-sm">Hero</a>
    <a href="#" class="btn btn-link btn-sm">Demon</a>
    <a href="#" class="btn btn-link btn-sm">Inner Call</a>
    <a href="#" class="btn btn-link btn-sm">Outer Call</a>
    <a href="#" class="btn btn-link btn-sm">Biography</a>
    <div class="pull-right">
        <a href="{% url 'legends:update' owner=legend.owner.username %}" class="btn btn-primary btn-sm">edit</a>

    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 text-center">
            {% static 'legends/images/coLegend-hero.png' as hero_avatar_url %}
            {% include 'legends/widgets/avatar.html' with source=hero_avatar_url name='Hero' class='hero' %}
        </div>
        <div class="col-md-6 text-center">
            {% if legend.avatar %}
                {% include 'legends/widgets/avatar.html' with source=legend.avatar.url name=legend.owner url=legend.get_absolute_url %}
            {% else %}
                {% include 'legends/widgets/avatar.html' with name=legend.owner url=legend.get_absolute_url %}
            {% endif %}
        </div>
        <div class="col-md-3 text-center">
            {% static 'legends/images/coLegend-demon.png' as demon_avatar_url %}
            {% include 'legends/widgets/avatar.html' with source=demon_avatar_url name='Demon' class='demon' %}
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Contact
                </div>
                <div class="card-block">
                    {% if legend.birthday %}
                        <p>
                            {% icon 'birthday-cake' fixed=True %} {{ legend.birthday }}
                        </p>
                    {% endif %}
                    {% if legend.address %}
                        <p>
                            {% icon 'map-marker' fixed=True %}
                            {{ legend.city }}
                        </p>
                    {% endif %}
                    <a href="mailto:{{ legend.owner.email }}" target="_blank" class="btn btn-primary btn-sm">
                        {% icon 'send' %} Send Message
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Relations
                </div>
                <div class="card-block">
                    {% if legend.owner.guiderelation.guide %}
                        <p class="center-block">
                            Cloud guide:
                            {% with guide=legend.owner.guiderelation.guide %}
                                {% include 'legends/widgets/avatar_small.html' with name=guide source=guide.legend.avatar.small.url url=guide.get_absolute_url %}
                            {% endwith %}
                        </p>
                    {% else %}
                        No relations yet.
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Badges
                </div>
                <div class="card-block">
                    <img src="{% static 'legends/images/badges/Core_Team_Badge.png' %}" class="badge team"
                         alt="badge team">
                    <img src="{% static 'legends/images/badges/Cloud_Guide_Badge.png' %}" class="badge guide"
                         alt="badge guide">
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Story Update
                </div>
                <div class="card-block">
                    ...
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Latest Activities
                </div>
                <div class="card-block">
                    ...
                </div>
            </div>


        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Status
                </div>
                <div class="card-block">
                    <p>{{ legend.legend_days }} Legend days</p>

                    <p>Chapter {{ legend.chapter }}</p>

                    <p class="text-muted">Animal</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Biography
                </div>
                <div class="card-block">
                    ...
                </div>
            </div>

        </div>
    </div>
{% endblock %}
