{% extends 'legends/base.html' %}
{% load static icons legends_tags %}

{% block title %}Legend{% endblock %}

{% block breadcrumbs %}
    {% include '_breadcrumb.html' with url='legends:list' icon='users' title='legends' %}
{% endblock %}

{% block page_links %}
    {% if user == legend.owner %}
        {% url 'outer-call:create' as url %}
        {% include 'core/widgets/button.html' with name='Outer Call' url=url kind='link btn-sm' condition=outercall %}

        {% url 'inner-call:create' as url %}
        {% include 'core/widgets/button.html' with name='Inner Call' url=url kind='link btn-sm' condition=innercall %}

        {% url 'legends:biography' as url %}
        {% include 'core/widgets/button.html' with name='Biography' url=url kind='link btn-sm' condition=biography %}

        {% include 'core/widgets/button.html' with name='Hero' kind='link btn-sm' locked=True %}

        {% include 'core/widgets/button.html' with name='Demon' kind='link btn-sm' locked=True %}

        <div class="clearfix"></div>
    {% endif %}
{% endblock %}

{% block pre_content %}
    <blockquote class="blockquote bg-content">
        <p>
            Accept no one's definition of your life, but define yourself.
        </p>
        <footer>
            <cite title="Source Title">by Harvey Fierstein</cite>
            <span class="pull-right">shared by Millionaire Tiger Entrepreneur</span>
        </footer>
        <div class="clearfix"></div>
    </blockquote>

    <p>
        {% include 'legends/chats/introduction.html' %}
    </p>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 text-center">
            {% static 'legends/images/coLegend-hero.png' as hero_avatar_url %}
            {% include 'legends/widgets/legend.html' with source=hero_avatar_url name='Hero' size='medium' %}
        </div>
        <div class="col-md-6 text-center">
            {% legend size='large' %}
        </div>
        <div class="col-md-3 text-center">
            {% static 'legends/images/coLegend-demon.png' as demon_avatar_url %}
            {% include 'legends/widgets/legend.html' with source=demon_avatar_url name='Demon' size='medium' %}
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    About
                    {% if can_edit_about %}
                        <a href="{% url 'legends:update' owner=legend.owner.username %}" class="pull-right">
                            {% icon 'edit' %}
                        </a>
                    {% endif %}
                </div>
                <div class="card-block">
                    {% if legend.name %}
                        <p>
                            {% icon 'legend' fixed=True %}
                            {{ legend.name }}
                        </p>
                    {% endif %}
                    {% if legend.birthday %}
                        <p>
                            {% icon 'birthday-cake' fixed=True %} {{ legend.birthday }}
                        </p>
                    {% endif %}
                    {% if legend.city %}
                        <p>
                            {% icon 'map-marker' fixed=True %}
                            {{ legend.city }}
                        </p>
                    {% endif %}
                    {% if legend.owner != user %}
                        <a href="mailto:{{ legend.owner.email }}" target="_blank" class="btn btn-primary btn-sm">
                            {% icon 'send' %} Send Message
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Relations
                </div>
                <div class="card-block">
                    {% if legend.owner.guiderelation.guide %}
                        <p>
                            Cloud guide:
                            {% legend legend.owner.guiderelation.guide.legend 'small' %}
                        </p>
                    {% else %}
                        No relations yet.
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Badges
                </div>
                <div class="card-block">
                    <img src="{% static 'legends/images/badges/Core_Team_Badge.png' %}" class="badge team"
                         alt="badge team">
                    <img src="{% static 'legends/images/badges/Cloud_Guide_Badge.png' %}" class="badge guide"
                         alt="badge guide">
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Story Update
                </div>
                <div class="card-block">
                    ...
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Latest Activities
                </div>
                <div class="card-block">
                    ...
                </div>
            </div>


        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Status
                </div>
                <div class="card-block">
                    <p>{{ legend.legend_days|default:"first" }} Legend day{{ legend.legend_days|pluralize }}</p>

                    <p>Chapter {{ legend.chapter }}</p>

                    <p class="text-muted">Animal</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Biography
                </div>
                <div class="card-block">
                    {{ legend.biography }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
