{% extends 'legends/base.html' %}

{% block title %}Legends{% endblock %}

{% block content %}
    {% for legend in legends %}
        {% include 'legends/widgets/avatar.html' with name=legend.owner.username source=legend.avatar.url url=legend.get_absolute_url %}
        {% include 'legends/widgets/avatar.html' with name=legend.owner.username source=legend.avatar.url url=legend.get_absolute_url %}
        {#        {% include 'legends/widgets/legend.html' with name=legend url=legend.get_absolute_url %}#}
    {% endfor %}
{% endblock %}
