{% extends 'guides/base.html' %}

{% load legends_tags %}

{% block title %}My Guidees{% endblock %}

{% block content %}
    <h4>Active Guidees</h4>
    <ul class="list-group">
        {% for relation in active_relations %}
            <li class="list-group-item">
                {% legend relation.owner 'small' %}
                <a href="{% url 'guides:manage' relation.owner.username %}" class="btn btn-primary btn-sm">
                    Checklist
                </a>
            </li>
            {% empty %}
            You do not have active guidees yet.
        {% endfor %}
    </ul>
    <p></p>
    <h4>Guidees</h4>
    <ul class="list-group">
        {% for relation in passive_relations %}
            <li class="list-group-item">
                {% legend relation.owner 'small' %}<br>
                <a href="{% url 'guides:manage' relation.owner.username %}" class="btn btn-primary btn-sm">
                    Checklist
                </a>
            </li>
            {% empty %}
            You do not have guided guidees yet.
        {% endfor %}
    </ul>
{% endblock %}
