<div class="project-list">
    <div class="list-controls">
        <a href="{% url "projects:project_new" %}" class="btn btn-default" role="button">new</a>

        <form method="GET" class="pull-right">
            <div class="btn-group">
                <button type="submit" name="status" value="open"
                        class="btn btn-default{% if "open" in status_filters %} active{% endif %}">open
                </button>
                <button type="submit" name="status" value="closed"
                        class="btn btn-default{% if "closed" in status_filters %} active{% endif %}">closed
                </button>
            </div>
        </form>
    </div>
    {% for project in projects %}
        {% include 'projects/_project.html' %}
    {% endfor %}
</div>