{% extends "story/base.html" %}
{% load buttons %}

{% block title %}
    Story
{% endblock %}

{% block extra_script %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Library</h2>
    <hr>
    <div class="chapter-marker">Prologue</div>
    <p>
        {% for button in prologue_buttons %}
            {% button name=button.name url=button.url kind='continuous' locked=button.locked id=button.id %}
        {% endfor %}
    </p>
    <hr>
    <div class="chapter-marker">Chapter 1</div>
    <p>
        {% for button in chapter1_buttons %}
            {% button name=button.name url=button.url kind='continuous' locked=button.locked id=button.id %}        {% endfor %}
    </p>

{% endblock %}
