{% extends "story/base.html" %}

{% block title %}
    Story
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block extra_script %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <hr>
    <div class="chapter-marker">Prologue</div>
    <p>
        {% for button in prologue_buttons %}
            {% include 'widgets/button.html' with name=button.name url=button.url locked=button.locked kind='continuous' %}
        {% endfor %}
    </p>
    <hr>
    <div class="chapter-marker">Chapter 1</div>
    <p>
        {% for button in chapter1_buttons %}
            {% include 'widgets/button.html' with name=button.name url=button.url locked=button.locked kind='continuous' %}
        {% endfor %}
    </p>

{% endblock %}
