{% extends "story/base.html" %}
{% load static icons %}

{% block title %}Entering Leyenda{% endblock %}

{% block content %}
    {% if leyenda %}
        <a href="#" onclick="typed_skip()" class="pull-right">Skip</a>
    {% endif %}
    <div id="typed-strings">
        <p>
            <span class='story-initial-letter'>Y</span>ou have now completed the first chapter and walked your first
            steps as a legend. <br>
            This last section is all about relaxing and enjoying a part of coLegend's fantastical world - <i>Leyenda</i>.
            <br>
            So in order to make the next few minutes as pleasant as possible for you, you can now read and optionally
            listen to the following story:
        </p>
    </div>
    <span id="typed" class="lead"></span>
    <p></p>
    <div class="after-typed">

        <div class="lead">
            <audio controls>
                <source src="{% static 'story/audio/leyenda.mp3' %}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <p></p>

            <p>
                <span class='story-initial-letter'>T</span>he sun was shining warm on her face and she again
                congratulated
                herself on the idea of leaving the house for a while and enjoying the lovely weather outside. Besides it
                was
                the
                first time since she had joined coLegend that she had enough time to relax a little and use the time to
                actually
                discover this new land. Leyenda – that’s the way they call it. They being the other members of coLegend
                –
                her
                fellow legends so to speak. She was still getting used to those new words and they still sounded
                unfamiliar
                in
                her head – unfamiliar... but also exciting. They promised something – what…? She was not entirely sure
                of
                yet.
                But she had thought it to be a good idea to take some time strolling around and exploring this land a
                bit.
            </p>

            <p>
                She set off in the direction of the woods – she loved to walk amongst the trees, feeling the peace and
                quiet
                they gave her. However, when she entered the shadows of the first trees something felt different. She
                couldn’t
                quite put her finger on it … but something definitely had shifted. She took a moment to breath in the
                fresh
                air,
                to smell the trees and the musky earth; to listen to the leaves rustle in the wind and to the birds,
                singing
                their songs to her. She felt like singing back and started walking again, whistling along the way.
                Looking
                up in
                search for the birds she found one sitting in a tree quite close to her. It was a mocking jay – a bird
                that
                imitates your song right away after having heard it! Very intelligent birds. She started to whistle a
                tune
                and
                the bird picked it up, sang it back to her and flew a few trees further away. She followed the bird and
                whistled
                again; once more it answered and flew to another tree. They continued this game quite some time and she
                followed
                the bird deeper into the forest, bit by bit, slowly losing track of where she was going.

            <p>
            </p>
            She was growing
            tired
            and a little worried about finding her way back when the trees started thinning out. A few steps later
            she
            found
            herself on a lovely clearing with a little creek running through that touched the roots of a mighty
            weeping
            willow. The sunshine reflected in its sparkling water and the willow’s arms caressed it on its way past.
            The
            mocking jay had settled down on one of the willow’s branches; it was chirping happily and to her it
            almost
            looked like the bird was enjoying her surprise and inviting her to come closer to the tree. That would
            have
            been
            her first impulse anyway as she loved weeping willows! For her, entering the shelter of a weeping willow
            was
            like entering another sphere – a place, where she could be herself, connect with herself and forget
            time.
            </p>

            <p>
                When she slipped through the willow’s arms, the first thing she noticed was the huge trunk! From the
                outside
                the
                tree had looked big already, but here you could see that it would probably need three people to join
                hands
                in a
                circle to reach around the entire tree’s body! Tracing the lines of the bark she slowly walked around
                it… to
                stop dead in her tracks when she was utterly taken by surprise, seeing the outlines of a door carved
                into
                the
                trunk! That in itself was something to take in but in addition this “door” was made out of all sorts of
                carvings
                in quite the detail! There were seven animals depicted that formed the door’s lines: A bear holding the
                tail
                of
                a monkey, that was riding on the back of a tiger that was holding the tail of a kangaroo between its
                teeth,
                on
                whose shoulder was sitting a parrot that was holding onto the tail feathers of a flying eagle that was
                being
                led
                by a phoenix. Quite the scenery… The center of the door however caught her eye, displaying a wondrous
                sign
                that
                reminded her of the runes she had seen in some fantasy movie. How fitting – she already felt like being
                in
                one
                anyways! In awe she traced the shape of the rune, formed like an infinity sign, with the difference that
                there
                was a break on the top so that it also looked like the letters „co“. Suddenly the wood began to vibrate
                beneath
                her fingers. Startled she drew away her hand, gazing at the trunk! The carvings did not only LOOK like a
                door –
                but in a slow motion that part of the tree actually OPENED! <i>“Please someone pinch me”</i>, she
                thought
                incredulously
                and almost burst out in laughter when she actually felt a sudden gust of wind blow from behind giving
                her a
                small push in the direction of the entrance to the tree. Totally overwhelmed she still managed to take
                some
                more
                wavering steps until she actually stood in the willow’s door, peering into the hollow tree.
            </p>

            <p>
                The first
                thing
                she
                saw was something like a small altar standing in the middle of it with an open book lying on top of it.
                After
                her eyes had adjusted to the dimness of the inner tree she saw even more books. Many, many books that
                were
                somehow integrated into the tree’s inner bark, held by thin wooden beams that slung around them and
                covered
                every inch of the inner tree! All together it looked like a big, wondrous library! Growing more curious
                and
                bolder she lightly touched one of the books closest to her. It shuddered in its holding and more wooden
                beams
                appeared out of the bark and held it tight. “Okay, okay – you’re not for me. I get it.” Her gaze went
                back
                to
                the book on the altar and she could see that there was actually something written in it. She slowly
                approached
                it, readying herself to the possibility that it would snap close if she got too close… but nothing
                happened.
                It
                almost looked as though it was inviting her to read it as one ray of sunshine from outside reached just
                up to
                the altar, shining directly on the book, highlighting it and giving her enough light to read. Her heart
                started thumping harder against her chest as she grew more and
                more
                excited for the book to reveal its secrets to her… She began to read:
            </p>
        </div>
        <form action="" method="post">{% csrf_token %}
            <button id="success" name="success" type="submit" class="btn btn-primary">
                Read the journal entry
            </button>
        </form>

    </div>
{% endblock %}
