{% extends "story/base.html" %}

{% block title %}Entering Leyenda{% endblock %}

{% block content %}
    <div class="lead">
        <p>
            <span class='story-initial-letter'>S</span>he slowly closed the book and shut her eyes for a moment,
            reflecting on what she had just read. She just
            had had access to an old journal entry of a fellow legend – that part was obvious. She felt a smile stretch
            across her face as she went through some of the passages in her head again – she had had quite similar
            thoughts after having joined coLegend. It felt good to know that there were others feeling the same way. She
            suddenly felt the urge to start writing herself – she wanted to write down this experience, her finding this
            marvellous tree, her thoughts about what she wanted out of the platform…
        </p>

        <p>
            A woodpecker suddenly disturbed the silence, pecking at the tree. She tried to ignore the disturbing sound
            as she still wanted to continue her train of thoughts for a bit. But when a sunbeam suddenly touched her
            face she opened her eyes, surprised. The woodpecker had made a whole into the bark and the ray of sunshine
            was directly shining at her. It was so bright that she turned her face away a bit – just to realize that the
            light continued to a specific point in the tree. It shone directly onto the center of a book, entangled in
            the tree’s wall. Thinking of the first book she had tried to open in the tree wall that had been drawn back
            deeper into the tree when she had tried to take it out she didn’t quite dare to try her luck again… but on
            the other hand…
        </p>

        <p>
            She slowly reached out her hand and with slightly trembling fingers touched the book’s cover. Nothing
            happened at first… but then, ever so slowly the wooden beams drew away, back into the tree and after some
            seconds she was able to take the book out of the tree and into her hands. Curious down to the tip of her
            nose she opened the book. <br>
            It was empty. <br>
            <i>You gotta be kidding me!</i> <br>
            She was about to close the book again when letters appeared out of nowhere:
        </p>
    </div>
    <div class="lead">
        <button id="success" name="success" type="submit" class="btn btn-primary"
                onclick="typed_start(); $('#skip').show();">
            Take a closer look
        </button>
    </div>
    <p></p>
    {% if your_journal %}
        <a id="skip" href="#" onclick="typed_skip()" class="pull-right" style="display: none">Skip</a>
    {% endif %}

    <div id="typed-strings">
        <p>
            <span class='story-initial-letter'>H</span>ello curious one! You’re now ready to receive your own journal
            out of the tree of the many stories. It is now time for you to start writing your own one!
        </p>
    </div>
    <span id="typed" class="lead"></span>
    <p></p>
    <div class="after-typed">
        <form action="" method="post">{% csrf_token %}
            <button id="success" name="success" type="submit" class="btn btn-primary">
                Receive own journal
            </button>
        </form>
    </div>
{% endblock %}

{% block autostart %}
{% endblock %}
