// project specific CSS goes here


// base font

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500')
$font-stack: "Ubuntu", Helvetica, sans-serif

// coLegend colors

@import colors

$white: white
$mint-green: #d6e9c6
$black: black
$pink: #f2dede
$dark-pink: #eed3d7
$red: #b94a48

$site-menu-color: $white

$conscious: $color-secondary-1-0
$connected: $color-secondary-2-3
$continuous: $color-primary-3

// category colors

$category-7: darkviolet
$category-6: indigo
$category-5: dodgerblue
$category-4: green
$category-3: gold
$category-2: darkorange
$category-1: crimson

.text-category-7
  color: $category-7

.text-category-6
  color: $category-6

.text-category-5
  color: $category-5

.text-category-4
  color: $category-4

.text-category-3
  color: $category-4

.text-category-2
  color: $category-2

.text-category-1
  color: $category-1

.bg-category-7
  background-color: $category-7

.bg-category-6
  background-color: $category-6

.bg-category-5
  background-color: $category-5

.bg-category-4
  background-color: $category-4

.bg-category-3
  background-color: $category-3

.bg-category-2
  background-color: $category-2

.bg-category-1
  background-color: $category-1

// Alert colors

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug
  background-color: $white
  border-color: $mint-green
  color: $black

.alert-error
  background-color: $pink
  border-color: $dark-pink
  color: $red

// This is a fix for the bootstrap4 alpha release

@media (max-width: 47.9em)
  .navbar-nav .nav-item
    display: inline-block
    float: none
    width: 100%
  .navbar-nav .nav-item + .nav-item
    margin-left: 0
  .nav.navbar-nav.pull-right
    float: none !important

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden="hidden"][style*="display: block;"]
  display: block !important

#navbar-brand-logo
  padding-top: .425rem

#site-menu
  background-color: $site-menu-color

.breadcrumbs
  a
    color: #818a91
    font-size: small
    text-decoration: none

body
  font: 100% $font-stack

.default-pattern
  background-image: url(../images/shattered.jpg)

.conscious-pattern
  background-image: url(../images/shattered-conscious.jpg)

.connected-pattern
  background-image: url(../images/shattered-connected.jpg)

.continuous-pattern
  background-image: url(../images/shattered-continuous.jpg)

.bg-content
  background-color: $white

.breadcrumbs > a + a:before
  content: '/ '
  color: #ccc

#page-title
  margin: 0

//  coLegend text

.text-conscious
  color: $conscious

.text-connected
  color: $connected

.text-continuous
  color: $continuous

//  coLegend background

.bg-conscious
  background-color: $conscious

.bg-connected
  background-color: $connected

.bg-continuous
  background-color: $continuous

// feedback button

#feedback-button
  height: 67px
  width: 67px
  position: fixed
  bottom: 0
  right: 0

#feedback-button-mobile
  @extend #feedback-button
  height: 33px
  width: 33px

.chapter-marker
  position: relative
  top: -1rem
  color: $continuous
  float: right !important

.btn-conscious, .btn-conscious.active, .btn-conscious.focus, .btn-conscious:active, .btn-conscious:focus, .btn-conscious:hover, .open > .btn-conscious.dropdown-toggle
  color: white
  background-color: $conscious
  border-color: $conscious

.btn-connected, .btn-connected.active, .btn-connected.focus, .btn-connected:active, .btn-connected:focus, .btn-connected:hover, .open > .btn-connected.dropdown-toggle
  color: white
  background-color: $connected
  border-color: $connected

.btn-continuous, .btn-continuous.active, .btn-continuous.focus, .btn-continuous:active, .btn-continuous:focus, .btn-continuous:hover, .open > .btn-continuous.dropdown-toggle
  color: white
  background-color: $continuous
  border-color: $continuous

.speech-bubble-arrow
  content: ""
  position: absolute
  top: 0
  left: 0
  width: 0
  height: 0
  border-bottom: 10px solid transparent
  border-top: 20px solid transparent
  border-right: 20px solid transparent

.speech-bubble-arrow::before
  @extend .speech-bubble-arrow
  border-right-color: #e5e5e5

.speech-bubble-arrow::after
  @extend .speech-bubble-arrow
  left: -4px
  border-right-color: white
  z-index: 1

.speech-bubble-arrow-right
  content: ""
  position: absolute
  top: 0
  right: 0
  width: 0
  height: 0
  border-bottom: 10px solid transparent
  border-top: 20px solid transparent
  border-left: 20px solid transparent

.speech-bubble-arrow-right::before
  @extend .speech-bubble-arrow-right
  border-left-color: #e5e5e5

.speech-bubble-arrow-right::after
  @extend .speech-bubble-arrow-right
  right: -4px
  border-left-color: white
  z-index: 1

.legend-name
  color: white

.image-small
  max-height: 50px
  max-width: 50px

.image-medium
  max-height: 100px
  max-width: 100px

.image-large
  max-height: 200px
  max-width: 200px

.badge
  max-height: 6rem
  max-width: 6rem

.game-card-block
  padding: 1rem

.game-card-image
  max-height: 6rem
  margin: auto

// story animals

.phoenix-avatar
  @extend .bg-category-7

.eagle-avatar
  @extend .bg-category-6

.parrot-avatar
  @extend .bg-category-5

.monkey-avatar
  @extend .bg-category-4

.tiger-avatar
  @extend .bg-category-3

.dolphin-avatar
  @extend .bg-category-2

.bear-avatar
  @extend .bg-category-1

// Used for forms in speech bubble responses
form.list-group-item:focus, form.list-group-item:hover
  color: #555
  text-decoration: none
  background-color: #f5f5f5

// Fixing the spacing of the fullscreen markup editor (simpleMDE)

form .editor-toolbar.fullscreen
  top: 56px

form .CodeMirror-fullscreen
  top: 106px
