{% extends '_chat.html' %}

{% block chat_title %}
    Hello fellow..
{% endblock %}

{% block chat_content %}
    <p>
        So we meet again :)
        This is the <strong class="text-conscious">conscious</strong> page. A place where you can take time for yourself
        and discover what your deepest wishes
        and desires are.
    </p>
    <p>
        I noticed for myself, that as soon as I know what I truly want, it gets so much easier to actually get closer to
        and accomplish that goal.
    </p>
{% endblock %}

{% block chat_response %}{% endblock %}
