{% extends 'base.html' %}

{% block title %}Conscious{% endblock %}
{% block page_color %}conscious{% endblock %}

{% block content %}
    Chapter 1:
    <progress class="progress progress-striped progress-success" value="10" max="100">10%</progress>

    <blockquote class="blockquote">
        <p>If you really want to do something, you'll find a way. If you don't, you'll find an excuse.</p>
        <footer>
            <cite title="Source Title">by Jim Rohn</cite>
            <span class="pull-right">shared by Professor Eagle Scientist</span>
        </footer>
    </blockquote>

    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Your life <a href="#" class="alert-link">could change</a> any moment.
    </div>
    <p>
        <a href="#" class="btn btn-primary">
            Outer Call
        </a>
        <a href="#" class="btn btn-primary disabled">
            <i class="fa fa-lock"></i> Inner Call
        </a>
        <a href="#" class="btn btn-primary disabled">
            <i class="fa fa-lock"></i> Biography
        </a>
    </p>
    <hr>
    <p>
        <a href="#" class="btn btn-primary disabled">
            <i class="fa fa-lock"></i> Journal
        </a>
    </p>

{% endblock %}
