{% extends 'base.html' %}

{% block title %}Conscious{% endblock %}

{% block body_class %}conscious{% endblock %}

{% block pre_content %}
    <blockquote class="blockquote bg-content">
        <p>If you really want to do something, you'll find a way. If you don't, you'll find an excuse.</p>
        <footer>
            <cite title="Source Title">by Jim Rohn</cite>
            <span class="pull-right">shared by Professor Eagle Scientist</span>
        </footer>
        <div class="clearfix"></div>
    </blockquote>

    <p>
        {% include 'conscious/_conscious_chat.html' %}
    </p>
{% endblock %}

{% block content_container %}
{% endblock %}
