{% extends 'base.html' %}

{% block title %}Conscious{% endblock %}
{% block page_color %}conscious{% endblock %}

{% block content %}
    What do you really want right now?

    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Your life <a href="#" class="alert-link">could change</a> any moment.
    </div>
    <span data-toggle="tooltip" data-placement="top" title="Tooltip on top">foo</span>

    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
{% endblock %}
