<div class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            <i class="fa fa-calendar"></i>
            Event
        </a>
        <a href="#" class="card-close-button close">
            <small><i class="fa fa-close pull-right"></i></small>
        </a>
    </div>
    <img class="card-img-top img-responsive center-block"
         src="http://vectorboom.com/tutorials/CalendarIcon/final.jpg"
         alt="Tools"
         style="max-height: 6rem;">

    <div class="card-block">
        <h4 class="card-title">Circle Gathering</h4>

        <p class="card-text">
            Save the date of our next circle gathering to your calender and don’t miss out on our community sharing their legendary stories.
        </p>
    </div>
</div>
