<div class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            <i class="fa fa-road"></i>
            Feature
        </a>
        <a href="#" class="card-close-button close">
            <small><i class="fa fa-close pull-right"></i></small>
        </a>

    </div>
    <img class="card-img-top img-responsive center-block"
         src="http://goo.gl/rquXyI"
         alt="Feature"
         style="max-height: 6rem;">

    <div class="card-block">
        <h4 class="card-title">Smart Journal</h4>

        <p class="card-text">
            The journal can now help you talk more easily about your weekly TODOs and happenings during your tribe
            meetings as there will be a view included in your tribe-hangout that shows you your daily focus matched with
            your daily TODOs.
        </p>
    </div>
</div>
