<div class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            <i class="fa fa-user"></i>
            Legends
        </a>
        <a href="#" class="card-close-button close">
            <small><i class="fa fa-close pull-right"></i></small>
        </a>

    </div>
    <img class="card-img-top img-responsive center-block"
         src="http://usercontent2.hubimg.com/6248865_f520.jpg"
         alt="Legend"
         style="max-height: 6rem;">

    <div class="card-block">
        <h4 class="card-title">Legendary Birthday</h4>

        <p class="card-text">
            Today is <a href="#">Coralina</a>'s birthday!
        </p>
    </div>
</div>
