<div id="links-card" class="card bg-content">
    <div class="card-block">
        <a href="#" class="btn btn-default btn-sm disabled">News</a>
        <a href="#" class="btn btn-default btn-sm disabled">Events</a>
        <a href="#" class="btn btn-default btn-sm disabled">Story</a>
        <a href="#" class="btn btn-default btn-sm disabled">Quotes</a>
        <a href="#" class="btn btn-default btn-sm disabled">Features</a>
        <a href="#" class="btn btn-default btn-sm disabled">Tools</a>
        <a href="#" class="btn btn-default btn-sm disabled">Legends</a>
        <a href="#" class="btn btn-default btn-sm disabled">FAQ</a>
        <a href="https://trello.com/b/bdLJMvHs/documentation" class="btn btn-default btn-sm" target="_blank">
            Documentation
        </a>
        <a href="{% url 'about' %}" class="btn btn-default btn-sm" target="_blank">
            About
        </a>
    </div>
</div>
