<div class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            <i class="fa fa-user-md"></i>
            Role
        </a>
        <a href="#" class="card-close-button close">
            <small><i class="fa fa-close pull-right"></i></small>
        </a>
    </div>
    <img class="card-img-top img-responsive center-block"
         src="http://goo.gl/8NWxx6"
         alt="Role"
         style="max-height: 6rem;">

    <div class="card-block">
        <h4 class="card-title">Social Butterfly</h4>

        <p class="card-text">
            <a href="#">Coralina</a> is now our coLegend <i>social butterfly</i> – she will thus pollinate the „outer world“ with the coSpirit in to make
            getting in contact with coLegend more easily with her friendly face and easy-going attitude.
        </p>
    </div>
</div>
