{% load static %}

{% block extra_head %}
    {{ super.block }}
    <link href="{% static 'legend/css/legend.css' %}" rel="stylesheet">
{% endblock %}

<div class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            <i class="fa fa-paw"></i>
            Story
        </a>
        {% include 'home/cards/_card_close_button.html' %}
    </div>
    <img class="card-img-top img-responsive center-block"
         src="http://goo.gl/nv9JR7"
         alt="Story"
         style="max-height: 6rem;">

    <div class="card-block">
        <h4 class="card-title">Bear is preparing for wintertime</h4>

        <p class="card-text">
            <span class="legend-initial-letter">T</span>he bear was looking out of his cave, sniffing the fresh autumn
            air. It was surprisingly warm for this time
            of the year but he knew that winter would come soon enough. He was already deep in preparations for this
            cold and dark time of the year – making his cave warm and cozy and full of memories of the last year and
            anticipations for the coming year. He had learned over time that in order for him to enjoy his winter
            slumber he must.... <a href="#">continue reading</a></p>

    </div>
</div>
