{% load webdesign %}

<div class="card">
    <div class="card-header">
        <a href="#" class="">
            <i class="fa fa-paw"></i>
            Story
        </a>
        <a href="#" class="card-close-button close">
            <small><i class="fa fa-close pull-right"></i></small>
        </a>
    </div>
    <img class="card-img-top img-responsive center-block"
         src="http://placehold.it/350x150?text=story update"
         alt="Story"
         style="max-height: 6rem;">

    <div class="card-block">
        <h4 class="card-title">Once upon a time..</h4>

        <p class="card-text">
            Suddenly something magical happened.
{#            {% lorem %}#}
            {% lorem 20 w random %}
        </p>

    </div>
</div>
