{% load icons %}
<div class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            {% icon 'tool' %}
            Tool
        </a>
        {% include 'home/cards/_card_close_button.html' %}
    </div>
    <img class="card-img-top img-responsive center-block"
         src="http://goo.gl/SNZRKD"
         alt="Tool"
         style="max-height: 6rem;">

    <div class="card-block">
        <h4 class="card-title">Tornado Chart</h4>

        <p class="card-text">
            When being faced with a difficult decision there are several tools that we can use to reach a good decision
            and maximum value potential by making ourselves conscious about what relevant and reliable information we
            need and what uncertainties we face. A Tornado Chart compares the relative importance of uncertainties. For
            each uncertainty considered there needs to be an estimate concerning possible low, base, and high outcomes.
            The most relevant uncertainties are at the top, followed by less relevant ones and so on – this format
            resembles a tornado.
        </p>
    </div>
</div>
