<div class="organism-header">
    <div class="card">
        <div class="card-block">
            {% if breadcrumbs %}
                {% include 'organisms/breadcrumbs.html' %}
            {% else %}
                <br>
            {% endif %}
            <h1 {% if id %}id="{{ id }}"{% endif %} class="card-title">{{ title }}</h1>
        </div>
        {% if links %}
            {% include 'organisms/links.html' %}
        {% endif %}
        {% if buttons %}
            {% include 'organisms/controls.html' %}
        {% endif %}
    </div>
</div>
