<div class="card bg-content">
    <div class="card-header">
        <a href="#" class="">
            Cloud Guide
        </a>
    </div>
    <img class="card-img-top img-responsive center-block"
         src="https://s-media-cache-ak0.pinimg.com/736x/3f/4f/0c/3f4f0ce1d3b94de36acbf5236aa3fa9e.jpg"
         alt="Cloud Guide"
         style="max-height: 6rem;">

    <div class="card-block">
        <p class="card-text">
            Your Cloud Guide is still on the lookout for you.
        </p>
    </div>
</div>
