{% extends 'base/chat.html' %}

{% block chat_title %}
    Hello fellow..
{% endblock %}

{% block chat_content %}



    <p>
        This is the <strong class="text-continuous">continuous</strong> page - the place where you get an overview of
        your personal development in coLegend from different perspectives.
    </p>
    <p>
        From here you have access to <a href="{% url 'games:index' %}">the game</a> where you can advance in your journey through the platform, step by step,
        card by card.
    </p>
    <p>
        On <a href="{% url 'story:index' %}">the story page</a> you also see your status of the different coLegend story elements.
        You play a part in each and every one of them - go have a look for yourself by browsing through our library.
    </p>
{% endblock %}

{% block chat_answers %}
    <a href="{% url 'games:index' %}">
        <li class="list-group-item">
            Okay.. take me to the game
        </li>
    </a>
{% endblock %}
