<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['annotationchart']}]}"></script>
<script type='text/javascript'>
    google.load('visualization', '1', {'packages': ['annotationchart']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        {% if data.first.date %}
            data.addColumn('date', 'Date');
        {% elif data.first.start or data.first.time %}
            data.addColumn('datetime', 'Time');
        {% endif %}
        data.addColumn('number', '{{ type }}');
        {% if has_notes %}
            data.addColumn('string', 'Notes');
        {% endif %}
        data.addRows([
            {% for row in data %}
                {% if row.date %}
                    [new Date({{ row.date.year }}, {{ row.date.month }}-1, {{ row.date.day }}), {{ row.value }}{% if has_notes %}, '{{ row.notes }}'{% endif %}],
                {% elif row.start %}
                    [new Date({{ row.start.year }}, {{ row.start.month }}-1, {{ row.start.day }}, {{ row.start.hour }}, {{ row.start.minute }}), 0{% if has_notes %}, ''{% endif %}],
                    [new Date({{ row.start.year }}, {{ row.start.month }}-1, {{ row.start.day }}, {{ row.start.hour }}, {{ row.start.minute }}), {{ row.value }}{% if has_notes %}, '{{ row.notes }}'{% endif %}],
                    [new Date({{ row.end.year }}, {{ row.end.month }}-1, {{ row.end.day }}, {{ row.end.hour }}, {{ row.end.minute }}), {{ row.value }}{% if has_notes %}, ''{% endif %}],
                    [new Date({{ row.end.year }}, {{ row.end.month }}-1, {{ row.end.day }}, {{ row.end.hour }}, {{ row.end.minute }}), 0{% if has_notes %}, ''{% endif %}],
                {% endif %}
            {% endfor %}
        ]);
        var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));
        var options = {
        {% if not has_notes %}
            displayAnnotations: false
        {% endif %}
        };
        chart.draw(data, options);
    }
</script>
<div id='chart_div' style='width: 100%; height: {{ height|default:400 }}px; padding: 0px;'></div>
