<script type="text/javascript"
        src="https://www.google.com/jsapi">
</script>
<script>
    google.load("visualization", "1.1", {packages: ["calendar"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'date', id: 'Date' });
        dataTable.addColumn({ type: 'number', id: '{{ type }}' });
        dataTable.addRows([
            {% for data in object_list %}
                [ new Date({{ data.date.year }}, {{ data.date.month }}-1, {{ data.date.day }}), {{ data.value }} ],
            {% endfor %}
        ]);
        var chart = new google.visualization.Calendar(document.getElementById('chart_div'));
        var options = {
            noDataPattern: {
                backgroundColor: 'white'
            },
            colorAxis: {colors: ['green', 'darkgreen']}
        };
        chart.draw(dataTable, options);
    }
</script>
<div id='chart_div' style='width: 100%; height: {{ height|default:400 }}px; padding: 0px;'></div>
