<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type='text/javascript'>
    google.load('visualization', '1', {'packages': ['corechart']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', '{{ type }}');
        data.addRows([
            {% for row in data %}
                [new Date({{ row.date.year }}, {{ row.date.month }}-1, {{ row.date.day }}), {{ row.value }}],
            {% endfor %}
        ]);
        var options = {
            legend: { position: "none" },
            trendlines: {
                0: {lineWidth: 5, opacity: .3}
            }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<div id='chart_div' style='width: 100%; height: {{ height|default:400 }}px; padding: 0px;'></div>
