{% extends 'page.html' %}

{% block page_title %}
    Sleep Chart
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {'packages': ['corechart']});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Time');
            data.addColumn('number', 'Hours');
            data.addColumn({type: 'string', role: 'tooltip'});
            data.addColumn({type: 'string', role: 'style'});
            data.addRows([
                {% for row in object_list %}
                    [new Date({{ row.start.year }}, {{ row.start.month }}-1, {{ row.start.day }}, {{ row.start.hour }}, {{ row.start.minute }}), {{ row.value }}, '{{ row.start }}\n{{ row.value }} h{% if row.notes %}\n{{ row.notes }}{% endif %}', '{% if row.value < 4 %}color: lightblue{% elif row.value < 10 %}color: green{% else %}{% endif %}{% if row.notes %}; stroke-color: black; stroke-width: 2;{% endif %}'],
                {% endfor %}
            ]);
            var options = {
                {#                trendlines: { 0: {} }#}
                vAxis: {
                    title: 'Hours of sleep'
                },
                legend: { position: "none" },
                trendlines: {
                    0: {lineWidth: 5, opacity: .3}
                }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}

{% block page_title_extras %}
    <span class="label label-{% if average > 4 %}success{% elif average < 4 %}danger{% else %}default{% endif %}">Average: {{ average|floatformat:1 }} hours</span>
    <span class="label label-default">Total: {{ total|floatformat:1 }} hours</span>
{% endblock %}

{% block page_content %}
    <div id='chart_div' style='width: 100%; height: 400px; padding: 0px;'></div>
{% endblock %}
