{% extends 'page.html' %}

{% block page_title %}
    Tackers
{% endblock %}

{% block up_url %}{% url "trackers:tracker_list" %}{% endblock %}

{% block page_controls %}
    <a href="{% url "trackers:weight_list" %}" class="btn btn-category bg-category-1">Weight</a>
    <a href="{% url "trackers:sex_list" %}" class="btn btn-category bg-category-2">Sex</a>
    <a href="{% url "trackers:transaction_list" %}" class="btn btn-category bg-category-3">Finances</a>
    <a href="{% url "trackers:joke_list" %}" class="btn btn-category bg-category-5">Jokes</a>
    <a href="{% url "trackers:book_list" %}" class="btn btn-category bg-category-6">Books</a>
    <a href="{% url "trackers:dream_list" %}" class="btn btn-category bg-category-7">Dreams</a>
{% endblock %}

{% block page_content %}
    <div class="well well-sm">
        <h4>Feedback</h4>
        What do you want to keep track of?<br/>
        <a href="{% url "contact" %}" class="btn btn-default">Suggest</a>
    </div>
{% endblock %}
