{% extends 'page.html' %}

{% load icons %}
{% load crispy_forms_tags %}

{% block extra_head %}
    {{ block.super }}
    <style>
        .fa-chain {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    </style>
{% endblock %}

{% block page_title %}
    {{ object }}
{% endblock %}

{% block up_url %}{% url "trackers:tracker_list" %}{% endblock %}

{% block page_controls %}
    <a href="{{ object.get_edit_url }}" class="edit-button btn btn-primary" role="button">{% icon "edit" %}</a>
    <a href="{{ object.get_delete_url }}" class="delete-button btn btn-danger" role="button">{% icon "delete" %}</a>
{% endblock %}

{% block page_title_extras %}
    {% include "categories/_category_field.html" with category=object.category %}
    <span class="label label-{% if object.is_tracked %}success{% else %}default{% endif %}">{% icon object.get_tracker_type_display|lower %} {{ object.get_frequency_display }}</span>
    {% include "trackers/_chain.html" %}
{% endblock %}

{% block page_content %}
    {% crispy form %}
    <div class="row">
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>{{ type }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in object_list %}
                        <tr>
                            <td>
                                {{ data.date }}
                            </td>
                            <td>
                                {% if type == "Check" %}
                                    {% icon "check" %}
                                {% elif type == "Number" %}
                                    {{ data.number }}
                                {% elif type == "Rating" %}
                                    <span data-toggle="tooltip" title="{{ data.rating }}">
                            {% for s in ""|ljust:data.rating %}
                                {% icon "star" %}
                            {% endfor %}
                            </span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ data.get_delete_url }}"
                                   class="item-delete-button btn btn-danger btn-xs pull-right"
                                   role="button">{% icon "delete" %}<span
                                        class="sr-only"> Delete</span></a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            {% include "lib/_pager.html" %}
        </div>
        <div class="col-md-8">
            {% if chart == "Calendar Chart" %}
                {% include "trackers/_calendar_chart.html" with data=object_list %}
            {% elif chart == "Column Chart" %}
                {% include "trackers/_column_chart.html" with data=object_list %}
            {% elif chart == "Line Chart" %}
                {% include "trackers/_line_chart.html" with data=object_list %}
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
