{% extends 'page.html' %}

{% load icons %}

{% block extra_head %}
    {{ block.super }}
    <style>
        .fa-chain {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    </style>
{% endblock %}

{% block page_title %}
    Trackers
{% endblock %}

{% block up_url %}{% url "trackers:tracker_list" %}{% endblock %}

{% block page_controls %}
    <span data-toggle="tooltip" title="New Tracker">
        <a href="{% url "trackers:tracker_new" %}" class="btn btn-default">{% icon "new" %}</a>
    </span>
{% endblock %}

{% block page_content %}
    <div class="well">
        <h4>Custom Trackers</h4>
            {% for tracker in user.trackers.all %}
                <a href="{{ tracker.get_show_url }}" class="btn btn-category bg-category-{{ tracker.category.pk }}">{% icon tracker.get_tracker_type_display|lower %} {{ tracker }}
                <br/>{% include "trackers/_chain.html" %}</a>
            {% endfor %}
    </div>
    <div class="well">
        <h4>Special Trackers</h4>
        <a href="{% url "trackers:sleep_list" %}" class="btn btn-category bg-category-1">{% icon "sleep" %} Sleep</a>
        <a href="{% url "trackers:weight_list" %}" class="btn btn-category bg-category-1">{% icon "weight" %} Weight</a>
        <a href="{% url "trackers:sex_list" %}" class="btn btn-category bg-category-2">{% icon "sex" %} Sex</a>
        <a href="{% url "trackers:transaction_list" %}" class="btn btn-category bg-category-3">{% icon "transaction" %} Finances</a>
        <a href="{% url "trackers:walk_list" %}" class="btn btn-category bg-category-4">{% icon "walk" %} Walks</a>
        <a href="{% url "trackers:joke_list" %}" class="btn btn-category bg-category-5">{% icon "joke" %} Jokes</a>
        <a href="{% url "trackers:book_list" %}" class="btn btn-category bg-category-6">{% icon "book" %} Books</a>
        <a href="{% url "trackers:dream_list" %}" class="btn btn-category bg-category-7">{% icon "dream" %} Dreams</a>
    </div>
    <div class="well well-sm">
        <h4>Feedback</h4>
        What do you want to keep track of?<br/>
        <a href="{% url "contact" %}" class="btn btn-default">Suggest</a>
    </div>
{% endblock %}
