{% extends 'page.html' %}

{% load icons %}

{% block page_title %}
    Walks
{% endblock %}

{% block up_url %}{% url "trackers:tracker_list" %}{% endblock %}

{% block page_title_extras %}
    {% include "lib/_total_counter.html" %}
    {% include "categories/_category_field.html" %}
{% endblock %}

{% block page_controls %}
    <a href="{% url "trackers:walk_new" %}" class="btn btn-default">{% icon "new" %}</a>
{% endblock %}

{% block page_content %}
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Notes</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for walk in walk_list%}
            <tr>
                <td>
                    <a href="{{ walk.get_edit_url }}">{{ walk.start }}</a><br>
                </td>
                <td>
                    {{ walk.end|default:"-" }}
                </td>
                <td align="right">
                    {{ walk.get_duration_display|default:"-" }}
                </td>
                <td>
                    {{ walk.notes }}
                </td>
                <td>
                    <a href="{{ walk.get_delete_url }}" class="item-delete-button btn btn-danger btn-xs pull-right" role="button">{% icon "delete" %}<span class="sr-only"> Delete</span></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
    {% include "lib/_pager.html" %}
{% endblock %}
