{% extends 'page.html' %}

{% load icons %}

{% block page_title %}
    Weight
{% endblock %}

{% block up_url %}{% url "trackers:tracker_list" %}{% endblock %}

{% block page_title_extras %}
    {% include "lib/_total_counter.html" %}
    {% include "categories/_category_field.html" %}
{% endblock %}

{% block page_controls %}
    <a href="{% url "trackers:weight_new" %}" class="btn btn-default">{% icon "new" %}</a>
    <a href="{% url "trackers:weight_chart" %}" class="btn btn-default">{% icon "chart" %}</a>
{% endblock %}

{% block page_content %}
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Time</th>
            <th>Weight</th>
            <th>Notes</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for weight in weight_list%}
            <tr>
                <td>
                    <a href="{{ weight.get_edit_url }}">{{ weight.time }}</a><br>
                </td>
                <td>
                    {{ weight.weight }} kg
                </td>
                <td>
                    {{ weight.notes }}
                </td>
                <td>
                    <a href="{{ weight.get_delete_url }}" class="item-delete-button btn btn-danger btn-xs pull-right" role="button">{% icon "delete" %}<span class="sr-only"> Delete</span></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
    {% include "lib/_pager.html" %}
{% endblock %}
