/* status */
.status.status-next {
    background-color: #d9534f;
}

.status.status-todo {
    background-color: #f0ad4e;
}

.status.status-waiting {
    background-color: purple;
}

.status.status-someday {
    background-color: #428bca;
}

.status.status-maybe {
    background-color: #5bc0de;
}

.status.status-done {
    background-color: #5cb85c;
}

.status.status-canceled {
    background-color: darkgreen;
}

/* end status */
