{% load icons outcomes_tags %}
<div id="{{ id }}" class="widget-outcome-card card card-item bg-content hover-border-accent" data-url="{{ url }}"
     ondblclick="window.location=$(this).attr('data-url');">
    <strong>{% status %}<a href="{{ url }}">{{ name }}</a></strong>
    <div class="pull-right">
        {% date %}
        {% deadline %}
        {% estimate %}
        {% if description %}{% icon 'description' %}{% endif %}
        {% review %}
        {% inbox %}
    </div>
    <div class="clearfix"></div>
</div>
