{% load icons outcomes_tags buttons %}
<div id="{{ id }}" class="widget-outcome-card card card-item bg-content hover-border-accent" data-url="{{ url }}"
     ondblclick="window.location=$(this).attr('data-url');">
    <strong>{% status %}<a href="{{ url }}">{{ name }}</a></strong>
    <!-- Action dropdown -->
    <div class="btn-group pull-right">
        <a href="#menu" type="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">{% icon 'more' fixed=True color='grey' %}</a>
        <div class="dropdown-menu dropdown-menu-right">
            {% button 'update' url=update_url kind='default dropdown-item' %}
            {% button 'delete' url=delete_url kind='default dropdown-item' %}
        </div>
    </div>
    <div class="pull-right">
        {% estimate %}
        {% if description %}{% icon 'description' %}{% endif %}
        {% review %}
        {% inbox %}
    </div>
    <div class="pull-right">
        {% date %}
        {% deadline %}
    </div>
    <div class="clearfix"></div>
</div>
