{% load icons %}

<div class="quote">
    <span class="pull-right">
        {% include "categories/_category_field.html" with category=quote.category %}
    </span>
    <blockquote>
        <span class="lead page-navigation">
            <a href="{{ quote.get_show_url }}" class="back-link">
                {% icon "quote" %}
            </a>
            {{ quote }}</span>

        <p>{{ quote.text|linebreaksbr }}</p>
        <footer>by <cite title="Author">{{ quote.author }}</cite><br/><cite class="small pull-right">shared
            by {% include "users/_user_link.html" with user=quote.provider %}</cite></footer>
    </blockquote>
</div>
