{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Quote
{% endblock %}

{% block up_url %}{% url "quotes:quote_list" %}{% endblock %}

{% block page_controls %}
    {% if owned %}
        <a href="{{ quote.get_edit_url }}" class="btn btn-primary" role="button">{% icon "edit" %}</a>
        <a href="{{ quote.get_delete_url }}" class="btn btn-danger" role="button">{% icon "delete" %}</a>
    {% endif %}
    {% if quote.pending and user.is_manager %}
        <form method="POST" class="inline">{% csrf_token %}
            <button type="submit" name="accept" class="btn btn-warning pull-right">{% icon "accept" %}</button>
        </form>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="well">
        {% include "quotes/_quote.html" %}
    </div>
{% endblock %}
