{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{% block title %}Quotes{% endblock %}
            <span class="badge status">{{ contribution_counter }}</span>
        </h1>

        <div class="list-controls container-fluid well well-sm">
            <a href="{% url "quotes:quote_new" %}" class="btn btn-default">New</a>
        </div>

        {% if random_quote %}
            <div class="well well-sm">
                {% include "quotes/_quote.html" with quote=random_quote %}
            </div>
        {% endif %}

        <div class="well">
        <h2>My Quotes</h2>
            {% for quote in quotes %}
                <a href="{{ quote.get_show_url }}" class="btn btn-default">
                    {{ quote }}
                </a>
            {% endfor %}
        {% if pending %}
        <h3>Pending</h3>
            {% for quote in pending %}
                <a href="{{ quote.get_show_url }}" class="btn btn-default">
                    {{ quote }}
                </a>
            {% endfor %}
        {% endif %}
        </div>

        <div class="well">
            <h3>Share your quotes</h3>

            {% if contribution_counter %}
                You have contributed <span class="badge">{{ contribution_counter }}</span>
                quote{{ contribution_counter|pluralize }}!
            {% else %}
                Time to enter your <span class="badge">first</span> quote.
            {% endif %}
            <p>Can you think of a quote that you could share? Awesome!</p>
            <a href="{% url "quotes:quote_new" %}" class="btn btn-primary"><i class="fa fa-share"></i> Share a Quote</a>
        </div>

    </div>
{% endblock %}
