{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Quotes
{% endblock %}

{% block up_url %}{% url "quotes:quote_list" %}{% endblock %}

{% block page_title_extras %}
    {% include "lib/_total_counter.html" %}
    {% include "lib/_share_counter.html" %}
{% endblock %}

{% block page_controls %}
        <a href="{% url "quotes:quote_new" %}" class="btn btn-default">{% icon "new" %}</a>
        {% if user.is_manager %}
            <a href="{% url "quotes:quote_manage" %}" class="btn btn-warning pull-right">{% icon "manage" %}</a>
        {% endif %}
{% endblock %}

{% block page_content %}
    {% if random_quote %}
        <div class="well well-sm">
            {% include "quotes/_quote.html" with quote=random_quote %}
        </div>
    {% endif %}

    <div class="well">
        <h2>My Quotes</h2>
        {% for quote in quotes %}
            <a href="{{ quote.get_show_url }}" class="btn btn-default">
                {{ quote }}
            </a>
        {% endfor %}
        {% if pending %}
            <h3>Pending</h3>
            {% for quote in pending %}
                <a href="{{ quote.get_show_url }}" class="btn btn-default">
                    {{ quote }}
                </a>
            {% endfor %}
        {% endif %}
    </div>

    <div class="well">
        <h3>Share your quotes</h3>

        {% if share_counter %}
            You have contributed <span class="badge">{{ share_counter }}</span>
            quote{{ share_counter|pluralize }}!
        {% else %}
            Time to enter your <span class="badge">first</span> quote.
        {% endif %}
        <p>Can you think of a quote that you could share? Awesome!</p>
        <a href="{% url "quotes:quote_new" %}" class="btn btn-primary"><i class="fa fa-share"></i> Share a Quote</a>
    </div>
{% endblock %}
