{% extends 'page.html' %}

{% load icons %}

{% block page_title %}
    Quotes Manager
{% endblock %}

{% block up_url %}{% url "quotes:quote_list" %}{% endblock %}

{% block page_controls %}
    <form method="POST" class="inline">{% csrf_token %}
        <button type="submit" name="accept" class="btn btn-warning pull-right" data-toggle="tooltip" title="Accept All">
            {% icon "accept" %}
        </button>
    </form>
{% endblock %}

{% block page_content %}
    <div class="well">
        <h2>Pending Quotes</h2>
        {% for quote in quote_list %}
            {% ifchanged quote.provider %}
                <h4>{% include "users/_user_link.html" with user=quote.provider %}</h4>
            {% endifchanged %}
            <a href="{{ quote.get_show_url }}" class="btn btn-category bg-category-{{ quote.category.pk }}">
                {{ quote }}
            </a>
        {% endfor %}
    </div>
{% endblock %}
