{% extends 'base.html' %}

{% block content %}
    <h1>Quote</h1>
    {% if controls %}
    <div class="list-controls container-fluid well well-sm">
        {% if owned %}
        <a href="{{ quote.get_edit_url }}" class="btn btn-primary" role="button">Edit</a>
        <a href="{{ quote.get_delete_url }}" class="btn btn-danger" role="button">Delete</a>
        {% endif %}
        {% if quote.pending and user.is_manager %}
            <form method="POST" class="inline">{% csrf_token %}
                <button type="submit" value="quote" class="btn btn-warning pull-right">Accept</button>
            </form>
        {% endif %}
    </div>
    {% endif %}
    <div class="well">
        {% include "quotes/_quote.html" %}
    </div>

{% endblock %}
