<div class="task-list">
    <div class="list-controls">
        <a href="{% url "tasks:task_new" %}{% if project %}?project={{ project.pk }}{% endif %}" class="btn btn-default"
           role="button">new</a>

        <form method="GET" class="pull-right">
            <div class="btn-group">
                <button type="submit" name="status" value="open"
                        class="btn btn-default{% if "open" in status %} active{% endif %}">open
                </button>
                <button type="submit" name="status" value="closed"
                        class="btn btn-default{% if "closed" in status %} active{% endif %}">closed
                </button>
            </div>
        </form>
    </div>
    {% for task in tasks %}
        {% include "tasks/_task.html" %}
    {% endfor %}
</div>