{% extends 'roles/base.html' %}
{% load static icons atoms_tags buttons markdown legends_tags roles_tags %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styleguide/css/index.css' %}">
{% endblock %}

{% block title %}Role{% endblock %}

{% block page_controls %}
    {% if manager %}
        {% button 'update' url=role.update_url %}
        <div class="pull-right">
            {% button 'delete' url=role.delete_url %}
        </div>
    {% endif %}
{% endblock %}

{% block content_container %}
<div class="row">
    <div class="col-md-8">
        <div class="card bg-content card-block">
            <h1>
                {{ role }}
            </h1>
                {% if role.icon %}
                    <div class="pull-left" style="margin-right: 0.5em">
                        {% include 'roles/widgets/role.html' with image=role.icon.url class='bg-main-light' name=role.item url=role.detail_url %}
                    </div>
                {% else %}
                    <div class="pull-left" style="margin-right: 0.5em">
                        {% static 'roles/images/icon_object_f.png' as default_image %}
                        {% include 'roles/widgets/role.html' with image=default_image class='bg-main-light' name=role.item url=role.detail_url %}
                    </div>
                {% endif %}
            <p>
                {{ role.description|markdown }}
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="card bg-content card-block">
            <h4>
                Energizers
            </h4>
            {% if energizers %}
                {% for legend in energizers %}
                    {% legend size='small' %}
                {% endfor %}
                <p></p>
                {% contact_button name='Contact this group' %}
            {% else %}
                <p>
                    We are looking for legends to energize this role.
                </p>
                <p>
                    {% contact_button %}
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
