{% extends 'roles/base.html' %}
{% load static icons atoms_tags buttons roles_tags legends_tags %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styleguide/css/index.css' %}">
{% endblock %}

{% block title %}Roles{% endblock %}

{% block page_controls %}
    {% if manager %}
        {% button 'create' pattern='roles:create' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% for role in roles %}
            <div class="col-lg-6" style="margin-bottom: 0.5em">
                <div class="pull-left" style="margin-right: 0.5em">
                    {% role show_link=False %}
                </div>
                {% role_link %}<br>
                {% for user in role.users.all %}
                    {% legend size='small' %}
                {% endfor %}
                <div class="clearfix"></div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                <div class="clearfix hidden-md-down"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
