<h2 class="page-navigation">
    <a href="{{ newsblock.get_show_url }}" class="back-link">
        <i class="fa fa-newspaper-o"></i>
    </a>
    {{ newsblock|default:"No news is good news." }}
</h2>

<p>{{ newsblock.content }}</p>
<a href="{% url "contact" %}" class="btn btn-primary">Feedback</a>
<a href="{% url "news:newsblock_list" %}" class="btn btn-default">News Archive</a>
{% if newsblock %}
    <footer><cite class="small pull-right">— created
        by {% include "users/_user_link.html" with user=newsblock.owner %} on {{ newsblock.date }}</cite></footer>
{% endif %}
