{% extends 'page.html' %}
{% load icons %}

{% block page_title %}{{ tutorial }}{% endblock %}

{% block up_url %}{% url "tutorials:tutorial_list" %}{% endblock %}

{% block page_controls %}
    {% if user.is_manager %}
        <a href="{{ tutorial.get_edit_url }}" class="btn btn-primary" role="button">{% icon "edit" %}</a>
        <a href="{{ tutorial.get_delete_url }}" class="btn btn-danger" role="button">{% icon "delete" %}</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="well">
        {{ tutorial.description }}
    </div>
    <div class="well well-sm">
        <h4>Questions / Suggestions</h4>
        If you have any further <i>questions</i> or <i>suggestions</i>..<br/>
        ..please <a href="{% url "contact" %}">tell us</a>.
    </div>
{% endblock %}
