{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Tutorials
{% endblock %}

{% block up_url %}{% url "tutorials:tutorial_list" %}{% endblock %}

{% block page_controls %}
    {% if user.is_manager %}
        <a href="{% url "tutorials:tutorial_new" %}" class="btn btn-warning">{% icon "new" %}</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="well">
        {% for tutorial in tutorial_list %}
            <a href="{{ tutorial.get_show_url }}" class="btn btn-primary">{{ tutorial }}</a>
        {% empty %}
            No tutorials here yet.
        {% endfor %}
    </div>
{% endblock %}
