{% load core_tags buttons markdown tags_tags %}

<div {% if id %}id="quarterentry-widget-{{ id }}"{% endif %} class="quarterentry-widget">
    <div class="content card bg-content">
        <div class="card-header">
            {% if actions %}
                <!-- Action dropdown -->
                <div class="btn-group pull-right" style="left: 0.6rem;">
                    <a type="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">{% icon 'actions' fixed=True color='grey' %}</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% button 'update' url=update_url kind='default dropdown-item' %}
                        {% button 'delete' url=delete_url kind='default dropdown-item' %}
                    </div>
                </div>
            {% endif %}

            <span class="widget-quarterquarter label label-pill bg-category-{{ quarterquarter_number }}">{{ quarterquarter }}</span>
            <strong>{{ date }}</strong>
            {% if tags %}
                <div class="pull-right">
                    {% for tag in tags %}
                        {% tag %}
                    {% endfor %}
                </div>
            {% endif %}
            <span class="clearfix"></span>
        </div>
        <div class="card-block">
            {% if keywords %}
                <p>
                    <strong>{{ keywords }}</strong>
                </p>
            {% endif %}
            {% if create_url %}
                {% button 'create' url=create_url kind='secondary' %}
            {% endif %}
            {{ content }}
        </div>
    </div>
</div>
