{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block title %}Home{% endblock %}

{% block content_class %}{% endblock %}

{% block content %}
    {{ page.content|richtext }}
    {% if next_step %}
        <p>
            Next step:
            {{ next_step }}
        </p>
    {% endif %}
    <div class="row">
        <div id="conscious-update" class="col-lg-4">
            {% include "home/cards/_news_card.html" %}
            {% include "home/cards/_tool_card.html" %}
            {% include "home/cards/_feature_card.html" %}
        </div>
        <div id="connected-updates" class="col-lg-4">
            {% include "home/cards/_legend_card.html" %}
            {% include "home/cards/_event_card.html" %}
            {% include "home/cards/_role_card.html" %}
        </div>
        <div id="continuous-updates" class="col-lg-4">
            {% include "home/cards/_quote_card.html" %}
            {% include "home/cards/_story_card.html" %}
        </div>
    </div>
{% endblock %}
