{% extends 'page.html' %}
{% load bootstrap3 %}

{% block page_title %}
    Gatherings
{% endblock %}

{% block up_url %}{% url "gatherings:home" %}{% endblock %}
{% block up_icon %}comments-o{% endblock %}

{% block page_controls %}
    {% if user.is_manager %}
        <a href="{% url "gatherings:gathering_list" %}" class="btn btn-warning pull-right">
            Manage</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="well lead text-center">

                <h2>Next Gathering</h2>
                {% if start %}
                    {{ start }}<br/>
                    Gathering {% if current %}NOW{% else %}in {{ counter }}{% endif %}<br/>
                    <img src="{{ STATIC_URL }}website/images/CoSpace_circle.png" alt="CoSpace"
                         class="center-block img-circle img-responsive" style="max-height: 200px;">
                    <a href="{{ url }}" target="_blank" class="btn btn-default">»
                        {{ location }}</a>
                {% else %}
                    Currently there are no planned gatherings.
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well text-center">
                <h3>Further Gatherings</h3>
                {% for gathering in future_gatherings %}
                    <a class="btn btn-default">{{ gathering }}</a><br/>
                    {% if forloop.last %}
                    <small>*Please keep in mind.. that the dates/times can still change.<br></small>
                    {% endif %}
                {% empty %}
                    -- No future gatherings scheduled.<br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
