{% extends 'page.html' %}
{% load avatar_tags %}

{% block page_title %}
    The Legend
{% endblock %}

{% block up_url %}{% url "legend:home" %}{% endblock %}

{% block page_content %}
        <div class="well">
            {{ introduction|linebreaks }}
        </div>
        <div class="well">
        <h3>Fellow Candidates</h3>
            <div class="list-group">
                {% for candidate in candidates %}
                    <a href="{% url 'users:detail' candidate.username %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{% avatar candidate %} {{ candidate.username }}</h4>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
