{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
    <h1>{% trans "Account Inactive" %}</h1>

    <p>{% trans "This account is inactive." %}</p>
    <h2>Solution</h2>
    <p>
        Possibly your account is inactive because the project is still in a closed alpha stage.<br/>
        To activate it, contact the staff at
        <a href="mailto:support@colegend.org?Subject=[CoLegend]%20Account%20Activation" target="_blank">support@colegend.org</a>.
    </p>
{% endblock %}
