{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block page_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block page_content %}
    <div class="well">
        {% user_display email_address.user as user_display %}

        <p>{% blocktrans with email_address.email as email %}You have confirmed that
            <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}
            .{% endblocktrans %}</p>
    </div>
{% endblock %}
