{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/css/dialogue.css"/>
    <style>
        .control-label {
            display: none;
        }
    </style>

{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div id="signin" class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="container-fluid">
                    <div class="row npc">
                        <div class="col-sm-11">
                            <div class="avatar pull-left">
                                <img src="http://placehold.it/100x100&text=GREETER" alt="Greeter"
                                     class="img-thumbnail">
                            </div>
                            <div class="speech-bubble-arrow speech-bubble-arrow-left pull-left"></div>
                            <div class="speech-bubble well well-lg">
                                Welcome Spirit!<br/>
                                Do I know you?
                            </div>
                        </div>
                    </div>
                    <div class="row speech-answers">
                        <div class="col-sm-offset-1">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-primary">
                                    <div class="speech-bubble-arrow-right pull-right"></div>
                                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                                         href="#collapseOne">
                                        <h3 class="panel-title">
                                            Sure, I am ...
                                        </h3>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <form class="login" method="POST" action="{% url 'account_login' %}">
                                                {% csrf_token %}
                                                {{ form|crispy }}
                                                {% if redirect_field_value %}
                                                    <input type="hidden" name="{{ redirect_field_name }}"
                                                           value="{{ redirect_field_value }}"/>
                                                {% endif %}
                                                <button class="btn btn-primary"
                                                        type="submit">{% trans "Answer" %}</button>
                                                <a class="button secondaryAction pull-right"
                                                   href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="speech-bubble-arrow-right pull-right"></div>
                                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                                         href="#collapseTwo">
                                        <h3 class="panel-title">
                                            They will tell you who I am ...
                                        </h3>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <a href="{% provider_login_url "google" %}"
                                               class="btn btn-primary">Google</a>
                                            <a href="{% provider_login_url "facebook" %}" class="btn btn-primary">Facebook</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="speech-bubble-arrow-right pull-right"></div>
                                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                                         href="#collapseThree">
                                        <h3 class="panel-title">
                                            Nope, I am new here ...
                                        </h3>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <a href="{{ signup_url }}" class="btn btn-primary">How can I join?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
