{% extends "account/base.html" %}

{% load icons %}
{% load url from future %}
{% load i18n %}

{% block up_url %}javascript:history.go(-1){% endblock %}
{% block up_icon %}{% icon "sign-out" %}{% endblock %}

{% block page_title %}{% trans "Goodbye" %}{% endblock %}

{% block page_content %}
    <div class="well">
        <p>{% trans 'Are you sure you want to say goodbye now?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button id="sign_out" class="btn btn-danger" type="submit">{% icon "sign-out" %} {% trans 'Sign Out' %}</button>
            {% include "lib/_cancel_button.html" with button_type="primary" %}
        </form>
    </div>
{% endblock %}
