{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="./" class="password_reset">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-5">
                            {{ form|crispy }}
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">{% trans "Reset My Password" %}</button>
                </form>

                <p>{% blocktrans %}Please contact us if you have any trouble resetting your
                    password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $("#id_email").focus();
    </script>
{% endblock javascript %}

