{% extends "account/base.html" %}

{% load i18n %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p>{% trans "We are sorry, but the sign up is currently closed. We are actively reworking major parts of the platform." %}</p>
                <p>
                    {% trans "We keep you updated via the newsletter:" %}<br>
                    {% include 'widgets/newsletter-signup.html' %}
                </p>

            </div>
        </div>
    </div>
{% endblock %}
