{% extends "account/base.html" %}

{% load icons %}
{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block up_url %}#{% endblock %}
{% block up_icon %}{% icon "signup" %}{% endblock %}

{% block page_title %}{% trans "Sign Up Application" %}{% endblock %}

{% block page_content %}
    <div class="well">
                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}
    <script>
        $(".dateinput").datepicker("option", {
            yearRange: "-100y:-16y",
            minDate: "-100y",
            maxDate: "-16y",
            defaultDate: "-20y"
        });
    </script>
{% endblock %}


