{% extends "account/base.html" %}

{% load i18n %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p>
                    Great! We’re happy to have you on board :)<br>
                    You can dive right into your legendary experience on <i>coLegend</i> after verifiying your email!
                </p>

                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize
                    the signup process. Please contact us if you do
                    not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>

{% endblock %}
