{% extends '_chat.html' %}

{% block chat_title %}
    Hello fellow..
{% endblock %}

{% block chat_content %}
    <p>
        TODO: Chat introduction text.
    </p>
    <p>
        Okay, here is the deal:
    </p>
    <p>
        I'll show you a page where you can send yourself an invitation for our <i>legend chat</i>.
    </p>
{% endblock %}

{% block chat_answers %}
    <a href="{% url 'connected:chat-invitation' %}">
        <li class="list-group-item">
            Okay, let's go.
        </li>
    </a>
    <a href="#">
        <li class="list-group-item">
            TODO: Alternative answer
        </li>
    </a>

{% endblock %}
