{% extends '_chat.html' %}

{% block chat_title %}
    Hello fellow..
{% endblock %}

{% block chat_content %}
    <p>
        This is the <strong class="text-connected">connected</strong> page - it’s the place to be to get connected to
        other
        legends of this platform.
    </p>
    <p>
        Being connected can really make a difference! You you can always get in touch and share your feelings, views
        and experiences with others and can get helpful insights from their side. <br>
        We all have so much in common - so let’s bring it all in and enjoy a new way of community!
    </p>
    <p>
        We have several tools and formats in coLegend exactly for that purpose.
        And now you can find out more about them by clicking on the different features below.
    </p>
{% endblock %}

{% block chat_response %}{% endblock %}
