{% extends '_chat.html' %}

{% block chat_title %}
    Hello fellow..
{% endblock %}

{% block chat_content %}
    <p>
        This is the <strong class="text-connected">connected</strong> page - it’s the place to go to get connected to
        other legends of this platform.
    </p>
    <p>
        Being connected can really make a difference! You’re not alone anymore but you can share your feelings, views
        and experiences with others and can get helpful insights from their side.
        We all have so much in common - so let’s bring it all in and enjoy a new way of community!
    </p>
    <p>
        We have communication tools like our <i>Chat</i> and <i>Virtual Room</i> as well as different <i>groups of
        people</i> that you will
        form together with others over time to be connected and help each other in differents scopes and topics.
        The connected page is here to give you an overview for that.
    </p>
{% endblock %}

{% block chat_response %}{% endblock %}
