{% extends '_chat.html' %}

{% block chat_title %}
    Hello fellow..
{% endblock %}

{% block chat_content %}
    <p>
        What can you do - right here, right now? <br>
        … Good that you asked ;-)
    </p>
    <p>
        First, you can get ready for a new experience of community and already contribute to it by reading through our
        community guidelines.
    </p>
{% endblock %}

{% block chat_answers %}
    <a href="{% url 'connected:guidelines' %}">
        <li class="list-group-item">
            Sure, let's go.
        </li>
    </a>
    <a href="#"
       onclick="alert('Our community guidelines are not rules. They are best practises of ways of communication and interaction. We have experienced them to be especially valuable for creating a safe space for personal development. You might find out why by taking a look at them.');">
        <li class="list-group-item">
            Not interested - the only rules I care about are my own!
        </li>
    </a>

{% endblock %}
