{% extends 'base.html' %}

{% block title %}Connected{% endblock %}

{% block content_class %}{% endblock %}

{% block body_class %}connected{% endblock %}

{% block pre_content %}
    <blockquote class="blockquote bg-content">
        <p>A dream you dream alone is only a dream. A dream you dream together is reality.</p>
        <footer>
            <cite title="Source Title">by John Lennon</cite>
            <span class="pull-right">shared by Cooking Kangaroo Mother</span>
        </footer>
    </blockquote>

    <p>
        {% include 'connected/_connected_chat.html' %}
    </p>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-4">
            {% include "connected/cards/_legend_card.html" %}
        </div>

        <div class="col-lg-4">
            {% include "connected/cards/_guide_card.html" %}
        </div>

        <div class="col-lg-4">
            {% include "connected/cards/_team_card.html" %}
        </div>

        <div class="col-lg-4">
            {% include "connected/cards/_tribe_card.html" %}
        </div>

        <div class="col-lg-4">
            {% include "connected/cards/_circle_card.html" %}
        </div>

    </div>
{% endblock %}
