{% extends 'base.html' %}

{% block title %}Connected{% endblock %}
{% block page_color %}connected{% endblock %}

{% block content %}
    <blockquote class="blockquote">
        <p>A dream you dream alone is only a dream. A dream you dream together is reality.</p>
        <footer>
            <cite title="Source Title">by John Lennon</cite>
            <span class="pull-right">shared by Cooking Kangaroo Mother</span>
        </footer>
    </blockquote>

    <p>
        {% include 'connected/_connected_chat.html' %}
    </p>
{% endblock %}
