{% load core_tags %}
<a href="{{ url }}" style="text-decoration: none">
    <div class="widget-resource {{ classes }} card bg-content">
        <div class="card-block">
            <span class="large">{{ title }}</span>
            <div class="text-black">
                {{ lead }}
            </div>
            <div class="resource-tags small text-muted">
                {% for tag in tags %}
                    {{ tag }}
                {% endfor %}
            </div>
            <div class="small text-muted">
                <span class="text-category-1">{% icon 'area-1' %}</span> {{ area_1 }},
                <span class="text-category-2">{% icon 'area-2' %}</span> {{ area_2 }},
                <span class="text-category-3">{% icon 'area-3' %}</span> {{ area_3 }},
                <span class="text-category-4">{% icon 'area-4' %}</span> {{ area_4 }},
                <span class="text-category-5">{% icon 'area-5' %}</span> {{ area_5 }},
                <span class="text-category-6">{% icon 'area-6' %}</span> {{ area_6 }},
                <span class="text-category-7">{% icon 'area-7' %}</span> {{ area_7 }}
            </div>
        </div>
    </div>
</a>
