$white: white;
$black: black;

$lightblue-100: #b3e5fc;
$lightblue-400: #29b6f6;
$lightblue-700: #0288d1;

$cyan-001: #fbfefe;
$cyan-100: #b2ebf2;
$cyan-400: #26c6da;
$cyan-700: #0097a7;

$teal-100: #b2dfdb;
$teal-400: #009688;
$teal-700: #00796b;

$lightgreen-100: #dcedc8;
$lightgreen-400: #9ccc65;
$lightgreen-700: #689f38;

$orange-100: #ffab40;
$orange-400: #ff9100;
$orange-700: #ff6d00;

$main-superlight: $cyan-001;
$main-light: $cyan-100;
$main: $cyan-400;
$main-dark: $cyan-700;

$accent-light: $lightgreen-100;
$accent: $lightgreen-400;
$accent-dark: $lightgreen-700;

$test-colors: (
  'grey': #ccc,
);
// Content colors
$content-colors: (
  'pink': #f72e74,
  'orange': #FFAB40,
  'yellow': #eede39,
  'green': #a8e141,
  'cyan': #6bdaed,
  'blue': #3197d6,
  'purple': #ad86fc,
  'dark': #455A64,
);

$color-maps: $content-colors $test-colors;
@each $color-map in $color-maps {
  @each $name, $color in $color-map {
    .text-#{$name} {
      font-size: $color;
    }
    .bg-#{$name} {
      background-color: $color;

      @if lightness($color) > 20 {
        color: $white;
      }
    }
  }
}
