/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

.navbar-brand.navbar-logo {
    padding-top: 0px;
    padding-bottom: 0px;
}

img#logo {
    display: inline-block;
    max-height: 50px;
}

.inline {
    display: inline;
}

/* projects */

.project.well {
    border-left: solid thick blue;
}

.project-field {
    color: blue;
}

/* tasks */

.task.well {
    border-left: solid thick grey;
}

/* status */

.status.status-todo {
background-color: orange;
}
.status.status-active {
background-color: red;
}
.status.status-done {
background-color: green;
}
.status.status-waiting {
background-color: purple;
}
.status.status-canceled {
background-color: yellow;
}