
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.navbar-brand.navbar-logo {
    padding-top: 0px;
    padding-bottom: 0px;
}

img#logo {
    display: inline-block;
    max-height: 50px;
}

.inline {
    display: inline-block;
}

/* status */

.status-field .status-todo {
    background-color: orange;
}
.status-field .status-active {
    background-color: red;
}
.status-field .status-done {
    background-color: green;
}
.status-field .status-waiting {
    background-color: purple;
}
.status-field .status-canceled {
    background-color: yellow;
}