@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,500");
.alert-debug {
  background-color: white;
  border-color: #d6e9c6;
  color: black; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }

  .nav.navbar-nav.pull-right {
    float: none !important; } }
[hidden="hidden"][style*="display: block;"] {
  display: block !important; }

#navbar-brand-logo {
  padding-top: 0.425rem; }

#site-menu {
  background-color: white; }

.breadcrumbs a {
  color: #818a91;
  font-size: small;
  text-decoration: none; }

body {
  background-image: url(../images/shattered.jpg);
  font: 100% "Ubuntu", Helvetica, sans-serif; }

body.conscious {
  background-image: url(../images/shattered-conscious.jpg); }

body.connected {
  background-image: url(../images/shattered-connected.jpg); }

body.continuous {
  background-image: url(../images/shattered-continuous.jpg); }

.bg-content {
  background-color: white; }

.breadcrumbs > a + a:before {
  content: "/ ";
  color: #ccc; }

#page-title {
  margin: 0; }

.text-conscious {
  color: #123eab; }

.text-connected {
  color: #009b0a; }

.text-continuous {
  color: #c55b00; }

.bg-conscious {
  background-color: #123eab; }

.bg-connected {
  background-color: #009b0a; }

.bg-continuous {
  background-color: #c55b00; }

#feedback-button, #feedback-button-mobile {
  height: 67px;
  width: 67px;
  position: fixed;
  bottom: 0;
  right: 0; }

#feedback-button-mobile {
  height: 33px;
  width: 33px; }

.chapter-marker {
  position: relative;
  top: -1rem;
  color: #c55b00;
  float: right !important; }

.btn-conscious, .btn-conscious.active, .btn-conscious.focus, .btn-conscious:active, .btn-conscious:focus, .btn-conscious:hover, .open > .btn-conscious.dropdown-toggle {
  color: white;
  background-color: #123eab;
  border-color: #123eab; }

.btn-connected, .btn-connected.active, .btn-connected.focus, .btn-connected:active, .btn-connected:focus, .btn-connected:hover, .open > .btn-connected.dropdown-toggle {
  color: white;
  background-color: #009b0a;
  border-color: #009b0a; }

.btn-continuous, .btn-continuous.active, .btn-continuous.focus, .btn-continuous:active, .btn-continuous:focus, .btn-continuous:hover, .open > .btn-continuous.dropdown-toggle {
  color: white;
  background-color: #c55b00;
  border-color: #c55b00; }

.chat-bubble, .chat-bubble::before, .chat-bubble::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent; }

.chat-bubble::before {
  border-right-color: #e5e5e5; }

.chat-bubble::after {
  top: 1px;
  left: 2px;
  border-right-color: white;
  z-index: 1; }

.avatar {
  max-height: 200px;
}

.avatar-small {
  max-height: 50px; }

.avatar.hero {
  max-height: 100px;
}

.avatar.demon {
  max-height: 100px;
}

.badge {
  max-height: 6em; }

/*# sourceMappingURL=colegend.css.map */
