{% extends 'base/chat.html' %}

{% block chat_title %}
    Game on...
{% endblock %}

{% block chat_content %}
    <p>
        This is the <strong>game</strong> page - the place where you can advance on your personal developmental path and
        on the coLegend
        platform in a playful way.
    </p>
    <p>
        The coCards below present you with tasks that will show you the way.
        One deck contains all the cards meant for one game round.
        Clicking on a card next to the deck lets you see its task - you can then head off to accomplish it. When you
        have done all the cards lying next to the deck you’ll get dealt a new hand of cards until the deck is empty.
    </p>
    <p>
        So enjoy… and let the game begin ;-)
    </p>
{% endblock %}

{% block chat_response %}{% endblock %}
