{% extends 'base_chat.html' %}

{% block chat_title %}
    Hello fellow..
{% endblock %}

{% block chat_content %}
    <p>
        This is the <strong class="text-continuous">continuous</strong> page - the place where all comes together and
        where you can see where you are standing right now.
    </p>
    <p>
        Imagine you’re standing on a board game - the game of your life!
        You can advance step by step clicking on the fields below one after the other to advance in your personal
        development... and on the coLegend platform.
        Every accomplished field unlocks the next one.
    </p>
    <p>
        The different colors symbolize different topics:
        On an orange field you get to enjoy a story, a blue field covers a task focusing on being conscious and a green
        field always has something to do with being connected.
    </p>
    <p>
        So let the game begin ;-) ...
    </p>
{% endblock %}

{% block chat_response %}{% endblock %}
