{% extends 'base.html' %}

{% block title %}Continuous{% endblock %}
{% block page_color %}continuous{% endblock %}

{% block page_links %}
{% endblock %}


{% block content %}
    Chapter 1:
    <progress class="progress progress-striped progress-success" value="60" max="100">60%</progress>

    <blockquote class="blockquote">
        <p>Once upon a time starts now!</p>
        <footer>coLegend <cite title="Source Title">..stay tuned</cite></footer>
    </blockquote>
    <p>
        <a href="{% url 'continuous:legend:prologue' %}" class="btn btn-primary">
            Prologue
        </a>
        <a href="{% url 'continuous:legend:poetree' %}" class="btn btn-primary">
            Poetree
        </a>
    </p>
    <hr>
    <p>
        <a href="#" class="btn btn-primary disabled">
            <i class="fa fa-lock"></i>
            Chapter 1
        </a>
        <span class="text-info">
            You still have things to complete in
            <a href="{% url 'conscious:index' %}">Conscious</a>
            and
            <a href="{% url 'connected:index' %}">Connected</a>
            first
        </span>
    </p>
    <hr>
    <p>
        <a href="#" class="btn btn-primary disabled">
            <i class="fa fa-lock"></i> Chapter 2
        </a>
    </p>

{% endblock %}
