{% extends 'base.html' %}
{% load static icons %}

{% block title %}Continuous{% endblock %}

{% block body_class %}continuous{% endblock %}

{% block pre_content %}
    <blockquote class="blockquote bg-content">
        <p>
            Every story I create, creates me. I write to create myself.
        </p>
        <footer>
            <cite title="Source Title">by Octavia E. Butler</cite>
            <span class="pull-right">shared by Dance Monkey Comedian</span>
        </footer>
    </blockquote>

    <p>
        {% include 'continuous/_continuous_chat.html' %}
    </p>

{% endblock %}
{% block content %}
    <div id="game-board">
        Chapter 1:
        <progress class="progress progress-striped progress-success" value="60" max="100">60%</progress>
        <hr>
        <div class="chapter-marker">Prologue</div>
        <p>
            <a href="{% url 'story:prologue' %}" class="btn btn-continuous">
                Prologue
            </a>
            {% if user.continuous.prologue %}
                <a href="{% url 'story:welcome-tree' %}" class="btn btn-continuous">
                    Welcome Tree
                </a>
            {% else %}
                <a href="#" class="btn btn-continuousdisabled">
                    {% icon 'locked' %}
                    Welcome Tree
                </a>
            {% endif %}
        </p>
        <hr>
        <div class="chapter-marker">Chapter 1</div>
        <p>

            <a href="{% url 'outer-call:create' %}" class="btn btn-conscious">
                Outer Call
            </a>
            {% if user.conscious.outer_call %}
                <a href="{% url 'inner-call:create' %}" class="btn btn-conscious">
                    Inner Call
                </a>
            {% else %}
                <a href="#" class="btn btn-conscious disabled">
                    {% icon 'locked' %} Inner Call
                </a>
            {% endif %}
            {% if user.conscious.inner_call %}
                <a href="#" class="btn btn-conscious">
                    Biography
                </a>
            {% else %}
                <a href="#" class="btn btn-conscious disabled">
                    {% icon 'locked' %} Biography
                </a>
            {% endif %}
        </p>

        <p>
            <a href="{% if user.connected.legend_introduction %}
                {% url 'legends:profile' user.username %}
                {% else %}
                {% url 'legends:introduction' %}
                {% endif %}"
               class="btn btn-connected">
                Legend Profile
            </a>

            {% if user.connected.legend %}
                <a href="{% if user.connected.guidelines_introduction %}
                {% url 'connected:guidelines' %}
                {% else %}
                {% url 'connected:guidelines-introduction' %}
                {% endif %}"
                   class="btn btn-connected">
                    Guidelines
                </a>
            {% else %}
                <a href="#" class="btn btn-connected disabled">
                    {% icon 'locked' %}
                    Guidelines
                </a>

            {% endif %}

            {% if user.connected.guidelines %}
                <a href="{% if user.connected.chat_introduction %}
                {% url 'connected:chat' %}
                {% else %}
                {% url 'connected:chat-introduction' %}
                {% endif %}"
                   class="btn btn-connected">
                    Chat
                </a>
            {% else %}
                <a href="#" class="btn btn-connected disabled">
                    {% icon 'locked' %}
                    Chat
                </a>
            {% endif %}

            {% if user.connected.chat %}
                <a href="{% if user.connected.guide_introduction %}
            {% url 'guides:guide' %}
            {% else %}
            {% url 'guides:introduction' %}
            {% endif %}"
                   class="btn btn-connected">
                    Cloud Guide
                </a>
            {% else %}
                <a href="#" class="btn btn-connected disabled">
                    {% icon 'locked' %}
                    Cloud Guide
                </a>
            {% endif %}
        </p>

        <p>
            <a href="#" class="btn btn-continuous disabled">
                {% icon 'locked' %}
                Chapter 1
            </a>
        </p>
        <hr>
        <div class="chapter-marker">Chapter 2</div>
        <p>
            <a href="#" class="btn btn-continuous disabled">
                {% icon 'locked' %} Dream Team
            </a>
        </p>

        <p>
            <a href="#" class="btn btn-continuous disabled">
                {% icon 'locked' %} Chapter 2
            </a>
        </p>
        <hr>
        <div class="chapter-marker">Chapter 3</div>
        <p>
            <a href="#" class="btn btn-primary disabled">
                {% icon 'locked' %} Tribe
            </a>
        </p>
        <hr>
        <div class="chapter-marker">Chapter 4</div>
        <p>
            <a href="#" class="btn btn-primary disabled">
                {% icon 'locked' %} Circle
            </a>
        </p>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <!-- Snow! :D -->
    {#    <script type="text/javascript" src="{% static "components/snowstorm/snowstorm-min.js" %}"></script>#}
{% endblock %}
