{% extends 'base.html' %}
{% load static icons %}

{% block title %}Continuous{% endblock %}

{% block body_class %}continuous{% endblock %}

{% block pre_content %}
    <blockquote class="blockquote bg-content">
        <p>
            Every story I create, creates me. I write to create myself.
        </p>
        <footer>
            <cite title="Source Title">by Octavia E. Butler</cite>
            <span class="pull-right">shared by Dance Monkey Comedian</span>
        </footer>
    </blockquote>

    <p>
        {% include 'continuous/_continuous_chat.html' %}
    </p>

{% endblock %}

{% block content_container %}
{% endblock %}
