{% extends 'base_chat.html' %}

{% block chat_title %}
    A journey back in time
{% endblock %}

{% block chat_content %}
    <p>
        Have you ever thought of where you’d be in life right now if it hadn’t been for your past?...
        I’m guessing you’d be somewhere and someone totally different!
        But you are right here right now and you’ve experienced a lot up to this point!
    </p>
    <p>
        So why not write it all down?
        This is for you to acknowledge and celebrate the challenges you’ve faced, the mountains you’ve climbed and the
        peaks you’ve had so far!
        It’s acknowledging and celebrating a chapter of your life that has now come to an end – because now a new one
        opens… your chapter of being a legend!
    </p>
    <p>
        You can decide for yourself whether you want to share this with your fellow legends or to keep it as a treasure
        to yourself.
    </p>
{% endblock %}

{% block chat_response %}
{% endblock %}
