{% extends '_chat.html' %}

{% block chat_title %}
    I welcome you, legend!
{% endblock %}

{% block chat_content %}
    <p>
        Yes – with being part of coLegend, being <strong class="text-conscious">conscious</strong> about what you want,
        being <strong class="text-connected">connected</strong> to help others and be
        helped achieving your goals and <strong class="text-continuous">continuously</strong> working on and enjoying
        the process makes you a legend!
    </p>
    <p>
        <strong>You’re already a legend</strong> just by being yourself, by putting yourself out there and facing
        whatever comes your
        way! And all your fellow legends are with you on that same path!
    </p>
    <p>
        This here is the site where all your legendary deeds get collected… your thoughts about why you came here, what
        happened before that, why you want to be here… and it will uncover many more sides of your legendary being in
        the time to come.
    </p>
    <p>
        So prepare to be amazed… by yourself!
    </p>
{% endblock %}

{% block chat_response %}
{% endblock %}
