{% extends "base.html" %}

{% load static %}

{% block extra_head %}
    {{ block.super }}
    <link href="{% static 'legend/css/legend.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Test{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include '_breadcrumb.html' with url='test' icon='eye' title='test' %}
{% endblock %}

{% block content %}

    <div id="typed-strings" class="invisible">
        <p>
            Hello..^3000 dear stranger, I am <strong>the coLegend spirit</strong>.
        </p>

        <p>I <em>type</em> the story.</p>
    </div>
    <span id="typed"></span>

{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script src="{% static 'components/typed.js/dist/typed.min.js' %}"></script>
    <script>
        $(function () {
            $("#typed").typed({
                stringsElement: $('#typed-strings')
            });
        });
    </script>
    <script>
        $("#testLoad").load("https://colegend.slack.com/messages/general/");
    </script>
{% endblock %}
