{% extends 'page.html' %}

{% block up_url %}{% url "challenges:challenge_list" %}{% endblock %}
{% block up_icon %}star{% endblock %}

{% block page_title %}
    {{ challenge }}
{% endblock %}

{% block page_controls %}
    {% if user.is_superuser or user == module.provider %}
        <a href="{{ challenge.get_edit_url }}" class="btn btn-primary" role="button">Edit</a>
        <a href="{{ challenge.get_delete_url }}" class="btn btn-danger" role="button">Delete</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="well">
        <p class="lead">{{ challenge.content }}</p>
        <footer><cite class="small pull-right">— shared
            by {% include "users/_user_link.html" with user=challenge.provider %}</cite></footer>
    </div>
{% endblock %}
