{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Challenges
{% endblock %}

{% block up_url %}{% url "challenges:challenge_list" %}{% endblock %}

{% block page_title_extras %}
{% endblock %}

{% block page_controls %}
{% endblock %}

{% block page_content %}
    <h2>Level 1</h2>
    <div class="well">
        <div class="row">
            <div class="col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <div class="challenge-module-row row text-center">
                    <div class="col-sm-offset-2 col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-1 btn-lg">
                            Health 1
                            <h1>{% icon "category-1" %}</h1>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-2 btn-lg">
                            Entertainment 1
                            <h1>{% icon "category-2" %}</h1>
                        </a>
                    </div>
                </div>
                <div class="challenge-module-row row text-center">
                    <div class="col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-3 btn-lg">
                            Career 1
                            <h1>{% icon "category-3" %}</h1>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-4 btn-lg">
                            Environment 1
                            <h1>{% icon "category-4" %}</h1>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-5 btn-lg">
                            Social 1
                            <h1>{% icon "category-5" %}</h1>
                        </a>
                    </div>
                </div>
                <div class="challenge-module-row row text-center">
                    <div class="col-sm-offset-2 col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-6 btn-lg">
                            Mental 1
                            <h1>{% icon "category-6" %}</h1>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-7 btn-lg">
                            Spiritual 1
                            <h1>{% icon "category-7" %}</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Level 2</h2>
    <div class="well">
        <div class="row">
            <div class="col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <div class="challenge-module-row row text-center">
                    <div class="col-sm-offset-2 col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-1 btn-lg">
                            Health 2
                            <h1>{% icon "category-1" %}</h1>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-2 btn-lg">
                            Entertainment 2
                            <h1>{% icon "category-2" %}</h1>
                        </a>
                    </div>
                </div>
                <div class="challenge-module-row row text-center">
                    <div class="col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-3 btn-lg">
                            Career 2
                            <h1>{% icon "category-3" %}</h1>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-4 btn-lg">
                            Environment 2
                            <h1>{% icon "category-4" %}</h1>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-5 btn-lg">
                            Social 2
                            <h1>{% icon "category-5" %}</h1>
                        </a>
                    </div>
                </div>
                <div class="challenge-module-row row text-center">
                    <div class="col-sm-offset-2 col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-6 btn-lg">
                            Mental 2
                            <h1>{% icon "category-6" %}</h1>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url "challenges:module_show" pk=1 %}"
                           class="btn btn-block btn-category bg-category-7 btn-lg">
                            Spiritual 2
                            <h1>{% icon "category-7" %}</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <h3>Share your own challenges</h3>

        {% if share_counter %}
            You have contributed <span class="badge">{{ share_counter }}</span>
            challenge{{ share_counter|pluralize }}!
        {% else %}
            Time to share your <span class="badge">first</span> challenge.
        {% endif %}

        <p>Can you think of another challenge that you could share? Awesome!</p>
        <a href="{% url "challenges:challenge_new" %}" class="btn btn-primary">{% icon "share" %} Share a
            Challenge</a>
    </div>
{% endblock %}
