{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Health 1
{% endblock %}

{% block up_url %}{% url "challenges:challenge_list" %}{% endblock %}

{% block page_title_extras %}
{% endblock %}

{% block page_controls %}
{% endblock %}

{% block page_content %}
    <div class="well">
        <div class="row">
            <div class="challenge col-sm-4">
                <a href="{% url "challenges:challenge_show" pk=1 %}" class="btn btn-block btn-challenge btn-success btn-lg">Challenge A</a>
            </div>
            <div class="challenge col-sm-4">
                <a href="{% url "challenges:challenge_show" pk=1 %}" class="btn btn-block btn-challenge btn-success btn-lg">Challenge B</a>
            </div>
            <div class="challenge col-sm-4">
                <a href="{% url "challenges:challenge_show" pk=1 %}" class="btn btn-block btn-challenge btn-default btn-lg">Challenge C</a>
            </div>
            <div class="challenge col-sm-4">
                <a href="{% url "challenges:challenge_show" pk=1 %}" class="btn btn-block btn-challenge btn-default btn-lg">Challenge D</a>
            </div>
            <div class="challenge col-sm-4">
                <a href="{% url "challenges:challenge_show" pk=1 %}" class="btn btn-block btn-challenge btn-default btn-lg">Challenge E</a>
            </div>
            <div class="challenge col-sm-4">
                <a href="{% url "challenges:challenge_show" pk=1 %}" class="btn btn-block btn-challenge btn-default btn-lg">Challenge F</a>
            </div>
        </div>
        <div class="row">
            <div class="challenge col-sm-offset-4 col-sm-4">
                <a href="{% url "challenges:challenge_show" pk=1 %}" class="btn btn-block btn-challenge master-challenge disabled btn-default btn-lg">{% icon "locked" %} Challenge F</a>
            </div>
        </div>
    </div>
{% endblock %}
