{% extends "users/base.html" %}
{% load static icons %}

{% block breadcrumbs %}{% endblock %}

{% block title %}Legend{% endblock %}

{% block content %}
    <div class="container">

        <div class="card">
            <img class="card-img-top" src="http://www.x4fleet.com/Content/images/icons/shadow_man_big.png"
                 alt="legend avatar">

            <div class="card-block">
                <h4 class="card-title">{{ user.username|title }}
                    {% if user.get_full_name %}
                        <small class="text-muted">({{ user.get_full_name|title }})</small>
                    {% endif %}
                </h4>

                <p>
                    {% icon 'map-marker' %} Berlin, Germany<br>
                    {% icon 'external-link' %} <a href="http://www.coLegend.org">www.coLegend.org</a>
                </p>

                <p class="card-text">
                    <u>About me</u><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                </p>
                {% if user != request.user %}
                    <a href="mailto:{{ user.email }}" class="btn btn-primary">
                        {% icon 'send' %} Send message
                    </a>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock content %}

