{% extends "users/base.html" %}
{% load static %}

{% block breadcrumbs %}{% endblock %}

{% block title %}Settings{% endblock %}

{% block page_links %}
    <a href="{% url 'users:update' %}" class="btn btn-default btn-sm">Username</a>
    <a href="{% url 'account_email' %}" class="btn btn-default btn-sm">Email</a>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                {% if user.get_full_name %}
                    <p>{{ user.get_full_name }}</p>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock content %}
