{% load legends_tags %}

<div class="row">
    <div class="col-lg-8">

        <div class="row">

            <div class="col-sm-4">
                {% npc 'Coralina' %}
            </div>

            <div class="col-sm-8">
                <div class="chat-bubble hidden-xs-down"></div>
                <div class="card bg-content">
                    <div class="card-block">
                        <h4 class="card-title">
                            {% block chat_title %}
                                Title!
                            {% endblock %}
                        </h4>

                        <div class="card-text">
                            {% block chat_content %}
                                <p>
                                    Some text.
                                </p>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% block chat_response %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-4">

            <div class="row">

                <div class="col-sm-4 col-sm-push-8">
                    {% if user.is_authenticated %}
                        {% legend user.legend size='large' %}
                    {% else %}
                        {% include 'legends/widgets/legend.html' %}
                    {% endif %}
                </div>

                <div class="col-sm-8  col-sm-pull-4">
                    <div class="card">
                        <div class="card-header">
                            Your answer:
                        </div>
                        <ul class="list-group list-group-flush">
                            {% block chat_answers %}
                                <a href="#">
                                    <li class="list-group-item">
                                        {% block chat_answer %}Some answer.{% endblock %}
                                    </li>
                                </a>
                            {% endblock %}
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
