{% extends "styleguide/base.html" %}
{% load static %}

{% block page_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styleguide/css/index.css' %}">
{% endblock %}

{% block title %}Styleguide{% endblock %}

{% block page_links %}
    <a href="#atoms" class="btn btn-link">Atoms</a>
    <a href="#molecules" class="btn btn-link">Molecules</a>
    <a href="#organisms" class="btn btn-link">Organisms</a>
{% endblock %}

{% block content %}
    <h1 id="atoms" class="main-headline">Atoms</h1>
    {% for atom in atoms %}
        {{ atom }}
    {% endfor %}
    <h1 id="molecules" class="main-headline">Molecules</h1>
    {% for molecule in molecules %}
        {{ molecule }}
    {% endfor %}
    <h1 id="organisms" class="main-headline">Organisms</h1>
    {% for organism in organisms %}
        {{ organism }}
    {% endfor %}
{% endblock %}
