{% extends "styleguide/base.html" %}
{% load static styleguide_tags %}
{% block page_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styleguide/css/index.css' %}">
{% endblock %}

{% block title %}Styleguide{% endblock %}

{% block page_links %}
    <a href="#atoms" class="btn btn-link">Atoms</a>
    <a href="#molecules" class="btn btn-link">Molecules</a>
    <a href="#organisms" class="btn btn-link">Organisms</a>
{% endblock %}

{% block content %}

    {% for element in elements %}
        {{ element.render }}
    {% endfor %}
    {#    {{ element }}#}
{#    {{ element2 }}#}
{#    {{ element2.data }}#}
    <h1 id="atoms" class="main-headline">Atoms</h1>
    {% toc items=atoms %}
    {% for atom in atoms %}
        {% meta_element atom %}
    {% endfor %}
{#    <h1 id="molecules" class="main-headline">Molecules</h1>#}
{#    {% for molecule in molecules %}#}
{#        {% meta_element molecule %}#}
{#    {% endfor %}#}
{#    <h1 id="organisms" class="main-headline">Organisms</h1>#}
{#    {% toc items=organisms %}#}
{#    {% for organism in organisms %}#}
{#        {% meta_element organism %}#}
{#    {% endfor %}#}
{% endblock %}
