{% extends 'support/base.html' %}

{% block page_links %}
    <a href="{% url 'support:faq' %}" class="nav-item nav-link active">FAQ</a>
    <a href="{% url 'support:documentation' %}" class="nav-item nav-link">Documentation</a>
{% endblock %}

{% block content %}
    <p>
        This document is here to give you an overview over the most frequently asked questions.
        If you have a question yourself, you can look through this document and see whether another legend already had
        the same question. <br>
        If you don’t find your question here, just <a href="mailto:connect@colegend.org" target="_blank">contact us</a>
        or use the “feedback” button or write us a
        personal email (our emails are written down on the “about page” of coLegend on the very bottom of the page).
    </p>

    <h5>
        How do you meet every week when you are living all over the world?
    </h5>
    <p>
        We meet in a digital space using Video-Chat (at the moment that’s google hangout for us) and we follow certain
        communication principles / guidelines to approach a similar atmosphere as if we were meeting in person.
    </p>

    <h5>
        What roles can I take within coLegend?
    </h5>
    <p>
        In general: every role you feel like taking. It is less about someone else permitting you to take it, but to
        decide for yourself if you are up for the rights and responsibility of the role you want to have.
    </p>

    <h5>
        Will I be paid for work I do?
    </h5>
    <p>
        Yes, we do have a payment model that tries to resemble the significance of a certain work for the community and
        values what is needed at any current state.
    </p>

    <h5>
        Are people who occupy a role also paying for coLegend?
    </h5>
    <p>
        Yes, every member of coLegend pays the monthly fee, we see it like a “tax” that keeps the system itself going.
        And as every member of coLegend profits from the community and platform itself we ask everyone - who is able -
        to pay the monthly fee.
    </p>
{% endblock %}
