{% extends 'support/base.html' %}
{% load core_tags %}
{% block content %}
    <div class="row">
        {% for subpage in subpages %}
            <div class="col-md-6">
                {% card content=subpage %}
            </div>
        {% endfor %}
    </div>
    {% include 'widgets/quote.html' with author='Ricky Martin' sharer='Cooking Kangaroo Mother' text="A hero is someone who is willing to help others in his or her best capacity." %}
    <p>
        {% include 'support/chats/introduction.html' %}
    </p>
{% endblock %}
