{% extends 'pages/content.html' %}
{% load static core_tags %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link href="{% static 'blog/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}{% include 'widgets/breadcrumb.html' with url=page.get_blog.url title='Blog' icon='blog' %}
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="widget-blog-article-detail">
        <div style="{% if page.color %} background-color: {{ page.color }}{% endif %}; padding-top: 4em"
             class="text-center">
            <h1 class="text-white">{{ page.title }}</h1>
            <div class="blog-article-meta">
                {{ page.owner }} |
                {{ page.date }}{% if page.tags %} |{% for tag in page.tags.all %} {{ tag }}{% endfor %}{% endif %}
            </div>
            {% image image name=page.image classes="blog-image img-responsive" %}
            <div class="clearfix"></div>
        </div>
        <div class="blog-article-lead">
            Even before you’re ready to offer international customer service, your website or product may attract customers who require support in their own languages.
        </div>
        <div class="blog-article-content">
            {{ page.content }}
        </div>
    </div>
{% endblock %}
