{% extends 'pages/content.html' %}
{% load core_tags wagtailcore_tags %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}{% include 'widgets/breadcrumb.html' with url=page.get_blog.url title='Blog' icon='blog' %}
{% endblock %}

{% block content %}
    <p>
        <u>Date:</u>
        {{ page.date }}
    </p>
    <p>
        <u>Tags:</u>
        {% for tag in page.tags.all %}
            {{ tag }}
        {% endfor %}
    </p>
    <p>
        <u>Image:</u>
        {{ page.image }}
    </p>
    <p>
        <u>Color:</u>
        {{ page.color }}
    </p>
    <p>
        <u>Content:</u>
        {{ page.content|richtext }}
    </p>
    {{ page.get_blog }}
{% endblock %}
