{% extends 'blog/base.html' %}
{% load core_tags %}

{% block title %}{{ page.title }}{% endblock %}
{% if page.image %}
    {% block og_image %}{{ image }}{% endblock %}
{% endif %}
{% block og_description %}{{ page.lead }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}{% include 'widgets/breadcrumb.html' with url=page.get_blog.url title='Blog' icon='blog' %}
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="widget-blog-article-detail">
        <div style="background-color: {{ color }}" class="blog-article-header text-center">
            <h1 class="text-white">{{ page.title }}</h1>
            <div class="blog-article-meta">
                {{ page.owner }} |
                {{ page.date }}{% if page.tags.all %} |{% for tag in page.tags.all %} {{ tag }}{% endfor %}{% endif %}
            </div>
            {% if page.image %}
                {% image image name=page.image classes="blog-image img-responsive" %}
            {% endif %}
            <div class="clearfix"></div>
        </div>
        <div class="blog-article-content">
            {% if page.lead %}
                <p class="blog-article-lead">
                    <span style="color: {{ color }}">{{ page.lead.0 }}</span>{{ page.lead|slice:"1:" }}
                </p>
                <div class="clearfix"></div>
            {% endif %}
            {{ page.content }}
        </div>
    </div>
{% endblock %}
