{% extends 'base_chat.html' %}

{% block chat_title %}
    Hi there!
{% endblock %}

{% block chat_content %}
    <p>
        Right now you can continue becoming more conscious about why you came to coLegend.
        Usually there is an <strong>“outer call”</strong> that led you to where you are right now - for example a person
        that told you
        about this platform or something that happened because of which you searched the internet for a personal
        development option.
    </p>
    <p>
        It doesn’t have to be big, and it might be interesting for you to briefly reflect on it… because in my opinion
        things often look like happening by chance and I think most of the time they’re happening for a reason.
    </p>
{% endblock %}

{% block chat_response %}
{% endblock %}
