{% extends "story/base.html" %}

{% block title %}Chapter 1{% endblock %}

{% block content %}

    <div id="typed-strings">
        <p>
            <span class='story-initial-letter'>O</span>nce upon a time .^300 .^300 .^1000
        </p>

        <p>
            ...is now
        </p>

        <p>
            Well, here we are.^2000 <br>
            Ain't much to look at, is it?^2000 <br>
            Came here on a {{ dayOfWeekPast }} night once.^1000 <br>
            It was actually pretty crowded.^1000 <br>
            But on a {{ dayOfWeek }} {{ timeOfDay }} .^300 .^300 .^1000 <br>
            I guess it's just you^1000 and me.^3000 <br>
            Your legend has started!
        </p>
    </div>
    <span id="typed" class="lead"></span>

{% endblock %}
