{% extends "story/base.html" %}
{% load icons %}

{% block title %}Pioneer Journal{% endblock %}

{% block content %}
    <div>
        <h4>
            Dear diary,
        </h4>

        <p>
            … or isn’t that the way one is supposed to start a diary entry? – but wait, here in coLegend I already
            learned that it’s not about what “one” would do, but what I want to do…
            So let me start all over.
        </p>

        <h4>
            2013-12-14: First journal entry
        </h4>

        <p>
            So in any case – here I am – giving this journal thing a try. I must admit, I have had this idea of writing
            a diary once or twice already before entering coLegend but I was always too lazy to write something by hand
            – typing on the other hand is quite convenient…
            So what has happened in the last days? Well… I joined coLegend – obviously.
            It was actually quite the coincidence how I found out about this group of people. I used to know this girl,
            Julia – I quite liked her when I met her the first time but then we kind of didn’t have the time to meet up
            more often. But last week I ran into her again while shopping for Christmas presents. She was asking me what
            I’d do for New Year’s Eve and told me that she herself had spent quite some time reflecting on her last year
            and on the one to come as she’d joined a platform called coLegend where the members are quite keen on being
            conscious about what they’re doing. So when I got home I checked out the web page and I liked the feeling of
            it – so I joined.
        </p>

        <p>
            After that I got into contact with the legends pretty fast – that’s the way the coLegend members are called.
            I got to know the core team, too. Some would say they’re a bunch of nerds – but I like their craziness, it’s
            a good kind of crazy J with a lot of uplifting energy. They’re really concerned about the well-being of the
            legends and they’re really into their project! They believe in it and they use it for themselves as well;
            and of course, everyone has their own story how they got there and why they’re working on this platform to
            make it the place they envisioned it to be.
            That got me thinking about what I want to get out of this platform?... Well… I guess I often wanted to
            change something in my life – or even to change my life as a whole as it is. But normally I didn’t have the
            guts to carry out that wish or I got distracted by other things that seemed more important – closer to life
            than thinking about some kind of vision of my own. Now it seems as though I have a real chance of committing
            to that energy of change. coLegend gives me the tools and the people – they’re both there to help me with
            it. So right now it seems like the hardest part is not fulfilling my wishes – but actually thinking about
            what I really want and allowing myself to put it in words which I have learned is an important step of
            creation … gosh, I start sounding like those legends already ;-).
        </p>

        <p>
            To be honest – I kind of started freaking out a little when I thought about it… what do I truly want?? What
            are my visions?? It’s something I didn’t give myself time to really think about yet or even formulate it.
            But when I met some other legends and talked with them I learned that they themselves often didn’t know
            right away what their next big project or vision will be – but they told me this in itself is perfectly
            okay. I do not have to have things figured out yet. The simple desire and the willingness to follow the
            impulse is all it takes.
            coLegend provides the tools for me – like this journal for example – and I will be taught exactly how to use
            them to find my next steps. On top of that I got people to talk about the process all along the way which
            will make it easier for me to share my feelings; well, first to even become aware of my feelings … my
            dreams, hopes and true desires. And the great thing – it’s not like I’ll be left alone with those new found
            treasures! I already found a thing called „manager“ – it’s supposed to be this tool that helps me think
            about what to do with my aspirations and how to get there step by step, making an occasional jump every now
            and then. So even when I don’t feel like talking to the other coLegend members – I could even use
            professional guidance counselling I heard! - I’m free to work on my path with those tools independently. I
            like that thought.
        </p>

        <p>
            What’s pretty cool, too, is that I don’t have to wreck my brain on what to do next or what questions to ask
            myself to advance on that self-development path. The platform guides me through that process by itself: All
            the steps that I’m able to do at the moment are laid out for me – so all I have to do is actually do them
            :).
        </p>

        <p>
            So I guess I’m at a point right now where I’ve run out of excuses why the heck I wouldn’t live the life I
            want to live! This is my life right here, right now and it’s about time I start being the lead role in my
            own story and take things into my own hands. I feel like I’ve finally found a group of people with who I
            want to share this adventure with… And besides – I’m also really looking forward to hearing their stories
            next to mine. If I remember it correctly, they call that “co-creating” a real legend J. Well – I guess, it’s
            going to be legen…wait for it…dary ;-)…
        </p>
    </div>
    <span class="lead">
        <form action="" method="post">{% csrf_token %}
            <button id="success" name="success" type="submit" class="btn btn-primary">
                close journal and return to tree
            </button>
        </form>
    </span>
{% endblock %}
