{% load static %}

<div class="legend-avatar" style="word-wrap: break-word">
    <a {% if url %}href="{{ url }}"{% endif %}>
        {% if source %}
            <img class="
                    {% if class %}{{ class }}{% else %}image-small{% endif %} img-responsive img-circle center-block"
                 src="{{ source }}"
                 alt="{{ name }}">
        {% else %}
            <img class="
                    {% if class %}{{ class }}{% else %}image-small{% endif %} img-responsive img-circle center-block"
                 src="{% static 'images/anonymous.png' %}"
                 alt="Your avatar">
        {% endif %}
        <div class="text-center">
            {{ name|default:"You" }}
        </div>
    </a>
</div>
