{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    Admin Stats
{% endblock %}

{% block up_url %}{% url "stats:home" %}{% endblock %}

{% block page_content %}
    <div class="well">
        <div class="row">
            <div class="col-md-3">
                <h2>Mentor</h2>
                Visions: {{ visions_total }}<br/>
                Gatherings: {{ gatherings_total }}<br/>
                Challenges: {{ challenges_total }}<br/>
            </div>
            <div class="col-md-3">
                <h2>Manager</h2>
                Tasks: {{ tasks_total }}<br/>
                Projects: {{ projects_total }}<br/>
                Tags: {{ tags_total }}<br/>
                Tracks: {{ tracks_total }}<br/>
            </div>
            <div class="col-md-3">
                <h2>Motivator</h2>
                Quotes: {{ quotes_total }}<br/>
            </div>
            <div class="col-md-3">
                <h2>Operator</h2>
                Features: {{ features_total }}<br/>
                Tutorials: {{ tutorials_total }}<br/>
                News: {{ news_total }}<br/>
                Notifications: {{ notifications_total }}<br/>
                <h3>Users</h3>
                Total: {{ users_total }}<br/>
                Accepted: {{ users_accepted }}<br/>
                Joined this month: {{ users_joined_this_month.count }}<br/>
                <small>=> {% for user in users_joined_this_month %}{{ user }} {% endfor %}</small><br/>
                Joined last month: {{ users_joined_last_month.count }}<br/>
                <small>=> {% for user in users_joined_last_month %}{{ user }} {% endfor %}</small><br/>
            </div>
        </div>
    </div>
    <div class="well well-sm">
        <h4>Feedback</h4>
        Which stats do you want to have?<br/>
        <a href="{% url "contact" %}" class="btn btn-default">Suggest</a>
    </div>
{% endblock %}
