{% load i18n menu_tags cache %}

{% for child in children %}
    <li class="nav-item {% if child.ancestor %}ancestor{% endif %}
        {% if child.selected %} active{% endif %}
        {% if child.children %} dropdown{% endif %}">
        {% if child.children %}
            <a id="{{ child.get_absolute_url }}" class="nav-link btn btn-link dropdown-toggle" data-toggle="dropdown"
               href="#"
               role="button" aria-haspopup="true" aria-expanded="false">
                {{ child.get_menu_title }}
            </a>
            <div class="dropdown-menu" aria-labelledby="{{ child.get_absolute_url }}">
                {% show_menu from_level to_level extra_inactive extra_active "widgets/submenu.html" "" "" child %}
            </div>
        {% else %}
            <a class="nav-link" href="{{ child.get_absolute_url }}"><span>{{ child.get_menu_title }}</span></a>
        {% endif %}
    </li>
    {% if class and forloop.last and not forloop.parentloop %}{% endif %}
{% endfor %}
