{% load i18n %}

{% for node in nodes %}
    <li class="nav-item {% if node.ancestor %}ancestor{% endif %}
        {% if node.selected %} active{% endif %}
        {% if node.nodes %} dropdown{% endif %}">
        {% if node.nodes %}
            <a id="menu-item-{{ node.name }}" class="nav-link btn btn-link dropdown-toggle" data-toggle="dropdown"
               href="#"
               role="button" aria-haspopup="true" aria-expanded="false">
                {{ node.name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="menu-item-{{ node.name }}">
            {% include 'widgets/submenu.html' with nodes=node.nodes %}
            </div>
        {% else %}
            <a class="nav-link btn btn-link" href="{{ node.url }}"><span>{{ node.name }}</span></a>
        {% endif %}
    </li>
{% endfor %}
