{% extends 'legends/base.html' %}
{% load i18n static core_tags legends_tags roles_tags buttons %}

{% block title %}Legend{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styleguide/css/index.css' %}">
{% endblock %}

{% block page_links %}
    {% for link in page_links %}
        {% button name=link.name url=link.url kind=link.kind locked=link.locked id=link.id %}
    {% endfor %}
    {% if intro %}
        <span class="pull-right">
        <a href="" data-toggle="modal" data-target="#introModal"
           class="link nav-item nav-link">
        Intro
        </a>
    </span>
        <!-- Modal -->
        <div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="introModalLabel"
             aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="introModalLabel">Introduction</h4>
                </div>
                <div class="modal-body">
                    {% include 'legends/chats/introduction.html' %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_container %}
    {% include 'widgets/quote.html' with author='Harvey Fierstein' sharer='Millionaire Tiger Entrepreneur' text="Accept no one's definition of your life, but define yourself." %}

    {% if not intro %}
        <p>
            {% include 'legends/chats/introduction.html' %}
        </p>
    {% endif %}
    <div class="row">
        <div class="col-md-3 text-center">
            {% static 'legends/images/coLegend-hero.png' as hero_avatar_url %}
            {% include 'legends/widgets/legend.html' with source=hero_avatar_url name='Hero' size='medium' %}
        </div>
        <div class="col-md-6 text-center">
            {% if user == legend %}
                {% url 'legends:avatar' username=legend.username as avatar_url %}
                {% legend size='large' url=avatar_url %}
            {% else %}
                {% legend size='large' %}
            {% endif %}
        </div>
        <div class="col-md-3 text-center">
            {% static 'legends/images/coLegend-demon.png' as demon_avatar_url %}
            {% include 'legends/widgets/legend.html' with source=demon_avatar_url name='Demon' size='medium' %}
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-content">
                <div class="card-header">
                    About
                </div>
                <div class="card-block">
                    {% if legend.name %}
                        <p>
                            {% icon 'legend' fixed=True %}
                            {{ legend.name }}
                        </p>
                    {% endif %}
                    {% if legend.birthday %}
                        <p>
                            {% icon 'birthday-cake' fixed=True %} {{ legend.birthday }}
                        </p>
                    {% endif %}
                    {% if legend.city %}
                        <p>
                            {% icon 'map-marker' fixed=True %}
                            {{ legend.city }}
                        </p>
                    {% endif %}
                    {% if legend != user %}
                        <a href="mailto:{{ legend.email }}" target="_blank" class="btn btn-primary btn-sm">
                            {% icon 'send' %} Send Message
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="card bg-content">
                <div class="card-header">
                    Relations
                </div>
                <div class="card-block">
                    {% if legend.guiderelation.guide %}
                        <p>
                            Cloud Guide:
                            {% legend legend.guiderelation.guide size='small' %}
                        </p>
                    {% else %}
                        No relations yet.
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="legend-roles" class="card bg-content">
                <div class="card-header">
                    <a href="{% url 'roles:index' %}">
                        Roles
                    </a>
                </div>
                <div class="card-block">
                    <h5>
                        coLegend
                    </h5>
                    <div class="widget-roles row">
                        {% for role in roles %}
                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-2" style="margin-bottom: 0.5em">
                                {% role size='small' %}
                            </div>
                            {% if forloop.counter|divisibleby:6 %}
                                <div class="clearfix hidden-lg-down"></div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="clearfix hidden-md-down hidden-xl-up"></div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="clearfix hidden-xs-down hidden-lg-up"></div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="clearfix hidden-sm-up"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card bg-content">
                <div class="card-header">
                    Story Update
                </div>
                <div class="card-block">
                    ...
                </div>
            </div>

            <div class="card bg-content">
                <div class="card-header">
                    Latest Activities
                </div>
                <div class="card-block">
                    ...
                </div>
            </div>


        </div>
        <div class="col-md-3">
            <div class="card bg-content">
                <div class="card-header">
                    Status
                </div>
                <div class="card-block">
                    <p id="legend-days">{{ legend.legend_days|default:"first" }} Legend
                        day{{ legend.legend_days|pluralize }}</p>

                    <p class="text-muted">Animal</p>
                    <p id="legend-donations">{% trans 'Donations' %}: €{{ legend.donations.total|default:'0.00' }}</p>
                </div>
            </div>

            <div class="card bg-content">
                <div class="card-header">
                    Biography
                </div>
                <div class="card-block">
                    {{ legend.biography.text }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
