{% extends 'base.html' %}
{% load bootstrap3 %}


{% block title %}
    Meetings
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>Meetings</h1>
    </div>
    <div class="well lead text-center container">
        <img src="{{ STATIC_URL }}website/images/CoSpace_circle.png" alt="CoSpace"
             class="center-block img-circle img-responsive" style="max-height: 200px;">

        <h3>Next Meeting</h3>
        {% if date %}
        {{ date }}<br/>
        Countdown: {{ counter }}<br/>
        <a href="https://plus.google.com/hangouts/_/eraldo.org/cospace" target="_blank" class="btn btn-default">»
            Hangout</a>
        {% else %}
            Currently there are no planned meetings.
        {% endif %}

        <h2>"CoSpace"</h2>

        <p>
            A place where we can connect on a regular basis.<br/>
            In the center there is a question: “How can we support each other to be(come) more legendary?”<br/>
            A safe space where we can talk about our biggest current challenges and strongest emotions.<br/>
            <br/>
            For now this will take place in the form of weekly video/audio hangouts.<br/>
            In the longer run, as we increase in number, this will shift to your local tribes.<br/>
            Once a year starting 2015 the tribes will be invited to merge and enjoy a legendary celebration.<br/>
        </p>
    </div>
{% endblock %}
