{% load core_tags buttons %}
{% if actions %}
    <div class="widget-action-menu btn-group {{ class }}">
        <a href="#menu" type="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">{% icon 'more' fixed=True color='grey' %}</a>
        <div class="dropdown-menu{% if right %} dropdown-menu-right{% endif %}">
            {% for action in actions %}
                {% if action.post_url %}
                    <form action="{{ action.post_url }}" method="post">{% csrf_token %}
                        <button type="submit" class="default dropdown-item">{% icon action.icon fixed=True %} {{ action.name }}</button>
                    </form>
                {% else %}
                    {% button action.name url=action.url icon=action.icon kind='default dropdown-item' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
