{% load legends_tags %}

<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-sm-4 text-center">
                {% npc npc|default:'coralina' %}
            </div>
            <div class="col-sm-8">
                <div class="speech-bubble-arrow hidden-xs-down"></div>
                <div class="speech-bubble card bg-content">
                    <div class="card-block">
                        <h4 class="card-title">
                            {% block chat_title %}
                                {{ title }}
                            {% endblock %}
                        </h4>
                        <div class="card-text">
                            {% block chat_content %}
                                {{ content }}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block chat_response %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-4">
            <div class="row">
                <div class="col-sm-4 col-sm-push-8 text-center">
                    {# TODO: refactor to use widget handling auth #}
                    {% if user.is_authenticated %}
                        {% legend size='large' %}
                    {% else %}
                        {% include 'legends/widgets/legend.html' %}
                    {% endif %}
                </div>
                <div class="col-sm-8  col-sm-pull-4">
                    <div class="speech-bubble-arrow-right hidden-xs-down"></div>
                    <div class="speech-bubble card bg-content">
                        <div class="card-block">
                            <h4 class="card-title">
                                Your answer:
                            </h4>
                            <div class="card-text">
                                <ul class="list-group">
                                    {% block chat_answers %}
                                        {% for answer in answers %}
                                            <a href="{{ answer.url }}">
                                                <li class="list-group-item">
                                                    {% block chat_answer %}
                                                        {{ answer.text }}
                                                    {% endblock %}
                                                </li>
                                            </a>
                                        {% endfor %}
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
