{% extends 'visions/base.html' %}
{% load buttons visions_tags core_tags %}

{% block title %}Visions{% endblock %}

{% block content %}
    {% card content=purpose header="<b>Legend Purpose</b>" actions=actions %}
    <h4>Scoped visions</h4>
    <div class="row">
        {% for vision in visions %}
            <div class="col-md-4">
                {% vision as vision_card %}
                {% link content=vision_card url=vision.detail_url unstyled=True %}
            </div>
            {% if forloop.counter|divisibleby:3 %}
                <div class="clearfix hidden-sm-down"></div>
            {% endif %}
            {% empty %}
            Please create an account to create scoped visions. :)
        {% endfor %}
    </div>
{% endblock %}
