{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    My Life Vision: {{ vision }}
{% endblock %}

{% block up_url %}{% url "visions:vision_list" %}{% endblock %}

{% block page_controls %}
    <a href="{{ vision.get_edit_url }}" class="btn btn-primary" role="button">{% icon "edit" %}</a>
    <a href="{{ vision.get_delete_url }}" class="btn btn-danger" role="button">{% icon "delete" %}</a>
{% endblock %}

{% block page_content %}
    <div class="well well-sm">
    {{ vision.content }}
    </div>
{% endblock %}
