{% extends 'page.html' %}

{% block page_title %}
    My Life Vision
{% endblock %}

{% block up_url %}{% url "visions:vision_list" %}{% endblock %}
{% block up_icon %}eye{% endblock %}

{% block page_controls %}
    <a href="{{ vision.get_edit_url }}" class="btn btn-primary" role="button">Update</a>
    <a href="{{ vision.get_delete_url }}" class="btn btn-danger" role="button">Delete</a>
{% endblock %}

{% block page_content %}
    <div class="well well-sm">
    <h2>{{ vision }}</h2>
    {{ vision.content }}
    </div>
{% endblock %}
