<div class="habit well well-sm">
    <span class="label label-default">{{ habit.order }}</span>
    <b>{% include "habits/_habit_link.html" %}</b>
    <br/>
    {% include "tags/_tags_field.html" with tags=habit.tags.all %}
    <br/>
    {% include "lib/_description_field.html" with description=habit.description %}
    <br/>
    <u>type</u>: -
    <br/>
    <a href="{{ habit.get_edit_url }}" class="btn btn-primary btn-sm" role="button">edit</a>
    <a href="{{ habit.get_delete_url }}" class="btn btn-danger btn-sm" role="button">delete</a>
</div>
