{% extends 'outcomes/base.html' %}
{% load static icons buttons outcomes_tags %}

{% block title %}Outcome{% endblock %}

{% block page_controls %}
    {% button 'update' url=outcome.update_url %}
    <div class="pull-right">
        {% button 'delete' url=outcome.delete_url %}
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <strong>{{ outcome.name }}</strong><br>
            <p>
                {{ outcome.description|linebreaksbr }}
            </p>
        </div>
        <div class="col-md-4">
            <u>Status</u>:
            {{ outcome.get_status_display }}<br>
            <u>Review</u>:
            {{ outcome.get_review_display }}<br>
            <u>Inbox</u>:
            {{ outcome.inbox }}<br>
            <u>Date</u>:
            {{ outcome.date }}<br>
            <u>Deadline</u>:
            {{ outcome.deadline }}<br>
            <u>Estimate</u>:
            {% estimate outcome.estimate %}<br>
        </div>
    </div>
{% endblock %}
