{% extends 'outcomes/base.html' %}
{% load icons buttons outcomes_tags crispy_forms_tags %}

{% block title %}Outcomes{% endblock %}

{% block page_controls %}
    {% button 'create' pattern='outcomes:create' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            {% for outcome in outcomes %}
                {% outcome_link %}<br>
            {% endfor %}
            <br>
        </div>
        <div class="col-md-2 card bg-main-light">
            <br>
            <h6 class="text-main-dark">Filters</h6>
            <hr>
            {% crispy filter.form filter.form.helper %}
        </div>
    </div>
{% endblock %}
