{% extends 'community/base.html' %}
{% load core_tags wagtailroutablepage_tags community_tags legends_tags office_tags %}

{% block page_controls %}
    {% if not user.clan %}
        <div class="pull-right">
            <form action="{% routablepageurl page "create" %}" method="get" style="display: inline-block">
                <button class="btn btn-sm btn-secondary">Create</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Clans</h1>
    {% for clan in clans %}
        <div>
            {% clan %}
        </div>
    {% endfor %}
{% endblock %}
