{% extends 'community/base.html' %}
{% load core_tags wagtailroutablepage_tags community_tags legends_tags office_tags %}

{% block page_controls %}
    <div class="pull-right">
        <form action="list" method="get" style="display: inline-block">
            <button class="btn btn-sm btn-secondary">List</button>
        </form>
        {% if user.duo %}
            <form action="quit" method="get" style="display: inline-block">
                <button class="btn btn-sm btn-danger">Quit</button>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <h1>{{ duo.name }}</h1>
    <div class="row">
        {% for member in duo.members.all %}
            <div class="col-md-6">
                <div id="duo-card" class="card bg-content">
                    <div class="duo-card-header card-block">
                        <div style="display: inline-block">
                            {% legend member show_link=False %}
                        </div>
                        {% if member != user %}
                            <a href="mailto:{{ member.email }}" target="_blank"
                               class="btn btn-primary pull-right">{% icon 'envelope' %}</a>
                        {% endif %}
                        <div style="display: inline-block; vertical-align: top">
                            <h4>
                                {{ member | title }}
                            </h4>
                        </div>
                        <p>
                            <strong>
                                {{ scope.name | title }} Focus
                            </strong>
                        </p>
                        <div>
                            {% with user=member %}
                                {% focus scope=scope %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
