{% extends 'base_chat.html' %}

{% block chat_title %}
    Let’s continue!
{% endblock %}

{% block chat_content %}
    <p>
        After reflecting about your outer call you can now think about your <strong>“inner call”</strong>. You might
        have had <strong>a feeling</strong>
        or <strong>tension</strong> concerning a specific topic in your life that’s been bugging you for some time now,
        something which
        you know you want to change but it just didn’t feel right yet? Well that could be your inner call. Or it could
        have been <strong>a wish</strong> that you’ve never quite dared to follow through.
    </p>
    <p>
        Well now is the time to look at that feeling, tension or wish and write it down for you to <strong>become
        conscious of it</strong>.
    </p>
{% endblock %}

{% block chat_response %}
{% endblock %}
