{% load bootstrap3 %}
{% bootstrap_javascript %}

{# select active menu item #}
<script>
    if (location.pathname.split("/")[1] == "") {
        $('#menu a[href="/"][class!="noselect"]').parent().addClass('active');
    } else {
        $('#menu a[href*="' + location.pathname.split("/")[1] + '"][class!="noselect"]').parent().addClass('active');
    }
</script>

{# tooltips #}
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>

{# jqueryUI #}
<script src="{{ STATIC_URL }}website/bower_components/jquery-ui/jquery-ui.min.js"></script>

{# datepicker #}
<script>
    {#    $(function() {#}
    $(".dateinput").datepicker({
        dateFormat: $.datepicker.ISO_8601,
        firstDay: 1,
        changeMonth: true,
        changeYear: true
    });
</script>

{# datetimepicker #}
<script src="{{ STATIC_URL }}website/bower_components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $('.datetimeinput').datetimepicker({
        weekStart: 1,
        autoclose: true
    });
</script>

{# keyboard shortcuts #}
{% if user.settings.keyboard %}
    {% load keyboard %}{% keyboard %}
    <script>
        function keyboard_help() {
            // Redirect to the keyboard tutorial.
            window.open("{% url "tutorials:keyboard" %}");
        }
        function keyboard_deselect() {
            // Deselect currently selected item.
            var selected = $(".nav-item.selected").removeClass("selected");
            // Unfocus the active element if it is an input field.
            var tag = document.activeElement.tagName;
            if (tag=="INPUT"||tag=="SELECT"||tag=="TEXTAREA"||tag.isContentEditable) {
                document.activeElement.blur();
            }
        }
        function keyboard_menu(main) {
            if (main) {
                // focus the main menu
{#                alert("MAIN");#}
                $("#menu a")[0].focus();
            } else {
                // focus the page menu
                $("#page-menu .btn")[0].focus();
            }
        }

        function keyboard_new() {
            // click on the new button
            $(".new-button")[0].click();
        }
        function keyboard_show() {
            // open the detail page of the selected item
            // or open the open-button
            var item = $(".nav-item.selected")[0];
            if (item) {
                var url = item.getAttribute("data-url");
                if (url) {
                    window.location.href = url;
                }
            } else {
                $(".open-button")[0].click();
            }
        }
        function _click_selected_or_global_button(button_class) {
            // click the complete button of the selected item
            // or click on the first found non-item complete button
            var button = $(".nav-item.selected .item-" + button_class)[0];
            if (!button) {
                // Get the top most non-item complete button.
                var button = $("." + button_class)[0];
            }
            if (button) {
                button.click();
            }
        }
        function keyboard_edit() {
            _click_selected_or_global_button("edit-button");
        }
        function keyboard_delete() {
            _click_selected_or_global_button("delete-button");
        }
        function keyboard_complete() {
            _click_selected_or_global_button("complete-button");
        }

        function keyboard_save() {
            $(".save-button")[0].click();
        }
        function keyboard_cancel() {
            $(".cancel-button")[0].click();
        }

        function keyboard_navigate(direction) {
            // selection class
            var item_class = ".nav-item";
            var selection_class = "selected";
            // check if there is a selection
            var selected = $(item_class + "." + selection_class);
            if (selected.length > 0) { // selection exists
                if (direction == "down") {
                    var next = selected.next(item_class);
                } else if (direction == "up") {
                    var next = selected.prev(item_class);
                } else {
                    return
                }
                if (next.length > 0) {
                    selected.removeClass(selection_class)
                }
            } else {
                if (direction == "down") {
                    var next = $(item_class).first();
                } else if (direction == "up") {
                    var next = $(item_class).last();
                } else {
                    return
                }
            }
            if (next.length > 0) {
                next.addClass(selection_class);
                next.focus();
                // scroll to item
                $('html, body').animate({
                    scrollTop: $(next).offset().top - ($(window).height() / 2) + 'px'
                }, 0);
            }
        }
    </script>
{% endif %}
