{% load bootstrap3 %}
{% bootstrap_javascript %}

{% include 'autocomplete_light/static.html' %}

{# select active menu item #}
<script>
    if (location.pathname.split("/")[1] == "") {
        $('#menu a[href="/"][class!="noselect"]').parent().addClass('active');
    } else {
        $('#map a[href*="' + location.pathname.split("/")[1] + '"][class!="noselect"]').parent().addClass('active');
    }
</script>

{# Quick Command #}
{% include "lib/_quick_command_modal.html" %}

{# tooltips #}
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>

{# jqueryUI #}
<script src="{{ STATIC_URL }}website/bower_components/jquery-ui/jquery-ui.min.js"></script>

{# datepicker #}
<script>
    {#    $(function() {#}
    $(".dateinput").datepicker({
        dateFormat: $.datepicker.ISO_8601,
        firstDay: 1,
        changeMonth: true,
        changeYear: true
    });
</script>

{# datetimepicker #}
<script src="{{ STATIC_URL }}website/bower_components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $('.datetimeinput').datetimepicker({
        weekStart: 1,
        autoclose: true
    });
</script>

{# keyboard shortcuts #}
{% if user.settings.keyboard %}
    {% load keyboard %}{% keyboard %}
    <script> {# django reverse urls #}
        var keyboard_tutorial_url = '{% url "tutorials:keyboard" %}';
    </script>
    <script src="{{ STATIC_URL }}keyboard/keyboard.js"></script>
{% endif %}
