{% extends "website/_modal.html" %}

{% block lauch_button %}{% endblock %}

{% block title %}Coach{% endblock %}

{% block body %}
    <p>
        You will be guided through various personal development systems like NLP, NVC and others.
        For each topic you can learn or recap the gist and then master the exercises with your friends.
        As part of your progress, you will get will get more clarity on what you really want and explore what your legendary life might look, feel and be like.
    </p>
{% endblock %}
