<!-- STYLES -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/css/base.css"/>
<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
<link rel="stylesheet" href="{{ STATIC_URL }}website/bower_components/fontawesome/css/font-awesome.min.css">

{# bootstrap #}
{% load bootstrap3 %}
{% bootstrap_css %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css"/>

{# datetimepicker #}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>

