{% extends "website/_modal.html" %}

{% block lauch_button %}{% endblock %}

{% block title %}Manager{% endblock %}

{% block body %}
    <p>
        What is a vision worth.. without the next step?
        Now things are getting concrete.. your dreams become reality.
        A new perspective on your vision emerges through goals, projects and the most important next steps.
        The Manager helps to realize your vision. On a daily basis you are presented with what you have discovered to be the next important steps.
        He helps you stay current and focused.
    </p>
{% endblock %}
