{% extends "website/_modal.html" %}
{% load icons %}

{% block lauch_button %}{% endblock %}

{% block title %}Manager{% endblock %}

{% block body %}
    <p>
        What is a vision worth.. without the next step?
        Now things are getting concrete.. your dreams become reality.
        A new perspective on your vision emerges through goals, projects and the most important next steps.
        The Manager helps to realize your vision. On a daily basis you are presented with what you have discovered to be the next important steps.
        He helps you stay current and focused.
    </p>


    <ul class="list-group">
        <li class="list-group-item">
            {% icon 'project' %}
            <b>Project Management</b><br/>
            Organic Project Management. Projects start small and may grow bigger with time.
        </li>
        <li class="list-group-item">
            {% icon 'tag' %}
            <b>Searchable Tags</b><br/>
            Filter your projects and tasks based on context.
        </li>
    </ul>
{% endblock %}
