<div class="text-center">
    <div class="row">
        {% for menu_type, menu_items in menu_items.items %}
            {% if menu_items %}
                {% for menu_item in menu_items %}
                    <div class="col-xs-3 map-item">
                        <a id="{{ menu_item|slugify }}-map-item" href="
                                {% if menu_item.arg %}
                                    {% url menu_item.url menu_item.arg %}
                                {% else %}
                                    {% url menu_item.url %}
                                {% endif %}">
                                <span class="text-category-{{ menu_item.category }}"
                                        {% if user.settings.keyboard and menu_item.keyboard_shortcut %}
                                      data-toggle="tooltip" data-placement="bottom" title="Shortcut: {{ menu_item.keyboard_shortcut }}"
                                        {% endif %}>
                                    {% if menu_item.icon %}
                                        <h4>
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-{{ menu_item.icon }} fa-stack-1x fa-inverse"></i>
                                        </span>
                                        </h4>
                                    {% endif %}
                                    <span class="label label-default"
                                          style="white-space: nowrap">{{ menu_item }}
                                    </span>
                                </span>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<br>
