{% load bootstrap3 %}
{% load avatar_tags %}
{% load icons %}
<!-- Map Modal -->
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="map-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
        {% include "website/_map.html" %}
        </div>
    </div>
  </div>
</div>
<!-- Keyboard Modal -->
<div class="modal fade" id="keyboard-modal" tabindex="-1" role="dialog" aria-labelledby="keyboard-modal-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body" style="max-height: calc(100vh - 60px); overflow-y: auto;">
        </div>
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-logo" href="{% url 'home' %}"
               data-toggle="tooltip" data-placement="bottom" title="CoLegend Home">
                <img id="logo" class="img-responsive" src="{{ STATIC_URL }}website/images/Co_100x50.png">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for menu_item in menu_items.main %}
                    {% include 'website/_menu_item.html' %}
                {% endfor %}

                <!-- Map button trigger modal -->
                <li><a id="map" href="{% url 'map' %}" data-toggle="modal" data-target="#map-modal">{% icon "map" %}&nbsp;Map</a></li>

                <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="Mentor Menu">
                    <a id="mentor-menu" href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-rocket"></i> Mentor</a>
                    <ul class="dropdown-menu">
                        {% for menu_item in menu_items.mentor %}
                            {% include 'website/_menu_item.html' %}
                        {% endfor %}
                        {% if user.is_tester and menu_items.mentor_extra %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Experimental</li>
                            {% for menu_item in menu_items.mentor_extra %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}

                    </ul>
                </li>
                <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="Manager Menu">
                    <a id="manager-menu" href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-briefcase"></i> Manager</a>
                    <ul class="dropdown-menu">
                        {% for menu_item in menu_items.manager %}
                            {% include 'website/_menu_item.html' %}
                        {% endfor %}
                        {% if user.is_tester and menu_items.manager_extra %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Experimental</li>
                            {% for menu_item in menu_items.manager_extra %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}

                    </ul>
                </li>
                <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="Motivator Menu">
                    <a id="motivator-menu" href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-smile-o"></i>
                        Motivator</a>
                    <ul class="dropdown-menu">
                        {% for menu_item in menu_items.motivator %}
                            {% include 'website/_menu_item.html' %}
                        {% endfor %}
                        {% if user.is_tester and menu_items.motivator_extra %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Experimental</li>
                            {% for menu_item in menu_items.motivator_extra %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="Operator Menu">
                    <a id="operator-menu" href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-desktop"></i>
                        Operator</a>
                    <ul class="dropdown-menu">
                        {% for menu_item in menu_items.operator %}
                            {% include 'website/_menu_item.html' %}
                        {% endfor %}
                        {% if user.is_tester and menu_items.operator_extra %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Experimental</li>
                            {% for menu_item in menu_items.operator_extra %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}
                        {% if user.is_manager %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Manage</li>
                            {% for menu_item in menu_items.manage %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Admin</li>
                            {% for menu_item in menu_items.admin %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="Search">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="glyphicon glyphicon-search"></i></a>
                    <ul id="global-search-box" class="dropdown-menu" style="padding:12px;">

                        <form id="global-search" action="{% url 'search' %}" method="GET">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="search..."
                                       value="{{ request.GET.q }}" autofocus>

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">{% icon "search" %}</button>
                                </div>
                            </div>
                        </form>
                    </ul>
                </li>

                <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="Notifications">
                    <a id="notification-menu" href="#" class="dropdown-toggle extra-menu" data-toggle="dropdown">
                        {% icon "notification" %}
                        <span class="badge status status-next menu-counter">{% if user.notifications.unread %}
                            {{ user.notifications.unread.count }}{% endif %}</span>
                    </a>
                    <ul id="notification-menu-dropdown" class="dropdown-menu">
                        {% for notification in user.notifications.top %}
                            {% include 'notifications/_notification.html' %}
                        {% empty %}
                            <div class="text-center">
                                <i>No notifications</i>
                            </div>
                        {% endfor %}
                        {% if user.notifications.all.count > 7 %}
                            <div class="text-center">
                                <a href="{% url "notifications:notification_list" %}" class="btn btn-xs btn-default">See
                                    all Notifications</a>
                            </div>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="Quick Command">
                    <a id="quick-command-toggle" href="javascript:keyboard_quick_command();" class="extra-menu">
                        {% icon "quick-command" %}
                    </a>
                </li>
                <li class="dropdown" data-placement="left" data-toggle="tooltip" title="Account Menu">
                    <a id="profile-dropdown" href="#" class="dropdown-toggle extra-menu" data-toggle="dropdown">
                        <img id="menu-avatar" src="{% avatar_url user 40 %}" alt="user" class="img-circle"/>
                    </a>
                    <ul class="dropdown-menu">
                        <a href="{% url "users:detail" user.username %}" style="text-decoration: none;">
                            <img id="menu-avatar" src="{% avatar_url user %}" alt="user" class="center-block"/>

                            <div style="text-align: center">{{ user }}</div>
                        </a>
                        <li class="divider"></li>
                        {% for menu_item in menu_items.account %}
                            {% include 'website/_menu_item.html' %}
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="{% url "account_logout" %}"><i class="fa fa-sign-out"></i> Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
