{% load bootstrap3 %}
{% load avatar_tags %}
{% load icons %}

{% if user.is_authenticated %}
    <!-- Map Modal -->
    <div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="map-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id='map' class="modal-body">
                    {% include "website/_map.html" %}
                </div>
            </div>
        </div>
    </div>
    <!-- Keyboard Modal -->
    <div class="modal fade" id="keyboard-modal" tabindex="-1" role="dialog" aria-labelledby="keyboard-modal-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body" style="max-height: calc(100vh - 60px); overflow-y: auto;">
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-logo" href="{% url 'home' %}"
               data-toggle="tooltip" data-placement="bottom" title="CoLegend Home">
                <img id="logo" class="img-responsive" src="{{ STATIC_URL }}website/images/Co_100x50.png">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    {% for menu_item in menu_items.main %}
                        {% include 'website/_menu_item.html' %}
                    {% endfor %}

                    <!-- Map button trigger modal -->
                    <li data-placement="bottom" data-toggle="tooltip" title="Map">
                        <a id="map-toggle" href="#" data-toggle="modal" data-target="#map-modal">{% icon "map" %}</a>
                    </li>

                    <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="New Item">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{% icon "new" %}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'tasks:task_new' %}">{% icon 'task' %} Task</a></li>
                            <li><a href="{% url 'projects:project_new' %}">{% icon 'project' %} Project</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'journals:dayentry_new' %}">{% icon 'journal' %} Journal Day Entry</a>
                            </li>
                            <li><a href="{% url 'journals:weekentry_new' %}">{% icon 'journal' %} Journal Week Entry</a>
                            </li>
                            {% if user.is_manager %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'gatherings:gathering_new' %}">{% icon 'gathering' %} Gathering</a>
                                </li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'quotes:quote_new' %}">{% icon 'quote' %} Quote</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'dojo:module_new' %}">{% icon 'dojo' %} Module</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="Search">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="glyphicon glyphicon-search"></i></a>
                        <ul id="global-search-box" class="dropdown-menu">

                            <form id="global-search" action="{% url 'search' %}" method="GET">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="search..."
                                           value="{{ request.GET.q }}" autofocus>

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default">{% icon "search" %}</button>
                                    </div>
                                </div>
                            </form>
                        </ul>
                    </li>

                    <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="Notifications">
                        <a id="notification-menu" href="#" class="dropdown-toggle extra-menu" data-toggle="dropdown">
                            {% icon "notification" %}
                        <span class="badge status status-next menu-counter">{% if user.notifications.unread %}
                            {{ user.notifications.unread.count }}{% endif %}</span>
                        </a>
                        <ul id="notification-menu-dropdown" class="dropdown-menu">
                            {% for notification in user.notifications.top %}
                                {% include 'notifications/_notification.html' %}
                            {% empty %}
                                <div class="text-center">
                                    <i>No notifications</i>
                                </div>
                            {% endfor %}
                            {% if user.notifications.all.count > 7 %}
                                <div class="text-center">
                                    <a href="{% url "notifications:notification_list" %}"
                                       class="btn btn-xs btn-default">See
                                        all Notifications</a>
                                </div>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown" data-placement="bottom" data-toggle="tooltip" title="Quick Command">
                        <a id="quick-command-toggle" data-toggle="modal" data-target="#quickCommandModal" href="#"
                           class="extra-menu">
                            {% icon "quick-command" %}
                        </a>
                    </li>
                    <li class="dropdown" data-placement="left" data-toggle="tooltip" title="Account Menu">
                        <a id="profile-dropdown" href="#" class="dropdown-toggle extra-menu" data-toggle="dropdown">
                            <img id="menu-avatar" src="{% avatar_url user 40 %}" alt="user" class="img-circle"/>
                        </a>
                        <ul class="dropdown-menu">
                            <a href="{% url "users:detail" user.username %}" style="text-decoration: none;">
                                <img id="menu-avatar" src="{% avatar_url user %}" alt="user" class="center-block"/>

                                <div style="text-align: center">{{ user }}</div>
                            </a>
                            <li class="divider"></li>
                            <li><a href="{% url "account_logout" %}"><i class="fa fa-sign-out"></i> Goodbye</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
