{% load bootstrap3 %}
{% load avatar_tags %}
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-logo" href="{% url 'home' %}"><img id="logo" class="img-responsive"
                                                                             src="{{ STATIC_URL }}website/images/Co_100x50.png"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for menu_item in menu_items.main %}
                    {% include 'website/_menu_item.html' %}
                {% endfor %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-rocket"></i> Mentor</a>
                    <ul class="dropdown-menu">
                        {% for menu_item in menu_items.mentor %}
                            {% include 'website/_menu_item.html' %}
                        {% endfor %}
                        {% if user.is_tester and menu_items.mentor_extra %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Experimental</li>
                            {% for menu_item in menu_items.mentor_extra %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-briefcase"></i>
                        Manager</a>
                    <ul class="dropdown-menu">
                        {% for menu_item in menu_items.manager %}
                            {% include 'website/_menu_item.html' %}
                        {% endfor %}
                        {% if user.is_tester and menu_items.manager_extra %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Experimental</li>
                            {% for menu_item in menu_items.manager_extra %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-smile-o"></i>
                        Motivator</a>
                    <ul class="dropdown-menu">
                        {% for menu_item in menu_items.motivator %}
                            {% include 'website/_menu_item.html' %}
                        {% endfor %}
                        {% if user.is_tester and menu_items.motivator_extra %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Experimental</li>
                            {% for menu_item in menu_items.motivator_extra %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-desktop"></i>
                        Operator</a>
                    <ul class="dropdown-menu">
                        {% for menu_item in menu_items.operator %}
                            {% include 'website/_menu_item.html' %}
                        {% endfor %}
                        {% if user.is_tester and menu_items.operator_extra %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Experimental</li>
                            {% for menu_item in menu_items.operator_extra %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Admin</li>
                            {% for menu_item in menu_items.admin %}
                                {% include 'website/_menu_item.html' %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="profile-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img id="menu-avatar" src="{% avatar_url user 40 %}" alt="user" class="img-circle"/>
                    </a>
                    <ul class="dropdown-menu">
                        <img id="menu-avatar" src="{% avatar_url user %}" alt="user" class="center-block"/>

                        <div style="text-align: center">{{ user }}</div>
                        <li class="divider"></li>
                        {% for menu_item in menu_items.settings %}
                            {% include 'website/_menu_item.html' %}
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="{% url "account_logout" %}">{% bootstrap_icon "log-out" %} Sign out</a></li>
                    </ul>
                </li>

            </ul>
            <div id="global-search">
                <form action="{% url 'search' %}" method="GET" class="navbar-form navbar-right">
                    <input type="text" name="q" class="form-control" placeholder="search...">
                </form>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
