{% extends "website/_modal.html" %}
{% load icons %}

{% block lauch_button %}{% endblock %}

{% block title %}Mentor{% endblock %}

{% block body %}
    <p>
        You will be guided through various personal development systems like NLP, NVC and others.
        For each topic you can learn or recap the gist and then master the exercises with your friends.
        As part of your progress, you will get more clarity on what you really want and explore what your legendary life
        might look, feel and be like.
    </p>
    <ul class="list-group">
        <li class="list-group-item">
            {% icon 'gathering' %}
            <b>Gatherings</b><br/>
            A space to make room for your biggest challenges and strongest feelings and emotions.
        </li>
        <li class="list-group-item">
            {% icon 'challenge' %}
            <b>Challenges</b><br/>
            Take on challenges that help you expand your comfort zone and bring adventures to your everyday life.
        </li>
        <li class="list-group-item">
            {% icon 'journal' %}
            <b>Smart Journal</b><br/>
            Become more aware of your current life by reflecting on it in a smart and personalized way.
        </li>
        <li class="list-group-item">
            {% icon 'dojo' %}
            <b>Dojo</b><br/>
            Learn and practise to express your desires more clearly to get what you want.
        </li>
        <li class="list-group-item">
            {% icon 'tutorial' %}
            <b>Personal Feedback</b><br/>
            Ask any question that you have in your live! You will get a personal answer.
        </li>
        <li class="list-group-item">
            {% icon 'eye' %}
            <b>Coaching</b><br/>
            Direct one-on-one coaching.
        </li>
    </ul>
{% endblock %}
