{% extends "website/_modal.html" %}

{% block lauch_button %}{% endblock %}

{% block title %}Motivator{% endblock %}

{% block body %}
    <p>
        Now you know what to do next.
        Well.. is that really interesting enough for you to actually go and do it?
        That's the motivator's area of expertise. As a game psychologist and good friend, he knows you quite well.
        He is aware of the worldly temptations with all its diversity and he does not want to keep you from having fun. Rather the opposite.
        Every now and then, he surprises you with amazing pictures, great quotes, practical advice, sometimes just being foolish and who knows what else.
        He shows you what you can be grateful for. For instance your progress. Something that we tend to forget in the hustle of our busy lives.
        With progression you will be told an exciting legend and other small fantastic stories.
        He helps you to keep emotionally connected with your vision.
        And to be loving and patient with yourself if something else managed to steal your attention.
        If you are back again.. your dream will still be there as are the other players. Kickoff after the break.. go go.. your team mates are waiting.. the ball is in the game.. and now there is a pass to you!
    </p>
{% endblock %}
