{% extends 'base.html' %}
{% load bootstrap3 %}

{% block menu %}{% endblock %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="container"
         style="margin-top: 40px;">
        <div class="text-center">
            <img src="{{ STATIC_URL }}website/images/CoLegendLogo.png" alt="CoLegend"
                 class="center-block img-responsive">

            <h3><span style="display:inline-block;">Be Awesome,</span> <span style="display:inline-block;">Love with an Open Heart</span>
                <span style="display:inline-block;">and Live a Legendary Life</span> <span
                        style="display:inline-block;">..Today!</span>
            </h3>

            <p><a href="{% url "account_login" %}?next=/" class="btn btn-primary btn-lg" role="button">Let's do it!</a></p>
            <hr/>
            <div class="container">
                <div class="embed-responsive embed-responsive-16by9 col-xs-12">
                    <iframe class="embed-responsive-item" allowfullscreen
                            src="//www.youtube.com/embed/enNpHIV2Ys8"></iframe>
                </div>
            </div>
        </div>
        <br/>

        <div class="well lead text-center">
            <h1>What is CoLegend?
                Where am I?</h1>

            <p>
                It is a Socially-Intelligent Life-Management Platform.<br/>
                But that are just words..<br/>
                So, why does it exist?<br/>
            <ol>
                <li>To help you find out what you truly and deeply want.</li>
                <li>To support you on that path and help you get there.</li>
                (and make the journey an awesome one)
            </ol>
            According to an old legend, some people are chosen to live an awesome life.
            They break out of the typical
            life and transform into ..well.. legends.
            The interesting question here is:
            Are you one of them?
            - Well, let us find it out.<br/>
            <a href="{% url "account_login" %}?next=/" class="btn btn-primary btn-lg" role="button">Explore</a>
            </p>
        </div>

        <div class="well text-center lead">
            <h1>Special Features</h1>

            <div class="row">
                <div class="col-sm-4">
                    <img class="img-circle" src="{{ STATIC_URL }}website/images/coach_140x140.jpg" alt="Coach"/>
{#                    <img class="img-circle" src="http://placehold.it/140x140&text=Coach" alt="Coach"/>#}

                    <h2>Coach</h2>

                    <p>
                        Helps you uncover your deep desires and explore your legendary <b style="display:inline-block;">life
                        vision</b>.
                    </p>

                    <p>
                        <a class="btn btn-default" href="#" role="button" data-toggle="modal" data-target="#coach-info">View details »</a>
                        {% include "website/_coach_modal.html" with name="coach-info" %}
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="img-circle" src="{{ STATIC_URL }}website/images/manager_140x140.jpg" alt="Manager"/>

                    <h2>Manager</h2>

                    <p>
                        Keeps track of your projects and tasks so you always now your <b style="display: inline-block">next
                        steps</b>.
                    </p>

                    <p>
                        <a class="btn btn-default" href="#" role="button" data-toggle="modal" data-target="#manager-info">View details »</a>
                        {% include "website/_manager_modal.html" with name="manager-info" %}
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="img-circle" src="{{ STATIC_URL }}website/images/motivator_140x140.jpg" alt="Motivator"/>

                    <h2>Motivator</h2>

                    <p>
                        Knows how to challenge and surprise you while keeping a fun <b style="display: inline-block">playful
                        attitude</b>.
                    </p>

                    <p>
                        <a class="btn btn-default" href="#" role="button" data-toggle="modal" data-target="#motivator-info">View details »</a>
                        {% include "website/_motivator_modal.html" with name="motivator-info" %}
                    </p>
                </div>
            </div>
        </div>

        <div class="well text-center">
            <h1>Alpha Version</h1>

            <p>
                We are in early alpha stage.. so things might not work the way you want them to yet.<br>
                There is the magical work: "yet".<br>
                Great news: You can help us get there.<br>
            </p>

            <p>
                Newest feature: <a href="{% url "features:feature_list" %}">{{ feature }}</a>.
            </p>

            <p>
                Feel free to tell me what is wrong.. or what you want. ;)<br/>
                <a href="mailto:eraldo@colegend.org?Subject=[CoLegend]%20Feedback" target="_blank">
                    >> Feedback</a>
            </p>
        </div>

    </div>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $('#intro').on('hidden.bs.modal', function () {
            $('#intro iframe').removeAttr('src');
        })
        $('#intro').on('shown.bs.modal', function () {
            $('#intro iframe').attr('src', "//www.youtube.com/embed/enNpHIV2Ys8")
        })
    </script>
{% endblock %}
