{% extends 'page.html' %}
{% load bootstrap3 %}
{% load icons %}

{% block page_title %}
    Welcome {{ user|title }}
{% endblock %}

{% block up_url %}{% url "home" %}{% endblock %}


{% block page_controls %}
    <a href="{% url "manager:agenda" %}" class="btn btn-default" role="button" data-toggle="tooltip" title="View Agenda"
       data-placement="bottom">{% icon "agenda" %}</a>
    <a href="{% url "journals:dayentry_continue" %}" class="btn btn-default" role="button" data-toggle="tooltip"
       title="Current Journal Entry" data-placement="bottom">{% icon "journal" %}</a>
    <a href="{% url "projects:project_new" %}" class="btn btn-default" role="button" data-toggle="tooltip"
       title="New Project" data-placement="bottom">{% icon "new" %} {% icon "project" %}</a>
    <a href="{% url "tasks:task_new" %}" class="btn btn-default" role="button" data-toggle="tooltip" title="New Task"
       data-placement="bottom">{% icon "new" %} {% icon "task" %}</a>
    {% if user.is_manager %}
        <div class="pull-right">
            <a href="{% url "message" %}" class="btn btn-warning" role="button" data-toggle="tooltip"
               title="New Member Notification"
               data-placement="bottom">{% icon "new" %} {% icon "notification" %}</a>
            <a href="{% url "news:newsblock_new" %}" class="btn btn-warning" data-toggle="tooltip"
               title="New News" data-placement="bottom">{% icon "new" %} {% icon "news" %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block page_title_extras %}
    <span data-toggle="tooltip" title="Topic of the year">
        <span class="label label-info">{{ topic_of_the_year }}</span>
    </span>
{% endblock %}

{% block page_content %}
    {% if quote %}
        <div class="well well-sm">
            {% include "quotes/_quote.html" %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            {% for newsblock in newsblocks %}
                <div class="well">
                    {% include "news/_newsblock.html" %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for newsblock in sticky_newsblocks %}
                <div class="well">
                    {% include "news/_newsblock.html" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
