{% extends 'base.html' %}
{% load bootstrap3 %}


{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>Welcome {{ user|title }}</h1>
    <div class="well">
        <h2>{{ newsblock }}</h2>
        <p>{{ newsblock.description|linebreaksbr }}</p>
        <a href="{% url "contact" %}" class="btn btn-primary">Feedback</a>
        <a href="{% url "news:newsblock_list" %}" class="btn btn-default">News Archive</a>
        <footer><cite class="small pull-right">— created
            by {{ newsblock.owner }} on {{ newsblock.date }}</cite></footer>
    </div>
    {% if quote %}
        <div class="well well-sm">
            {% include "quotes/_quote.html" %}
        </div>
    {% endif %}
{% endblock %}
