{% extends 'page.html' %}

{% block page_title %}
    Search
{% endblock %}

{% block page_controls %}
    <form action="{% url 'search' %}" method="GET">
        <input type="text" name="q" class="form-control" placeholder="search..." value="{{ request.GET.q }}">
    </form>
{% endblock %}

{% block page_content %}
    <h2>projects</h2>
    {% include 'projects/_project_list.html' %}
    <h2>tasks</h2>
    {% include 'tasks/_task_list.html' %}
    <h2>routines</h2>
    {% include 'routines/_routine_list.html' %}
    <h2>habits</h2>
    {% include 'habits/_habit_list.html' %}
    <h2>tags</h2>
    {% include 'tags/_tag_list.html' %}
{% endblock %}
