{% extends 'page.html' %}

{% block extra_head %}
    {{ block.super }}
{% endblock %}

{% block page_title %}
    Test Page
{% endblock %}

{% block page_title_extras %}badge-demo{% endblock %}
{% block page_controls %}controls{% endblock %}

{% block page_content %}
    <h1>tests</h1>
    <h2>temp</h2>
    <h2>Chart</h2>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Status', 'Tasks'],
          ['Next',     11],
          ['Todo',      2],
          ['Waiting',  2],
          ['Someday', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'Tasks'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

    <div id="piechart" style="width: 900px; height: 500px;"></div>
{% endblock %}
