{% extends 'base.html' %}
{% load cards_tags %}

{% block title %}Game{% endblock %}

{% block content_class %}
{% endblock %}

{% block pre_content %}
    <blockquote class="blockquote bg-content">
        <p>
            Life is not a game. Still, in this life, we choose the games we live to play.
        </p>
        <footer>
            <cite title="Source Title">by J. R. Rim</cite>
            <span class="pull-right">shared by Dancing Monkey Comedian</span>
        </footer>
        <div class="clearfix"></div>
    </blockquote>

    <p>
        {% include 'game/chats/introduction.html' %}
    </p>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            {% include 'cards/widgets/deck.html' with covered=True %}
        </div>
        {% for card in cards %}
            <div class="col-lg-3 col-sm-6">
                {% card %}
            </div>
        {% endfor %}
    </div>
    </div>
    </div>

{% endblock %}
