/* Move down content because we have a fixed navbar that is 50px tall */

@import url("/static/projects/css/projects.css");
@import url("/static/tasks/css/tasks.css");
@import url("/static/routines/css/routines.css");
@import url("/static/habits/css/habits.css");
@import url("/static/status/css/status.css");
@import url("/static/lib/css/priority.css");
@import url("/static/tags/css/tags.css");

/* fonts */
@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu.ttf');
    src: local('ubuntu'), url('../fonts/ubuntu.ttf') format('truetype');
}
/* end fonts */


/* general */
body.body {
    padding-top: 50px;
    font-family: 'ubuntu', Georgia, serif;
}

.inline {
    display: inline;
}
/* end general */


/* messages */
#messages .alert {
    margin-bottom: 0px;
}
/*end messages*/


/* menu */
.navbar-brand.navbar-logo {
    padding-top: 0px;
    padding-bottom: 0px;
}

img#logo {
    display: inline-block;
    max-height: 40px;
    padding-top: 10px;
    /*padding-bottom: 5px;*/
}

#menu a#profile-dropdown {
    padding-top: 5px;
    padding-bottom: 0px;
    /*background-color: red !important;*/
}
/* end menu */

/* avatar */
div.avatar img {
    max-height: 110px;
    max-width: 110px;
}
/* end avatar */

/* django-cirspy-forms */
.asteriskField {
    color: darkred;
}
/* end django-cirspy-forms */
