/* Move down content because we have a fixed navbar that is 50px tall */
@import url("/static/projects/css/projects.css");
@import url("/static/tasks/css/tasks.css");
@import url("/static/routines/css/routines.css");
@import url("/static/habits/css/habits.css");
@import url("/static/status/css/status.css");
@import url("/static/lib/css/priority.css");
@import url("/static/tags/css/tags.css");

/* fonts */
@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu.ttf');
    src: local('ubuntu'), url('../fonts/ubuntu.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntu-mono';
    src: url('../fonts/ubuntu-mono.ttf');
    src: local('ubuntu-mono'), url('../fonts/ubuntu-mono.ttf') format('truetype');
}

/* end fonts */

/* general */
body.body {
    padding-top: 50px;
    font-family: 'ubuntu', Georgia, serif;
}

.inline {
    display: inline;
}

/* end general */

/* page */
.page-head {
    display: block;
    margin-top: 20px;
    margin-bottom: 4px;
}

.page-navigation, .page-navigation h1 {
    display: inline;
}

.page-navigation .back-link {
    color: #777;
    text-decoration: none;
}

.page-title, .page-title h1 {
    display: inline;
}

.page-extras {
    display: inline;
}

.page-status-none {
    color: #777;
}

.page-status-ok {
    color: green;
}

.page-status-warning {
    color: orange;
}

.page-status-danger {
    color: red;
}

/* end page */

/* messages */
#messages .alert {
    margin-bottom: 0px;
}

/*end messages*/

/* menu */
.navbar-brand.navbar-logo {
    padding-top: 0px;
    padding-bottom: 0px;
}

img#logo {
    display: inline-block;
    max-height: 40px;
    padding-top: 10px;
    /*padding-bottom: 5px;*/
}

#menu a#profile-dropdown {
    padding-top: 5px;
    padding-bottom: 0px;
    /*background-color: red !important;*/
}

/* end menu */

/* avatar */
div.avatar img {
    max-height: 110px;
    max-width: 110px;
}

/* end avatar */

/* footer */
#footer:hover div#footer-content {
    visibility: visible;
    /* for animation (transition) */
    opacity: 1;
    transition-delay: 0s;

}

#footer-content {
    border-top: solid 1px #e7e7e7;
    text-align: center;
    color: #777;
    margin-top: 10px;
    /* hidden by default */
    visibility: hidden;
    /* for animation (transition) */
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

/* end footer */

/* django-cirspy-forms */
.asteriskField {
    color: darkred;
}

/* end django-cirspy-forms */

/* system role colors */
.label.bg-mentor {
    background-color: orange;
}

.label.bg-manager {
    background-color: blue;
}

.label.bg-motivator {
    background-color: purple;
}

.label.bg-operator {
    background-color: black;
}

/* end system role colors */

span.streak {
    background-color: green;
}
