{% extends 'base/chat.html' %}

{% block chat_title %}
    Hello fellow..
{% endblock %}

{% block chat_content %}
    <p>
        It’s time to get you into contact with other fellow legends. For this we have Slack. It’s a chat with topic
        specific channels - for example to ask questions about coLegend in the Support Channel - and private
        conversation options.
    </p>
    <p>
        So on the next page just follow the steps and you’re ready to go ;-)
    </p>
{% endblock %}

{% block chat_answers %}
    <form action="" method="post">{% csrf_token %}
        <button id="chat-introduction-success" name="success" type="submit" class="list-group-item">
            Yes, let’s get it started!
        </button>
    </form>
{% endblock %}
