{% extends 'chat/base.html' %}
{% load core_tags %}

{% block title %}Slack Invitation{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <p>
            <h4>NEXT STEPS</h4>
            </p>
            <ol>
                <li>Send yourself a chat invitation to: <br>
                    <strong>{{ user.email }}</strong>
                </li>
                <br>
                <li>Check your email account for the registration link and click it.
                </li>
                <br>
                <li>Register with your username: <br>
                    <strong>{{ user.username }}</strong>
                </li>
                <br>
                <li>Tell us when you are done: <br>

                    <form action="" method="post">{% csrf_token %}
                        <button id="chat-invitation-success" name="success" type="submit" class="btn btn-success">
                            I'm done
                        </button>
                    </form>
                </li>
            </ol>
            <hr>
            <p>
                Have fun chatting. :D
            </p>

            <p>
                In case you need anything: There is also a <i>support channel</i> in the chat.
            </p>

            <p>
                If you can't get there - please <a href="mailto:connect@colegend.org">contact us</a>.
            </p>
        </div>
        <div class="col-lg-6">
            <div id="chat-invitation-form" class="text-center">
                <div id="load-text">{% icon 'spinner' pulse=True %} Loading</div>
                <iframe src="https://slack.colegend.org/" frameborder="0" width="316" height="380" scrolling="no"
                        style="overflow-y:hidden; position: relative; top: 0;" onload="$('#load-text').text('');">
                </iframe>
            </div>
        </div>

    </div>
{% endblock %}
