{% extends 'page.html' %}
{% load icons %}

{% block page_title %}
    {{ tag }}
{% endblock %}

{% block up_url %}{% url "tags:tag_list" %}{% endblock %}

{% block page_controls %}
    <a href="{{ tag.get_edit_url }}" class="btn btn-primary" role="button">{% icon "edit" %}</a>
    <a href="{{ tag.get_delete_url }}" class="btn btn-danger" role="button">{% icon "delete" %}</a>
{% endblock %}

{% block page_title_extras %}
    {% include "categories/_category_field.html" with category=object.category %}
{% endblock %}

{% block page_content %}
    <div class="well well-sm">
        {{ tag.description }}
        <h2>Items</h2>

        <div class="row">
            <div class="col-md-4">
                <h3>Projects</h3>
                {% for project in tag.projects.all %}
                    {% include "projects/_project_link.html" %}<br/>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h3>Tasks</h3>
                {% for task in tag.tasks.all %}
                    {% include "tasks/_task_link.html" %}<br/>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h3>Journal Entries</h3>
                {% for dayentry in tag.journals.all %}
                    {% include "journals/_dayentry_link.html" %}<br/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
