{% load static %}
<div class="card bg-content" style="border-radius: 10%; min-height: 20em; border: solid 0.1em;">
    {% if covered %}
        <div class="card-block text-center">
            <img class="card-img-top img-responsive" src="{% static 'images/coLegendLogo.png' %}" alt="Card image cap"
                 style="padding-top: 50%;">
            DECK
        </div>
    {% else %}
        <div class="card-block">
            <img class="card-img-top img-responsive" src="{{ source }}"
                 alt="{{ title }} image">
            <h4 class="card-title">{{ title }}</h4>

            <p class="card-text">
                {{ content|linebreaks }}
        </div>
    {% endif %}
</div>
